<div class="page-header subpages" id="hero" style="background:url(../../assets/search-bg.jpg)">
  <div class="overlay" style="background: url(../../assets/overlay-search.png);"></div>
  <div class="content">
    <h1 class="big-title">Cookies Policy</h1>
  </div>
</div> 
<div class="container subpage-content">
	<div class="row">
		<div class="col">
        <h2 class="black-title">Seafood Souq General Trading LLC Website Cookies Policy
</h2>

<p class="p5"><strong>INFORMATION ABOUT OUR USE OF </strong><span class="s1"><strong>COOKIES</strong></span>&nbsp;&nbsp;</p>
<p class="p5">&nbsp;</p>
<p class="p5">Our <span class="s1">website</span> uses <span class="s1">cookies</span> to distinguish you from other users of our <span class="s1">website</span>. This helps us to provide you with <span class="s1">a</span> good experience when you browse our <span class="s1">website</span> and also allows us to improve our site. By continuing to browse the site, you are agreeing to our use of <span class="s1">cookies</span>.</p>
<p class="p5">&nbsp;</p>
<p class="p5"><span class="s1">A</span> <span class="s1">cookie</span> is <span class="s1">a</span> small file of letters and numbers that we store on your browser or the hard drive of your computer if you agree. <span class="s1">Cookies</span> contain information that is transferred to your computer&rsquo;s hard drive.</p>
<p class="p5">&nbsp;</p>
<p class="p5">We use the following <span class="s1">cookies</span>:</p>
<p class="p5">&nbsp;</p>
<ul class="ul1">
<li class="li6"><strong>Strictly necessary cookies. These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website, use a shopping cart or make use of e-billing services.</strong></li>
<li class="li6"><strong>Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily.</strong></li>
<li class="li6"><strong>Functionality cookies. These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).</strong></li>
</ul>
<p class="p7">&nbsp;</p>
<p class="p5">Please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use <span class="s1">cookies</span>, over which we have no control. These <span class="s1">cookies</span> are likely to be analytical/performance <span class="s1">cookies</span> or targeting <span class="s1">cookies</span>.</p>
<p class="p5">&nbsp;</p>
<p class="p5">You block <span class="s1">cookies</span> by activating the setting on your browser that allows you to refuse the setting of all or some <span class="s1">cookies</span>. However, if you use your browser settings to block all <span class="s1">cookies</span> (including essential <span class="s1">cookies</span>) you may not be able to access all or parts of our site.</p>


      </div>
    </div>
  </div>