<div class="container" >
	<div class="row">
		<div class="col-12 text-center" *ngIf="showLoading"><img src="../../assets/loader.gif" alt=""></div>
		<div class="col-12"><h3 class="black-title">{{'Buyer.title' | translate}}</h3></div>
		<div class="col-12 table-design">
	        <div class="row row-bg" *ngFor="let user of users; let i=index">
	          <div class="col-lg-12">
	            <h2 class="name">
	              {{user.firstName}} {{user.lastName}}
	              <img src="../../assets/trash-icon.png" alt="" (click)="deleteUser(user.id)" class="delete">
	              <fa name="pencil" class="edit" (click)="showEditForm(user.id)" data-toggle="modal" data-target="#editForm"></fa>
	            </h2>
	          </div>
	        </div>
	    </div>
	</div>
</div>
<div class="modal fade" id="editForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'Buyer.edit-title' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form [formGroup]="buyerForm" (submit)="editUser()" class="form-design">
		        <div class="form-group">
		        	<label>{{'Buyer.first-name' | translate}}</label>
		          <input type="text" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid':buyerForm.get('firstName').invalid && buyerForm.get('firstName').touched}">
		          <div class="invalid-feedback" *ngIf="buyerForm.get('firstName').hasError('required')">{{'Buyer.first-name' | translate}} {{'Buyer.required' | translate}}.</div>
		        </div>
		        <div class="form-group">
		        	<label>{{'Buyer.last-name' | translate}}</label>
		          <input type="text" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid':buyerForm.get('lastName').invalid && buyerForm.get('lastName').touched}">
		          <div class="invalid-feedback" *ngIf="buyerForm.get('lastName').hasError('required')">{{'Buyer.last-name' | translate}} {{'Buyer.required' | translate}}.</div>
		        </div>
		        <div class="form-group">
		        	<label>{{'Buyer.email' | translate}}</label>
		          <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid':buyerForm.get('email').invalid && buyerForm.get('email').touched}">
		          <div class="invalid-feedback" *ngIf="buyerForm.get('email').hasError('required')">{{'Buyer.email' | translate}} {{'Buyer.required' | translate}}.</div>
		          <div class="invalid-feedback" *ngIf="buyerForm.get('email').hasError('email') && !buyerForm.get('email').hasError('required')">{{'Buyer.email' | translate}} {{'Buyer.invalid' | translate}}</div>	
		        </div>
		        <div class="form-group">
		        	<label>{{'Buyer.tel' | translate}}</label>
		          <input type="text" class="form-control" formControlName="tel">
						</div>
						
						<div class="form-group">
							<label>{{'Register.company' | translate}}<span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="{{'Register.company' | translate}}" formControlName="companyName" >
						</div>

						<div class="form-group">
              <label>Type of Business<span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="Type of Business" formControlName="TypeBusiness">              
            </div>
						
						
						<div style="display:none;" class="form-group">
		        	<label>{{'Buyer.banking' | translate}}</label>
		          <textarea type="text" class="form-control" formControlName="fullBakingInfo"></textarea>
						</div>
						
						
						<div class="form-group">
							<label>{{'Register.Address' | translate}}<span class="field-status red">*</span></label>
							<input type="text" class="form-control" placeholder="{{'Register.Address' | translate}}" formControlName="Address"  >
						</div>
						

		        <div class="form-group">
		        	<label>{{'Buyer.country' | translate}}</label>
		          <select class="form-control" formControlName="country" [ngClass]="{'is-invalid':buyerForm.get('country').invalid && buyerForm.get('country').touched}">								 
								 <option value="{{country.code}}" *ngFor="let country of countries">{{country.name}}</option>
		          </select>
		          <div class="invalid-feedback" *ngIf="buyerForm.get('country').hasError('required')"> {{'Buyer.country' | translate}} {{'Buyer.required' | translate}}.</div>
						</div>
						
						<div class="form-group">
              <label>{{'Register.City' | translate}}<span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="{{'Register.City' | translate}}" formControlName="City" >              
            </div>


		        <div class="form-group">
		          <input type="submit" class="btn-red" value="{{'Buyer.save' | translate}}" [disabled]="buyerForm.invalid">
		        </div>
	      	</form>
      </div>
  </div>
</div>
</div>