.container{
	padding-top: 100px;
}
.black-title{
	text-align: center;
}
.black-btn{
	display: inline-block;
    color: white !important;
    cursor: pointer;
}
.delete{
	cursor: pointer;
    color: #ec4343;
}