.firstSection{
	background: rgba(230, 230, 230, 0.2);
}
.container{
	padding-top: 100px;
}
.black-title{
	text-align: center;
}
.black-btn{
	display: inline-block;
    color: white !important;
    cursor: pointer;
    margin:20px 0
}
.delete{
	cursor: pointer;
    color: #ec4343;
}
.table-cont{
    height: 300px;
    overflow-y: scroll;
    background: white;
}
.save{
	cursor: pointer;
	color:#3838e0
}