<div class="gray-bg">
  <div class="page-header seafoodFormContainer" id="hero" >
    <div class="container-fluid">
      <div class="row" id="content-form">
        <div class="col-lg-9 gray-light-side padding-0" id="content_light">
           <div class="row login-nav-logo" >
        <div  [className]="buyer ? 'text-left col-lg-12 ' : 'text-right col-lg-12 '" id="nav_content_light">
          <a *ngIf="buyer" routerLink="/"><img src="../../../assets/svg/sfs-logo.svg" alt="Logo" class="logo"></a> 
          <a *ngIf="!buyer" class="nav-link" routerLink="/login" style="display: initial;">Login</a>
          <p>SWIPE RIGHT FOR SELLER</p>
          <a  class="nav-link custom-nav-link" routerLink="/login" style="display: initial;">Login</a>
        </div>
       
      </div>
          <app-registration-buyer *ngIf="buyer"></app-registration-buyer>
          <app-registration-seller *ngIf="!buyer"></app-registration-seller>
        </div>

        <div class="col-lg-3  side-dark-gray " id="content_dark">
            <div class="row login-nav-logo" >
        <div  [className]="buyer ? 'text-right col-lg-12 '  : 'text-left col-lg-12 ' " id="nav_content_dark">
            <a  *ngIf="!buyer" routerLink="/"><img src="../../assets/svg/sfs-logo-white.svg" alt="Logo" class="logo"></a> 
          <a  *ngIf="buyer"class="nav-link" routerLink="/login">Login</a>
        </div>
      </div>
        <div class="content-side">
            <div class="row">
                <div class="col lg-12">
                    <h1 id="dark-side-title">wanto to sell?</h1> 
                </div>
                <div class="col-lg-12">
                    <p id="dark-side-p">Well, what are you waiting for? That fish isn't going to sell itself...</p>
                </div>
                <div class="col-lg-12">
                    <button id="dark-side-btn" (click)="switchToSell()" class="clear-btn">I'M A SELLER</button>
    
                </div>
              </div>
        </div>
        
      </div>
      </div>
    </div>
  </div>
</div> 
<div class="container-confirmation" *ngIf="!showConfirmation">
    <div class="content">
      <h1>{{'Register.message' | translate}}</h1>
      <a routerLink="/"><h2>{{'Register.submessage' | translate}}</h2></a>
    </div>
   </div> 