<div class="container">
	<div class="row">
    <div class="col-12">
      <h3 class="black-title">{{'ShippingRates.title'| translate}}</h3>
    </div>
    <div class="col-12"><h3 class="black-title">{{'ShippingRates.formTitle' | translate}}</h3>       
      <a [routerLink]="['/port-loading-management']" >
        {{'ShippingRates.addPortOfLoading' | translate}}
      </a>
    </div>
    <div class="col-md-12">
      <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()" class="form-design">
        <div class="row">

          <div class="col-lg-3">
            <div class="form-group" >
              <label>{{'ShippingRates.country' | translate}}</label>
              <select (change)="getCities()" class="form-control" id="sellerCountry" formControlName="sellerCountry">                
                <option value="{{country.code}}" *ngFor="let country of countries">{{country.name}}</option>
              </select>
             
            </div>
          </div>

          <div class="col-lg-3">
            <div class="form-group" >
              <label>{{'ShippingRates.city' | translate}}</label>              
              <select class="form-control" id="sellerCity" formControlName="sellerCity">                
                <option value="{{city.code}}" *ngFor="let city of cities">{{city.name}}</option>
              </select>
             
            </div>
          </div>
          
          
          <div class="col-lg-2">
            <div class="form-group" >
              <label>{{'ShippingRates.weight' | translate}}</label>
              <input type="number" class="form-control" formControlName="weight" required>
            </div>
          </div>              
              
          <div class="col-lg-2">
            <div class="form-group" >
              <label>{{'ShippingRates.cost' | translate}}</label>
              <input type="number" class="form-control" formControlName="cost" required>
              <input type="hidden" formControlName="type" value="Kilo"> 
              <input type="hidden" formControlName="operation" value="Under">                
            </div>
          </div>
          <div class="col-lg-2">
            <button type="submit" class="btn-red">Save</button>
          </div>
        </div>
        
        
      </form>
    </div>
   
  </div>
  <div class="row">
    <div class="col-12"><h3 class="black-title">{{'ShippingRates.title' | translate}}</h3></div>
    <div class="col-md-6">
      <div class="form-group" >
        <label>{{'ShippingRates.filterByCountry' | translate}}</label>
        <select (change)="getShippingCities()" class="form-control" id="filterCountry">          
          <option value="{{country.code}}" *ngFor="let country of shippingCountries">{{country.name}}</option>
        </select>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group" >
        <label>{{'ShippingRates.filterByCity' | translate}}</label>
        <select class="form-control" id="filterCity">          
          <option value="{{city.code}}" *ngFor="let city of shippingCities">{{city.name}}</option>
        </select>
        
      </div>
    </div>
    <div class="col-12 table-design">
      <div class="row row-bg" *ngFor="let shippingItem of shippingRateLists; let i=index">
        <div class="col-lg-12">
          <h5 class="sellerCountry">
            {{shippingItem.sellerCity}},
            {{shippingItem.sellerCountry}}
            {{shippingItem.operation}}
            {{shippingItem.weight}}
            {{shippingItem.type}}
            AED {{shippingItem.cost}}
            <img src="../../assets/trash-icon.png" alt="" (click)="deleteShippingItem(shippingItem.id)" class="delete">
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>