<div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="black-title">{{'ItemStatus.title' | translate}}</h2>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
              <div class="form-group" >
                  <label>{{'ItemStatus.status' | translate}}</label>
                  <select class="form-control" name="status" [(ngModel)]="status" (change)="getOrders()" [value]='0' >
                      <option value="0" selected="selected">Select an Option</option>
                      <option *ngFor="let item of orderStatus;"  [ngValue]="item.id"> {{item.status}}</option>
                  </select>
                </div>
            
          </div>
            <div class="col-4">
              <div class="form-group" >
                <label>{{'ItemStatus.orderNumber' | translate}}</label>
                <input type="text" class="form-control" [(ngModel)]="orderNumber" (keyup.enter)="getOrders()"  placeholder="search by Order Number">
              </div>
            </div>
            <div class="col-4">
              <button class="pink-btn" (click)="clear()">Clear filter</button>
            </div>
          <div class="col-12" style="margin-top: 20px; margin-bottom: 20px" *ngIf="!showNoData">
              <div class="col-12 table-design">
                <div class="row row-bg" *ngFor="let item of orders  ;let i=index ">
                  <div class="col-5">
                    <p *ngIf="item.shoppingCart" class="order-number">Order #{{item.shoppingCart.orderNumber}}</p>                
                    <h5 [innerHtml]="item.fish.name"></h5>                
                    <span *ngIf="item.store" class="store">{{item.store.name}}</span>               
                    <p *ngIf="item.status" class="status"><b>Status: </b>{{item.status.status}}</p>
                    <p class="qty">Quantity {{item.quantity.value}} kg</p>  
                    <p class="total">Total: {{((item.quantity.value * item.price.value ) + item.shipping + item.customs + item.uaeTaxes + item.sfsMargin) | currency:'AED '}}</p>
                  </div>
                  <!--<div class="col-4">
                    <p class="date" *ngIf="item.shippedAt" ><strong>Shipped on {{item.shippedAt *1000 | date: 'EEEE, MMMM d, y'}} </strong></p>
                    <p class="date" *ngIf="item.arrivedAt"><strong>Arrived on {{item.arrivedAt *1000 | date: 'EEEE, MMMM d, y'}} </strong></p>
                    <p class="date" *ngIf="item.outForDeliveryAt"><strong>Out for Delivery on {{item.outForDeliveryAt *1000 | date: 'EEEE, MMMM d, y'}} </strong></p>
                    <p class="date" *ngIf="item.deliveryAt"><strong>Delivered on {{item.deliveryAt*1000 | date: 'EEEE, MMMM d, y'}} </strong></p>
                    <p class="date" *ngIf="item.CancelAt"><strong>Cancel on {{item.CancelAt*1000 | date: 'EEEE, MMMM d, y'}} </strong></p>                  
                  </div>-->
                  <div  class="col-4">
                    <div *ngIf="item.updateInfo">
                      <p class="date" *ngFor="let update of item.updateInfo;" >
                        <strong>{{update.action}} on {{update.at*1000 | date: 'EEEE, MMMM d, y, HH:mm'}} <br> by {{update.by}} </strong>
                      </p>
  
                    </div>
                  </div>
                  <div class="col"  *ngIf="item.status">                  
                    <!--<select class="form-control" name="status" #device (change)="confirmUpdatestatus($event.target.value, item.id)" >
                        <option *ngFor="let sitem of orderStatus;" [selected]="item.status.id == sitem.id" [ngValue]="sitem.id"> {{sitem.status}}</option>
                    </select>-->
                    <button *ngIf="item.status.id == '5c017ae247fb07027943a404' || item.status.id == '5c017af047fb07027943a405'" (click)="showModal(item.id)" class="btn-red-a">{{'ItemStatus.cancelItem' | translate}}</button>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" *ngIf="showNoData" style="margin-bottom: 20px;">
              <h2 class="black-title">No records found</h2>
            </div>
          </div>
        
    </div>
    </div>
  
    <div class="modal fade" id="confirmUpdateStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Update Item Status</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col">
                <!--<h5 style="font-family: 'Roboto', sans-serif; text-align: left;font-size: 1.2rem">User</h5>-->
                  <h5>you want to update the status to {{selectedStatus}}?</h5>
                  <button type="button" (click)="updateStatus()" class="button pink-btn">Update</button>
              </div>					
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="text-align: center;">Are you sure? </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <button (click)="confirm(true)" class="blue-btn">Yes</button>
            <button (click)="confirm(false)" class="blue-btn-light">No</button>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>