<div class="gray-bg">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="fqa-title">HELLO, HOW CAN WE HELP?</h1>
        </div>
        <div class="col-lg-12 text-center">
          <div class="filter-field">
            <input type="text" placeholder="Ask a question..." id="filter" >
            <img src="../../assets/svg/magnify.svg" alt="">
          </div>
          <p class="gray-text">Or choose a category to quickly find the help you need</p>
        </div>
      </div>

      <div class="row tabs-faq">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="slidinTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">General</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Orders</a>
                </li>
               
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="accordion" id="accordionGeneral">
                      <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is Marketplace? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGeneral">
                                  <div class="card-body">
                                      Marketplace is an online B2B marketplace that gives buyers the tools to order all their food in one place, direct from any local & international seller. 

                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        What does an open, free market mean? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGeneral">
                                  <div class="card-body">
                                      This means that all food buyers and sellers can register to use our online marketplace - for free                                  </div>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        How are we different from food Distributors? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGeneral">
                                  <div class="card-body">
                                     <ul>
                                       <li>Our online marketplace aims to be your one-stop-shop for all your food needs, we want to make your life easier by giving you the tools to order all your products in one place.</li>
                                       <li>For the first time you have the ability to choose where your food is coming from through our online catalogue where you can search for products based on your own choice of filters i.e. origin, treatment, capture methods and many more.  
                                        </li>
                                        <li>Marketplace gives you the tools to order direct from source which helps save on warehousing costs, ensure maximum freshness of products and guarantee 100% traceability.</li>
                                      </ul>                                  
                                    </div>
                                </div>
                              </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="true" aria-controls="collapseFourth">
                                        What does direct from source mean? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapseFourth" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGeneral">
                                  <div class="card-body">
                                      No warehousing, no storage. <br>
                                      Your order will be shipped from the producer e.g. food producers, Fishermen, food farms, direct to your establishment - from Sea to B.
                                  </div>
                                </div>
                              </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFifth" aria-expanded="true" aria-controls="collapseFifth">
                                        What do you mean 100% traceability? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapseFifth" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGeneral">
                                  <div class="card-body">
                                      By ordering direct from source you are guaranteed 100% traceability. Your product is tracked from the moment it is caught until it is delivered to you. 

                                  </div>
                                </div>
                              </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                        How much does it cost to use Marketplace? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapse6" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGeneral">
                                  <div class="card-body">
                                      Marketplace is 100% free to sign up, all it costs is a few minutes of your time to register.
                                  </div>
                                </div>
                              </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                                        Where do you deliver to? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapse7" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGeneral">
                                  <div class="card-body">
                                      Currently we offer delivery services to Dubai only. <br>
                                      Please let us know if you would like us to service your region by sending us an email to <a href="mailto:hello@seafood souq.com">hello@seafood souq.com</a> so we can keep you updated on our expansion plans.

                                  </div>
                                </div>
                              </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                                        What is your logistics network? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapse8" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGeneral">
                                  <div class="card-body">
                                      We work with Emirates Skycargo to fly your product direct from international sellers to Dubai. Marketplace will then deliver your order straight from the airport. This ensures no violation of temperature control and allows us to ensure our high quality standards all the way through to last mile. All of our delivery vehicles are refrigerated and certified by Dubai Municipality and RTA.
                                  </div>
                                </div>
                              </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                  <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                                        Do I have to pay additional customs and charges? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                    </button>
                                  </h2>
                                </div>
                            
                                <div id="collapse9" class="collapse" aria-labelledby="headingOne" data-parent="#accordionGeneral">
                                  <div class="card-body">
                                      No. One of our key pillars is to be fully transparent with our pricing. When you go to your cart you can view a full breakdown of pricing - the price the seller sets plus shipping, taxes & fees.
                                    </div>
                                </div>
                              </div>
                        </div>



                      </div>

                      </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="accordion" id="accordionOrders">
                        <div class="row">
                          <div class="col-lg-6">
                              <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          What is the minimum order quantity (MOQ)? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOrders">
                                    <div class="card-body">
                                        This varies depending on the seller you order from. MOQ’s are clearly stated above each product on our online catalogue.  
                                    </div>
                                  </div>
                                </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                          What payment methods do you accept? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOrders">
                                    <div class="card-body">
                                        Cash on Delivery or for online payments we accept Visa/Mastercard Credit and Debit Cards and Procurement Cards                                </div>
                                  </div>
                                </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                          Where is my order? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOrders">
                                    <div class="card-body">
                                        You can track your order at any time by logging into your Marketplace account and going to ‘My Orders’. Here you can see your order status which will be updated at every stage.  We’ll also send you an email reminder each time your status is updated.                                  
                                      </div>
                                  </div>
                                </div>
                          </div>
  
                          <div class="col-lg-6">
                              <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="true" aria-controls="collapseFourth">
                                          When will my order be delivered? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div id="collapseFourth" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOrders">
                                    <div class="card-body">
                                        When you view a product you can see the  ‘delivered by’ date. You will receive your order on this date between 7am - 4pm.
                                    </div>
                                  </div>
                                </div>
                          </div>
  
                          <div class="col-lg-6">
                              <div class="card">
                                  <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFifth" aria-expanded="true" aria-controls="collapseFifth">
                                          What if I have a question/ need some help? <img class="plus" src="../../assets/svg/plus.svg" alt=""> <img class="less" src="../../assets/svg/minus.svg" alt="">
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div id="collapseFifth" class="collapse" aria-labelledby="headingOne" data-parent="#accordionOrders">
                                    <div class="card-body">
                                        If you need help with anything from registration through to order queries you can contact us at <a href="mailto:buyers@seafood .com">buyers@seafood .com</a>  <br>
                                        For general enquiries please contact us at <a href="mailto:hello@seafood souq.com ">hello@seafood souq.com </a> 
  
                                    </div>
                                  </div>
                                </div>
                          </div>
  
                        
  
                        </div>
  
                        </div>
                </div>
              </div>
        </div>
        
      </div>
  </div>
</div>