.black-title{
    margin-bottom: 20px;
}
.delete{
	cursor: pointer;
    color: #ec4343;
}
.form-group{
    background: #ebf1f6!important;
    border-radius: 6px;
    padding: 10px;
    label{
        font-family: 'Roboto', sans-serif
    }
}
.container{
    padding-top: 150px;
}
