<div class="container">
	<div class="row">
		<div class="col-12"><h3 class="black-title">{{'Featured-seller.title' | translate}}</h3></div>
    <div class="col-12 table-design">
      <div class="row row-bg" *ngFor="let featureList of featureLists; let i=index">
        <div class="col-lg-12">
          <h2 class="name">
            {{featureList.name}}
            <img src="../../assets/trash-icon.png" alt="" (click)="deletefeatureList(featureList.id)" class="delete">
          </h2>
        </div>
      </div>
    </div>
	</div>
	<div class="row">
    <div class="col-12">
      <h2 class="black-title">{{'Featured-seller.table-title' | translate}}</h2>
      <div style="margin-bottom: 20px;" class="form-group">
        <label>{{'Featured-seller.store' | translate}}</label><br>
        <select class="js-example-basic-single stores" name="stores" data-placeholder="Select Store">
          <option value=""></option>
          <option value="{{store.id}}" *ngFor="let store of stores">{{store.name}}</option>
        </select>
      </div>
      <div class="col-12 table-design">
        <div class="row row-bg" *ngFor="let featureStore of featureStores; let i=index">
          <div class="col-lg-12">
            <h2 class="name">
              {{featureStore.name}}
              <img src="../../assets/trash-icon.png" alt="" (click)="deleteFeatureStore(i)" class="delete">
            </h2>
          </div>
        </div>
      </div>
      <a class="btn-red-a" (click)="saveFeatures()" style="margin-top: 20px;">{{'Featured-seller.save' | translate}}</a>
    </div>
  </div>
</div>