<div class="container">
    <div style="height: 100px;"></div>

  <div class="row">
    <div class="col-lg-3">
      <h1 class="title">Checkout</h1>
      <h1 class="subtitle">Billing Details</h1>
      <div class="shipping-details table-checkout">
        <h5>Shipping Information</h5>
        <table>
          <tr>
            <td><b> Address</b></td>
            <td>{{info?.dataExtra?.Address}}</td>
          </tr>
          <tr>
              <td><b>City</b></td>
              <td>{{info?.dataExtra?.City}}</td>
            </tr>
            <tr>
                <td><b>Country</b></td>
                <td>{{info?.dataExtra?.country}}</td>
              </tr>
              <tr>
                  <td><b>Zipcode</b></td>
                  <td>{{info?.dataExtra?.zipCode}}</td>
                </tr>
        </table>
        
      </div>
    </div>
    <div class="col-lg-9">
      <form #form  action="https://sbcheckout.PayFort.com/FortAPI/paymentPage" method="POST" ngNativeValidate (ngSubmit)="form.submit()">
        <div class="row">
          <div class="col-lg-12">
              <div class="form-group">
                  <label>Card Number</label>
                  <input type="number" class="form-control" name="card_number" required>

                </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group">
                  <label>Card Security Code</label>
                  <input type="number" class="form-control" name="card_security_code" required>

                </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group">
                  <label>Expiration</label>
                  <input type="number" class="form-control" name="expiry_date" required>
                  <input type="hidden" name="access_code" [(ngModel)]="accessToken">
                  <input type="hidden" name="language" value="en">
                  <input type="hidden" name="merchant_identifier" [(ngModel)]="merchantID">
                  <input type="hidden" name="merchant_reference" [(ngModel)]="randomID">
                  <input type="hidden" name="service_command" value="TOKENIZATION">
                  <input type="hidden" name="signature" [(ngModel)]="signatureCode">
                </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-lg-12">
            <input type="checkbox" [(ngModel)]="check" [ngModelOptions]="{standalone: true}"  (change)="onInputChange($event)"> <b>Ship to a different address?</b>
            <div style="height: 30px;"></div>
          </div>
        </div>
        <div class="row" [hidden]="!showShippingFields">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control">
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control">
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Company Name</label>
                    <input type="text" class="form-control">
                  </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control">
                  </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Street address</label>
                    <input type="text" class="form-control">
                  </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Town / City</label>
                    <input type="text" class="form-control">
                  </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" class="form-control">
                  </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label>ZIP</label>
                    <input type="number" class="form-control">
                  </div>
            </div>
        </div>
        <div class="row table-checkout">
          <div class="col-lg-12">
            <h3>Your order</h3>
            <table>
              <tr>
                  <th>Product</th>
                  <th>Total</th>
              </tr>
              <tr *ngFor="let product of products; index as i;">
                <td>{{product?.fish?.type?.name}} <b> × {{product.quantity.value}} kg</b></td>
                <td>{{getTotalxItem(product.quantity.value, product.price.value)}} AED</td>
              </tr>
              <tr>
                <td><b>Subtotal</b></td>
                <td><b>{{total}} AED</b></td>
              </tr>
              <tr>
                <td><b>Shipping</b></td>
                <td><b>{{shipping}} AED</b></td>
              </tr>
              <tr>
                <td><b>Taxes, Customs and Other Fees</b></td>
                <td><b>{{totalOtherFees}} AED</b></td>
              </tr>
              <tr>
                <td><b>Total</b></td>
                <td><b>{{totalWithShipping}} AED</b></td>
              </tr>
              
            </table>
          </div>
        </div>
      
        <div class="row">
          <div class="col-lg-6">
              <button type="submit" class="btn btn-red">Proceed to Pay</button>

          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>
