
<div class="container" style="margin-top:30px;">
	<div class="row">
    <div class="col-12"><h3 class="black-title">{{'FulsfillsOrders.title' | translate}}</h3></div>
    <div class="col-md-12">
        <div class="col-12 table-design">
            <div class="row row-bg" *ngFor="let item of items">
              <div class="col-9">
                  <p class="order-number">Order #{{item.shoppingCart.orderNumber}}</p>                
                  <h5 [innerHtml]="item.fish.name"></h5>                
                  <span class="store">{{item.store.name}}</span>               
                  <span>{{item.fish.city}}, {{item.fish.country}}</span>
                  <p class="qty">Quantity {{item.quantity.value}} kg</p>                
                  <p class="date" ><strong>Shipped on {{item.updatedAt | date: 'EEEE, MMMM d, y'}} </strong></p>
                                
              </div>
              <!--<div class="col" *ngIf="role==0">
                <img src="../../assets/trash-icon.png" alt=""  class="delete">
              </div>-->
              <div class="col">            
                  <div class="form-group">
                    <button type="button" (click)="fullfillSubmit(item.id)" class="btn-red" >{{'FulsfillsOrders.shipped' | translate}}</button>
                  </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
      