h1.big-title {
    color: #fff;
}

.table-design {
    h5 {
        margin: 0px;
    }
    p {
        margin: 0px;
    }
    .col-button {
        text-align: right;

        button {
            font-size: 0.9em;
        }
    }
}
