<div class="page-header subpages" id="hero" style="background:url(../../assets/search-bg.jpg)">
  <div class="overlay" style="background: url(../../assets/overlay-search.png);"></div>
  <div class="content">
    <h1 class="big-title">{{'ContactUs.title-banner'| translate}}</h1>
  </div>
</div> 
<div class="container subpage-content">
	<div class="row">
		<div class="col">
			<h2 class="black-title">Contact Us:</h2>
			<p> 
				Warehouse 10, 58 St, Al Quoz Industrial Area 3, Dubai, United Arab Emirates <br>
			<a href="tel:971042683521">+971 (0) 4 2683521</a>	 <br>
			<a href="mailto:hello@seafoodsouq.com">hello@seafoodsouq.com</a></p>		</div>
	</div>
</div>