<div class="page-header subpages" id="hero" style="background:url(../../assets/search-bg.jpg)">
  <div class="overlay" style="background: url(../../assets/overlay-search.png);"></div>
  <div class="content">
    <h1 class="big-title">{{'About.title-banner'| translate}}</h1>
  </div>
</div> 
<div class="container subpage-content">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="black-title">About Us:</h2>
		</div>

		<div class="col-lg-12 text-center">
			<p>What do you get when you combine an Englishman, a Scotsman, a Russian and an Emirati/German?</p>
			<p>A digital marketplace that will revolutionize the Seafood Supply Industry</p>
			<br>
			<p>At Seafood Souq we have combined the skills of our four international co-founders and a rapidly expanding team of fifteen to solve the Seafood Industry’s long time suffering of ‘fishy’ practices by creating an e-commerce platform that facilitates direct buyer to seller interaction and a completely transparent supply chain.
			</p>
		</div>

		<div class="col-lg-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col" class="red-title">The Issue</th>
						<th scope="col" class="green-title">Our Solution</th>
				
					</tr>
				</thead>
				<tbody>
					<tr>
						<td >Friction to buying</td>
						<td>An <strong>open</strong> and <strong>free</strong>  marketplace
							our global marketplace removes all barriers by linking international buyers and sellers direct.</td>
					</tr>
					<tr>
						<td>High costs</td>
						<td>An <strong>unbiased</strong>  and <strong>transparent</strong>  marketplace
							that shows full cost breakdowns and provides best price guarantee for buyers and best margins for sellers   </td>
					</tr>
					<tr>
						<td>High waste</td>
						<td>Delivered <strong>direct from source</strong> 
							with just in time delivery direct from Sea to B with  Emirates Skycargo ensures optimum freshness </td>
					</tr>
					<tr>
						<td>Lack of traceability</td>
						<td>A fully <strong>traceable</strong>  supply chain
							complete trackable journey history and proof of origin ensuring optimum quality and sustainable fishing practices</td>
					</tr>
					<tr>
						<td>Outdated practices</td>
						<td>An <strong>e-commerce platform </strong> 
							that promotes speed of discovery and swift speed of service at every stage from registration through to delivery.
							</td>
					</tr>
					<tr>
						<td>No data</td>
						<td>Future capabilities for <strong>up-to-date reports</strong> 
							on market pricing and trends for smarter purchasing and pricing</td>
					</tr>
				
				</tbody>
			</table>
		</div>

		
			
	
	</div>
</div>