<div class="page-header subpages" id="hero" style="background:url(../../assets/search-bg.jpg)">
  <div class="overlay" style="background: url(../../assets/overlay-search.png);"></div>
  <div class="content">
    <h1 class="big-title">{{'About.title-banner'| translate}}</h1>
  </div>
</div> 
<div class="container subpage-content">
	<div class="row">
		<div class="col">
			<h2 class="black-title">About Us:</h2>
			<p>Seafood Souq (SFS) intends to lead the B2B / B2C e-commerce movement in the region for the seafood industry by providing a platform allowing suppliers to sell products directly to the buyers. SFS provides the structure for safe and quick payment for sellers, enabling highly competitive pricing, product traceability, and value-added services including credit terms, customs clearing, inspection and delivery.
			</p>
			<p>Seafood Souq platform is owned and operated by Seafood Souq General Trading LLC.
			</p>
		 
		</div>
	</div>
</div>