<div class="gray-bg">
		<div class="about-hero text-center">
			<h1>OUR MISSION IS SIMPLE, <br> TO CREATE:</h1>
			<div class="fish-shape"></div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h1 class="about-title">AN <span>OPEN</span>, <span>FREE</span>, &amp; <span>TRANSPARENT</span> MARKET</h1>
					<p class="about-text">We are here to transform the Seafood industry with an online marketplace using the combined expertise of our founding team specializing in:</p>
				</div>
			</div>
			<div class="process-carousel process-row hidden-lg">
				<div class="item">
						<div class="process1"></div>
						<div class="process-title">SEAFOOD PRODUCTION</div>
				</div>
				<div class="item">
						<div class="process2"></div>
						<div class="process-title">E-COMMERCE & BLOCKCHAIN</div>
				</div>
				<div class="item">
						<div class="process3"></div>
						<div class="process-title">AI & BIG DATA</div>
				</div>
				<div class="item">
						<div class="process4"></div>
						<div class="process-title">INVESTMENT & STRATEGY</div>
				</div>
			</div>
			<div class="row process-row hidden-mb">
				<div class="col-lg-3 padding-0">
					<div class="process1"></div>
					<div class="process-title">SEAFOOD PRODUCTION</div>
				</div>
				<div class="col-lg-3 padding-0 process-holder">
						<div class="process2">
								<div class="filter"></div>
								<img src="../../assets/svg/plus-circle.svg" class="img-filter" alt="">
						</div>
						<div class="process-title">E-COMMERCE & BLOCKCHAIN</div>
					</div>
					<div class="col-lg-3 padding-0 process-holder">
							<div class="process3">
									<div class="filter"></div>
									<img src="../../assets/svg/plus-circle.svg" class="img-filter" alt="">
							</div>
							<div class="process-title">AI & BIG DATA</div>
						</div>
						<div class="col-lg-3 padding-0 process-holder">
								<div class="process4">
										<div class="filter"></div>
										<img src="../../assets/svg/plus-circle.svg" class="img-filter" alt="">
								</div>
								<div class="process-title">INVESTMENT & STRATEGY</div>
								
							</div>
			</div>

			<div class="row padding-100" >
				<div class="col-lg-12 text-center">
					<a routerLink="/team" class="about-btn">
							SEE THE SKILLS OF THE REST OF OUR TEAM <svg xmlns="http://www.w3.org/2000/svg" width="31.495" height="22.141" viewBox="0 0 31.495 22.141"><defs><style>.a{fill:#3498e5;}</style></defs><path class="a" d="M21.22,5.009A1.117,1.117,0,0,0,19.633,6.58l8.047,8.047H1.126A1.118,1.118,0,0,0,0,15.738a1.131,1.131,0,0,0,1.127,1.127H27.681L19.633,24.9a1.139,1.139,0,0,0,0,1.587,1.112,1.112,0,0,0,1.587,0l9.952-9.952a1.12,1.12,0,0,0,0-1.571Z" transform="translate(0.001 -4.676)"/></svg>
					</a>
				</div>
			</div>
		</div>
			<div class="row hidden-mb">
				<div class="col-lg-6 content-grid grid-desktop" >
					<h2>FOR <span>BUYERS</span> THIS MEANS...</h2>
					<ul>
						<li>‣ MORE CHOICE</li>
						<li>‣ TRANSPARENT PRICING</li>
						<li>‣ COMPLETE TRACEABILITY</li>
						<li>‣ A RELIABLE LAST MILE</li>
					</ul>
				</div>
				<div class="col-lg-6 padding-0">
					<div class="content-right"></div>
				</div>
				<div class="col-lg-6 padding-0">
						<div class="content-right left-img"></div>
					</div>
					<div class="col-lg-6 content-grid grid-desktop" style="margin-top: 60px;">
							<h2>FOR <span>SELLERS</span> THIS MEANS...</h2>
							<ul>
								<li>‣ Easily access new markets & buyers</li>
								<li>‣ Promote your brand direct to the end buyer</li>
								<li>‣ Maximize your product quality</li>
							</ul>
						</div>
			</div>

			<div class="container-fluid">

			<div class="hidden-lg content-carousel">
				<div class="item">
					<div class="content-grid ">
							<h2>FOR <span>BUYERS</span> THIS MEANS...</h2>
							<ul>
								<li>‣ MORE CHOICE</li>
								<li>‣ TRANSPARENT PRICING</li>
								<li>‣ COMPLETE TRACEABILITY</li>
								<li>‣ A RELIABLE LAST MILE</li>
							</ul>
							<div class="content-right"></div>

					</div>
				</div>

				<div class="item">
					<div class="content-grid">
							<h2>FOR <span>SELLERS</span> THIS MEANS...</h2>
							<ul>
								<li>‣ Easily access new markets & buyers</li>
								<li>‣ Promote your brand direct to the end buyer</li>
								<li>‣ Maximize your product quality</li>
							</ul>
							<div class="content-right left-img"></div>
					</div>
				</div>
			</div>

			<div class="row industry-row" [class.remove-margin]="isLoggedIn">
					<div class="col-lg-12 text-center">
						<h1 class="about-title">WHAT THIS MEANS FOR THE INDUSTRY</h1>
					</div>
					<div class="col-lg-3 text-center industry-col">
						<img src="../../assets/svg/stats-up.svg" alt="">
						<h4>OUR MARKETPLACE INDEX</h4>
						<p>Data (real-time and historic), providing market insights into pricing and purchasing.</p>
					</div>
					<div class="col-lg-3 text-center industry-col">
							<img src="../../assets/svg/sprout.svg" alt="">
							<h4>A MORE SUSTAINABLE INDUSTRY</h4>
							<p>Reduction in waste through a more efficient supply chain and the promotion of sustainable fishing practices with a transparent marketplace.</p>
						</div>
						<div class="col-lg-3 text-center industry-col">
								<img src="../../assets/svg/revenue.svg" alt="">
								<h4>CHANGING THE WAY SEAFOOD IS VALUED</h4>
								<p>Shift the value of seafood from more than just price by giving buyers total visibility on product origin.</p>
							</div>
							<div class="col-lg-3 text-center industry-col">
									<img src="../../assets/svg/laptop-phone.svg" alt="">
									<h4>ONE PLACE TO ORDER ALL SEAFOOD PRODUCTS</h4>
									<p>An open marketplace where you can buy and sell all seafood products.</p>
								</div>
				</div>

				<div class="row" *ngIf="!isLoggedIn">
					<div class="col-lg-12 text-center">
						<button routerLink="/register/buyer" class="blue-btn shadow-sm">GET STARTED FOR FREE</button>
					</div>
				</div>
		</div>
</div>