<div class="fish-hero">
    <div class="carousel-nav-sfs">
      <app-menu-nav ></app-menu-nav>
  </div>
  <div class="carousel-excerpt">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h1>WELCOME TO YOUR ONLINE B2B SEAFOOD MARKETPLACE</h1>
            <h5>Connecting buyers and sellers direct</h5>
            <button class="light-blue-btn">GET STARTED FOR FREE</button>
        </div>
      </div>
    </div>
      
  </div>

  <div class="carousel-bottom">
      <button>
          <span>WATCH THE VIDEO</span>
          <img src="../../assets/svg/play-circle.svg" alt="">
      </button>
      <button class="hide-mobile">
        <img src="../../assets/svg/down-arrow.svg" alt="">
      </button>
  </div>
  <div class="fish-shape"></div>
</div>