.container{
	padding: 100px 15px;
}
.shoppingcart{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 75px;
}
.carts{
	align-items: center;
    background: white;
    margin: 0;
    margin-bottom: 20px;
    padding: 15px;
    border-top-right-radius: 50px;
    border: 1px solid #ebf1f6;
    border-bottom-left-radius: 50px;
    .title{
    	display: block;
	    text-decoration: none;
	    font-size: 1.2rem;
    }
}
.date{
	font-size: 1rem;
    font-family: Avenir;
    font-weight: lighter;
    display: block;
}
.black-line{
	width: 50px;
}
.title{
	font-family: Avenir;
    font-size: 1.4rem;
    font-weight: bold;
    color: #1c1d1d;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.btn-cont{
	text-align: right;
}
.btn-red-a{
	margin-bottom: 0
}

.table-design .row-bg{
	justify-content: center;
	align-items: center;
	background: #ebf1f6;
	margin-bottom: 14px;
	height: 85px;
	padding: 7px;
}

.table-design div{
	padding-left: 7px;
	padding-right: 7px;
	text-align: center;
}

.table-design div span{
	font-size: 13px;
}

.table-design .row-bg h5{
	margin-bottom: 0;
}

.filter-field{
	min-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #f2f2f2;
}
@media(max-width: 768px){
	.btn-cont{
		text-align: center;
	}
	.carts{
		text-align: center;
	}
	.black-line{
		width: 50px;
		margin: 10px auto;
	}

	.col{
		flex-basis: auto;
		width: 100%;
		padding-bottom: 10px;
	}

	.table-design .row-bg{
		height: auto;
	}
}