<div class="bg">
<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="black-title">{{'Orders.title' | translate}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="col-12" *ngIf="showLoading"><img src="../../assets/loader.gif" alt=""></div>
		</div>
	</div>
	<div *ngIf="showData">
		<div class="row">
			<div class="col-12">
				<input type="text" placeholder="Filter Orders" class="filter-field" [(ngModel)]="searchText">
			</div>
			<div class="col-12">
					<div class="col-12 table-design">
						<div class="row row-bg" *ngFor="let shoppingCart of shoppingCarts | filter : searchText ;let i=index ">
							<div class="col">
									<img [src]="getImage(shoppingCart)" alt="" class="shoppingcart">
							</div>
							<div class="col">
								<h5 [innerHtml]="getLength(shoppingCart) ? shoppingCart?.items.length + ' Products' : shoppingCart?.items[0]?.fish.name "></h5>
							</div>
							<div class="col date-span">
								<span >Purchased on:<br> {{shoppingCart.updatedAt | date: ' MMMM d, y'}}</span>
								</div>
							<div class="col">
								<span>{{shoppingCart.status | uppercase}}</span>
							</div>
							<div class="col">
									<span class="price">$ {{shoppingCart.total + shoppingCart.shipping + shoppingCart.uaeTaxes + shoppingCart.totalOtherFees }}</span>
							</div>
							<div class="col">
									<a routerLink="/orders-items/{{shoppingCart.id}}" class="btn-red-a">{{'Orders.see-button' | translate}}</a>

							</div>
						</div>
					</div>
				</div>
			</div>
		
	</div>
</div>
</div>