<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="black-title">{{'Orders.title' | translate}}</h2>
			<hr class="hr-small">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="col-12" *ngIf="showLoading"><img src="../../assets/loader.gif" alt=""></div>
		</div>
	</div>
	<div *ngIf="showData">
		<div class="row carts" *ngFor="let shoppingCart of shoppingCarts">
			<div class="col-4" style="text-align: center;">
				<a routerLink="/orders-items/{{shoppingCart.id}}"><img src="../../assets/shoppingcart-default.png" alt="" class="shoppingcart"></a>
			</div>
			<div class="col-8">
				<a routerLink="/orders-items/{{shoppingCart.id}}" class="title">{{shoppingCart.paidDateTime}} - ${{shoppingCart.total}}</a>
				<div>
					<a routerLink="/orders-items/{{shoppingCart.id}}" class="black-btn">{{'Orders.see-button' | translate}}</a>
				</div>
			</div>
		</div>
	</div>
</div>