<div *ngIf="!empty; else elseBlock">
<div class="page-header" id="hero" [ngStyle]="{'background':  'url(' + base +  hero + ') '}">
  
  <div class="content">
    <h1 class="big-title">{{store.name}}</h1>
  </div>
</div>
<div class="container single-store">

  <div class="row">
    <div class="col-md-4" style="text-align: center">
      <img class="logo-store" src="{{base}}{{logo}}" alt="">
    </div>
    <div class="col-md-8">
      <h3>Store Details</h3>
      <p>{{store.name}} + {{store.location}}</p>
      <br>
      <h3>Store Description</h3>
      <p>{{store.description}}</p>
      <br>
      <button (click)="ngxSmartModalService.getModal('myModal').open()" type="button" class="btn btn-info">Message</button>

    </div>
  </div>
  <br><br>

  <div class="row search-result" *ngIf="products.length > 0">
      <div class="col-md-12">
        <h3>Available Fish</h3> <br>
      </div>
      <div class="col-xl-3 col-lg-6 result" *ngFor="let product of products">
          <div class="search-result">
            <div class="col-lg-12 search-product-img">
              <img src="{{base+product.imagePrimary}}" alt="Primary" *ngIf="product.imagePrimary && product.imagePrimary!=''; else showSecundary">
              <ng-template #showSecundary>
                <img src="{{base+product.images[0].src}}" class="big-img" alt="{{product.images[0].filename}}" *ngIf="product.images && product.images.length>0; else showDefault">
                <ng-template #showDefault>
                  <img src="../../assets/default-img-product.jpg" class="big-img">
                </ng-template>
              </ng-template>
              <div class="btn-overlay">
                <a routerLink="/product/{{product.id}}" class="btn-green">View Details</a>
              </div>
            </div>
            <div class="col-lg-12 search-product-desc">
             <div class="row">
              <div class="col-lg-8 col-8">
                <a routerLink="/product/{{product.id}}"><h3 class="search-product-name">{{product.name}}</h3></a>
                <span class="coming-from">
                  <b>Location: </b>{{product.country}}
                </span>
               
                <div><b>Fish Description:</b><br>{{smallDesc(product.description)}}...</div>
              </div>
              <div class="col-lg-4 col-4">
                <div class="search-price">
                  ${{product.price.value}} <br>
                  <span class="search-price-type">{{product.weight.type}}</span>
                </div>
              </div>
             </div>
           </div>
           <div class="view-detail-cont">
              <a routerLink="/product/{{product.id}}" class="btn-green">View Details</a>
            </div>
         </div>
        </div>
 
   </div>
</div>
</div>
<ng-template #elseBlock>
  
    <div class="not-found-grid">
      <p>Store does not exist!</p>
    </div>  
  </ng-template>

<ngx-smart-modal  #myModal identifier="myModal">
    <h1>Contact us</h1>
    <form (ngSubmit)="sendMail()">
        <div class="form-group">
          <label for="name"></label>
          <input [(ngModel)]="form.name" [ngModelOptions]="{standalone: true}" type="text" id="name" class="form-control" required placeholder="Your Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="message">Your message</label>
          <textarea [(ngModel)]="form.message" [ngModelOptions]="{standalone: true}" required class="form-control" id="message" rows="3"></textarea>
        </div>
    
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </ngx-smart-modal>