  .products-section{
    background: #F7F8F9;
    padding-top: 155px;
    padding-bottom: 155px;
    a:hover{
      text-decoration: none;
    }
    a:not([href]):not([tabindex]){
      cursor: pointer;
    }
  }

  .single-product-box{
    max-width: 354px;
    margin: 50px auto;
    .product-header{
      margin-bottom: 10px;
      .row{
        align-items: center;
      }
      h5{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        color: #7484AA;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 19px;
        margin: 0;
      }
      img{
        width: 18px;
        height: 18px;
      }
    }
    .product-body{
      .product-single-img{
        max-width: 354px;
        height: 286px;
        border-radius: 2px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
        position: relative;
        .product-overlay{
          background: rgba(13,19,33,0.13);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 2px;
        }
        .product-status{
          background: #9A9EA8;
          width: 100px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'Open Sans', sans-serif;
          text-transform: uppercase;
          color: #fff;
          z-index: 2;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 14px;
          letter-spacing: 0.5px;
          line-height: 19px;
          opacity: 0.8;
          border-radius: 2px;
        }
        .denied-status{
          background: #885053;
        }
        .accepted-status{
          background: #397367;
        }

        .product-view-details{
          position: absolute;
          height: 100%;
          width: 100%;
          display: none;
          justify-content: center;
          align-items: center;
          font-family: 'Josefin Sans', sans-serif;
          color: #F7F8F9;
          font-size: 21px;
          letter-spacing: 0.5px;
          line-height: 34px;
          font-weight: 300;
          z-index: 5;
  
        }
      }
      .image-link-holder{
        transition: all .2s ease-in-out;
      }
      .image-link-holder:hover{
        .product-single-img{
          .product-view-details{
            display: flex;
          }
          .product-overlay{
            background: rgba(13,19,33,0.4);
          }
          .product-status{
            opacity: 0.2;
          }
        }
      }
    }
    .product-footer{
      margin-top: 20px;
      h4{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        color: #7484AA;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 25px;
        margin: 0;
        margin-bottom: 10px;
      }
      h5{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        line-height: 25px;
        color: #7484AA;
      }
    }


  }

  .single-product-box:hover{
    .product-footer{
      h5{
        color: #3E4E75;
      }
    }
  }

  .add-new-box{
    background: #fff;
    border: 1px solid #F0F0F1;
    border-radius: 2px;
    max-width: 354px;
    height: 286px;
    margin: 84px auto;
    text-align: center;
    transition: all .2s ease-in-out;
    div{
      padding-top: 25%;
    }
    svg{
      width: 64px;
      height: 64px;
      cursor: pointer;
      .a{
        fill: #9A9EA8;
      }
    }
    h3{
      color: #9A9EA8;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 28px;
      letter-spacing: 0.75px;
      line-height: 45px;
      font-weight: 300;
      text-transform: uppercase;
      margin-top: 15px;

    }
  }

  .add-new-box:hover{
    h3{
      color: #3E4E75;
    }
    svg .a{
      fill: #3E4E75;
    }
  }

  @media screen and (min-width: 1550px){
    .container-fluid{
      padding-left: 155px;
      padding-right: 155px;
    }
  }