<div class="page-header" id="hero" style="background:url(../../assets/hero_slide.jpg)">
  <div class="content">
    <h3 class="small-title">{{'MyProducts.small-title-banner' | translate}}</h3>
    <h1 class="big-title">{{'MyProducts.big-title-banner' | translate}}</h1>
    <a href="" class="white-btn">{{'MyProducts.banner-button' | translate}} <fa name="long-arrow-right"></fa></a>
  </div>
</div>
<div class="products-section">
<div class="container">
  <div class="row">
    <h2 class="product-result-title">
      {{'MyProducts.title' | translate}}
    </h2>
  </div>
  <div class="row">
          <div class="col-xl-3 col-lg-6 result" *ngFor="let product of products; let i=index">
        <div class="search-result">
          <div class="col-lg-12 search-product-img">
            <a routerLink="/product/{{product.id}}"><div [style.background-image]="image[i]" class="bg-img-prod"></div></a>
            <div class="btn-overlay">
              <a routerLink="/product/{{product.id}}"class="badge badge-green">{{'MyProducts.view-button' | translate}}</a>
            </div>
          </div>
          <div class="col-lg-12 search-product-desc">
           <div class="row">
            <div class="col-lg-8 col-8">
              <a routerLink="/product/{{product.id}}"><h3 class="search-product-name">{{product.name}}</h3></a>
              <span class="coming-from">
                <b>{{'MyProducts.location' | translate}}: </b>{{product.country}}
              </span>
              <div><b>{{'MyProducts.description' | translate}}:</b><br>{{smallDesc(product.description)}}...</div>
            </div>
            <div class="col-lg-4 col-4">
              <div class="search-price">
                ${{product.price.value}} <br>
                <span class="search-price-type">{{product.weight.type}}</span>
              </div>
            </div>
           </div>
         </div>
         <div class="view-detail-cont">
            <a routerLink="/product/{{product.id}}" class="badge badge-green">{{'MyProducts.view-button' | translate}}</a>
            <br>
            <a routerLink="/edit-product/{{product.id}}" class="badge badge-info">{{'MyProducts.edit-button' | translate}}</a>
            <br>
            <a (click)="deleteProduct(product.id, i)" class="badge badge-danger">{{'MyProducts.delete-button' | translate}}</a>
          </div>
       </div>
      </div>
    </div> 
  </div>
</div>   