<div class="page-header" id="hero" style="background:url(../../assets/hero_slide.jpg)">
  <div class="content">
    <h3 class="small-title">Get seafood delivered to your home</h3>
    <h1 class="big-title">Fresh seafood</h1>
    <a href="" class="white-btn">Show Now <fa name="long-arrow-right"></fa></a>
  </div>
</div>
<div class="products-section">
<div class="container">
  <div class="row">
    <h2 class="product-result-title">
      My products
    </h2>
  </div>
  <div class="row search-result" *ngFor="let product of products; index as i;">
      <div class="col-lg-4 col-md-4 search-product-img">
        <a routerLink="/product/{{product.id}}">
           <img src="{{base+product.imagePrimary}}" alt="Primary" *ngIf="product.imagePrimary && product.imagePrimary!=''; else showSecundary">
          <ng-template #showSecundary>
            <img src="{{base+product.images[0].src}}" class="big-img" alt="{{product.images[0].filename}}" *ngIf="product.images && product.images.length>0; else showDefault">
            <ng-template #showDefault>
              <img src="../../assets/default-img-product.jpg" class="big-img">
            </ng-template>
          </ng-template>
        </a>
      </div>
      <div class="col-lg-8 col-md-8 search-product-desc">
        <a routerLink="/product/{{product.id}}"><h3 class="search-product-name">{{product.name}}</h3></a>
        <div class="row">
         <div class="col-lg-3 col-md-3">
           <div class="search-price">$ {{product.price.value}}<span class="search-price-type">{{product.price.description}}</span></div>
         </div>
         <div class="col-lg-4 col-md-4">
           <span class="coming-from">
             <b>Location:</b> <br>
             From {{product.country}}
           </span>
         </div>
          <div class="col-lg-5 col-md-5">
          {{smallDesc(product.description)}}...
          <br><br>
          <a routerLink="/edit-product/{{product.id}}" class="badge badge-info">Edit this product</a>
          <br>
          <a (click)="deleteProduct(product.id, i)" class="badge badge-danger">Delete this product</a>

          </div>
        </div>
       
      </div>
     </div>
 
</div>
</div>   