<div class="products-section">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 result">
        <a routerLink="/add-product">
            <div class="add-new-box">
              <div>
                  <img src="../../assets/svg/plus-circle.svg" alt="">
                  <br>
                  <h3>Add new</h3>
              </div>
               
            </div>
        </a>
       

      </div>
        <div class="col-xl-4 col-lg-4 col-md-6 result" *ngFor="let product of products; let i=index">
            <div class="single-product-box">
                <div class="product-header">
                  <div class="row">
                    <div class="col-md-8">
                      <h5>{{product?.type?.name}}</h5>
                    </div>
                    <div class="col-md-4 text-right">
                        <a routerLink="/edit-product/{{product.id}}" style="margin-right: 10px;">
                          <img src="../../assets/svg/pencil.svg" alt="" >
                       </a>
                        <a (click)="deleteProduct(product.id, i)"><img src="../../assets/svg/trash.svg" alt="" ></a>
                    </div>
                  </div>
                </div>
                <div class="product-body">
                  <a routerLink="/edit-product/{{product.id}}" class="image-link-holder">
                    <div class="product-single-img" [style.background-image]="image[i]">
                      <div class="product-overlay"></div>
                      <div class="product-status accepted-status" *ngIf="product.status.id == '5c0866f9a0eda00b94acbdc2'">
                          {{product.status.status}}
                      </div>
                      <div class="product-status denied-status" *ngIf="product.status.id == '5c0866f2a0eda00b94acbdc1'">
                          denied
                      </div>
                      <div class="product-status" *ngIf="product.status.id == '5c0866e4a0eda00b94acbdc0'">
                          {{product.status.status}}
                      </div>

                      <h2 class="product-view-details">VIEW DETAILS</h2>
                      
                    </div>
                  </a>
                </div>
                <div class="product-footer">
                  <h4>{{product.name}}</h4>
                  <h5> {{product.price.type}} {{(product.price.value/currentExchangeRate).toFixed(2)}} / {{product.weight.type}}</h5>
                </div>
            </div>
        </div>
      
    </div> 
  </div>
</div>   