<footer>
 

  <div class="container-fluid">
      <div class="row">
          <div class="col order-1 order-lg-1">
              <strong>Company</strong>
              <ul>
                <li><a href="/sfspay">SFSPay</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="https://medium.com/@seafoodsouq" target="_blank">About</a></li>
              </ul>
            </div>
            <div class="col order-1 order-lg-1">
                <strong>Connect</strong>      
                  <ul class="list-inline footer-icons">
                      <li ><a href="https://www.facebook.com/seafoodsouq/" target="_blank">Facebook</a></li>
                      <li ><a href="https://twitter.com/SeafoodSouq" target="_blank">Twitter</a></li>
                      <li><a href="https://www.instagram.com/seafoodsouq/" target="_blank">Instagram</a></li>
                    </ul>
              </div>
          <div class="col order-0 order-lg-1 pb-4 pb-lg-0">
            <img class="logo" src="../../../assets/svg/sfs-logo.svg" alt="Logo">
            <p>Warehouse 10, 58 St </p>
            <p>Quoz Industrial Area 3</p>
            <p>Dubai, United Arab Emirates</p> 
            <div> <a href="mailto:hello@seafoodsouq.com ">hello@seafoodsouq.com </a></div>
            <div><a href="tel:+971042683521">+971042683521</a></div>
          </div>
         
          <div class="col order-1 order-lg-1">
              <strong>Support</strong>
              <ul>
                <li><a href="/guides">Guides</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/faq">FAQ</a></li>
              </ul>
            </div>
            <div class="col order-1 order-lg-1">
                <strong>Policies</strong>
                <ul>
                  <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
                  <li><a href="/privacy-policy">Privacy Policy</a></li>
                  <li><a href="/cookies-policy">Cookies </a></li>
                </ul>
              </div>
              
        </div>
  </div>
 
</footer>
<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-inline footer-logos">
          <li class="list-inline-item"><img src="../../../assets/svg/truste-pay-logo.svg" alt=""></li>
          <li class="list-inline-item"><img src="../../../assets/norton.png" alt=""></li>
          <li class="list-inline-item"><img src="../../../assets/svg/visa-pay-logo.svg" alt=""></li>
          <li class="list-inline-item"><img src="../../../assets/mastercard.png" alt=""></li>
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <ul class="copyright">
          <li class="list-inline-item">
              <select class="language" (change)="changeLanguage($event)">
                  <option value="{{lang}}">{{lang}}</option>
                  <option *ngIf="lang=='ar'; else ar" value="en">English</option>
                  <ng-template #ar>
                    <option value="ar">Arab</option>
                  </ng-template>
                </select>
          </li>
          <li class="list-inline-item">
            <p><sup>&copy;</sup> 2019</p>
          </li>
        </ul>
         
      </div>
    </div>
  </div>
</div>