.double-custom-list{
	column-count: 2;
}

footer .footer-logo{
    width: 100px;
}

.footer-menu ul li a{
    text-transform: initial;
}
.nav-language{
	margin: 0 auto;
	display: inline-block;
}
@media screen and (max-width: 992px){
    .double-custom-list{
        column-count: 1;
    }
}