<div class="gray-bg">
  <div class="page-header seafoodFormContainer" id="hero" (window:resize)="onResize($event)">
    <div class="container-fluid">
      <div class="row login-nav-logo">
        <div class="col-lg-4 text-left">
          <a routerLink="/"><img src="../../../assets/svg/sfs-logo.svg" alt="Logo" class="logo"></a>
        </div>
        <div class="col-lg-8 text-right">
          <a class="nav-link" routerLink="/register/buyer" style="display: initial;">{{'Login.register' | translate}}</a>
        </div>
      </div>
    </div>
    <div class="verified-p" *ngIf='verified'> <img src="../../assets/svg/check-white.svg" alt=""> Your email has been verified. Please login below to start swimming with the fish!</div>

    <div class="content">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="introductory-title"><span>{{'Login.title' | translate}}</span></h1>
        </div>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="invalid-feedback" style="display: block; text-align: center;
      margin-bottom: 20px;" *ngIf="wrongData">{{'Login.error' | translate}}</div>
        <div class="form-group input-group">
          <span class="has-float-label">

            <input id="email" #emailInput type="email" class="form-control" placeholder="{{'Login.email' | translate}}"
              formControlName="email"
              [ngClass]="{'is-invalid':loginForm.get('email').invalid && loginForm.get('email').touched}">
            <label for="email">{{'Login.email' | translate}}</label>
            <div class="invalid-feedback text-left" *ngIf="loginForm.get('email').hasError('required')">
              {{'Login.email' | translate}} {{'Login.required' | translate}}.</div>
            <div class="invalid-feedback text-left"
              *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
              {{'Login.invalid' | translate}} {{'Login.email' | translate}}</div>
          </span>

        </div>
        <div class="form-group input-group">
          <span class="has-float-label">
            <input id="password" type="password" class="form-control" placeholder="{{'Login.password' | translate}}"
              formControlName="password"
              [ngClass]="{'is-invalid':loginForm.get('password').invalid && loginForm.get('password').touched}">
            <label for="password">{{'Login.password' | translate}}</label>
            <div class="invalid-feedback text-left" *ngIf="loginForm.get('password').hasError('required')">
              {{'Login.password' | translate}} {{'Login.required' | translate}}.</div>
          </span>
        </div>
        <div class="login-option">
          <div class="row">

            <div class="col-lg-12 text-center">
              <a routerLink="/forgot-password" class="recovery">{{'Login.forgot' | translate}}</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn-blue" [disabled]="isValid">
            <i [hidden]="!isValid" class="fa fa-spinner fa-spin fa-fw"></i>

            {{loginText}}
          </button>
        </div>
      </form>

    </div>

  </div>
</div>

<div class="modal fade modal-confirm" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="text-align: center;">Your email has not been verified.  Click yes to resend the verification email to the email address on file and follow the directions.</h5>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-lg-2"></div>
          <div class="col-lg-8 text-center">
            <button (click)="confirm(true)" class="blue-btn-light">Yes</button>
            <button (click)="confirm(false)" class="blue-btn-light">No</button>
          </div>
          <div class="col-lg-2"></div>

        </div>
      </div>
    </div>
  </div>
</div>