.black-title{
    font-family: 'Old Standard TT', serif;
    font-size: 1.9rem;
    color: #1c1d1d;
}
form{
  margin:20px 0
}
.content{
    max-width: 400px;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
}
.form-control{
  font-family: "Arapey",serif;
  font-style:oblique
}
.login-option a{
    font-weight: 300;
    font-size: 16px;
    font-family: "Arapey",serif;
    display:block;
    margin-bottom:20px;
    color:#1c1d1d !important;
    text-decoration:none !important
}