@import "../../../variables.scss";

.top-nav{
	.container-fluid{
		padding: 0;
	}
	font-family: 'Josefin Sans', sans-serif;
	color: $light_blue;
	background: #ffffff;
	border-bottom: 2px solid #fafafb;
	display: flex;
	.address{
		padding: 20px 50px;
		border-right: 2px solid #fafafb;
		height: 110px;
    	display: flex;
		align-items: center;
		@media screen and (max-width: 768px){
		    padding: 10px;
    		height: 70px;
			 
		 }
	
	}

	.active-fish-icon {
		margin-bottom: 5px;
	}

	.navbar{
		height: 100%;
		@media screen and (max-width: 768px){
		  border: none;
			 
		 }
	}


	
	
	.headshot-logo{
		height: 40px;
		width: 40px;
		background-size: cover !important;
		background-position: center !important;
		border-radius: 50%;
		margin: 0 auto;
	}
	a:hover{
			color:$dark_blue;
    	}
	.access{
		text-align: right;
		margin-right: 10px;
		.login{
			cursor: pointer;
			color: #f1f1f1;
			text-decoration: none !important;
		}
		.signup{
			color: #f1f1f1;
			font-family: 'Roboto', sans-serif Medium;
			text-decoration: none !important;
		}
		.bar{
			margin-top: 16px !important
		}
	}
	.access-buyer, .access-seller{
		text-align: right;
		align-items: center;
		.login, .signup{
			text-align: center;
		    border-radius: 50%;
		    width: 60px;
		    display: flex;
		    height: 60px;
		    align-items: center;
		    background: #eb1c24;
		    a{
				cursor: pointer;
			    text-decoration: none !important;
			    color: white;
			    display: block;
			    width: 100%;
			    color:#f1f1f1 ;
			    &:hover{
			    	color: #3181f0 !important
			    }
			}
		}
	}
}
.favorites-link{
	color:#eb1c24 !important
}
form{
	.form-group{
		margin-bottom: 0;
	}
	.form-control{
		display: inline-block;
	    border: 0;
	    padding: 10px;
	    max-width: 100%;
	    font-family: 'Roboto', sans-serif;
	    font-weight: lighter;
	    font-size: 1rem;
	    line-height: 1;
	    background: #ebf1f6;
	    width: auto;
	    margin: 0 !important;
	    border-radius: 0;
	}
	.search-btn{
		border: 0;
	    background: #eb1c24;
	    color: white;
	    font-family: 'Roboto', sans-serif Black;
	    padding: 9px 20px;
	}
}
.fish-type-menu{
	.multiple-column{
		column-count: 3;
	}
	#nav-item-5 .dropdown-menu{
		width: 350% !important;
    	left: -270% !important;
	}
	#nav-item-4 .dropdown-menu{
		width: 750% !important;
  		left: -400% !important;
	}
    .nav-item {
		display: inline-block;
		position: relative;
		
    	.nav-link {
		    color: black;
		    padding-top: 5px !important;
		    padding-bottom: 5px !important;
		    position: relative;
		    padding-left: 40px !important;
		    padding-right: 40px !important;
		    &:after{
		    	content: '/';
			    position: absolute;
			    right: 0;
			    font-size: 20px;
			    top: 50%;
			    color:black !important;
			    font-weight: normal !important;
			    transform: translate(0%,-45%);
				margin: 0 !important;
			    height: auto !important;
			    border: 0 !important;
		    }
		}
		&:last-child .nav-link:after{
		   	display: none
		}
	}
}
.suggestion{
	position: absolute;
    bottom: 0;
    background: white;
    transform: translate(0,100%);
    z-index: 1;
    border: 1px solid #ebf1f6;
	ul{
		padding: 0;
	    list-style: none;
	    margin: 0;
	    li{
	    	padding: 5px 50px 5px 20px;
    		border-bottom: 1px solid #ebf1f6;
    		position: relative;
    		cursor: pointer;
    		font-family: 'Roboto', sans-serif;
    		font-weight: lighter;
    		&:last-child{
    			border: 0;
    		}
    		.count{
    			color: #19465f;
			    position: absolute;
			    right: 5px;
			    top: 50%;
			    transform: translate(0,-50%);
    		}
	    }
	}
}
.cart{
	position: relative;
    padding: 10px 15px !important;
}

.total{
	position: absolute;
    font-size: 11px;
    top: 45%;
    right: 0;
    transform: translate(0,-100%);
}
.closeContainer{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
    z-index: 3;
}
.navbar-light .navbar-toggler{
	border: 0 !important;
	outline: none !important
}
.top-mobile{
	display: none;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #313131;
    color:white;
}
.nav-link{
	padding-left: 40px !important;
    padding-right: 40px !important;
}
.admin-navbar .nav-link{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.img-logo{
	svg{
	    max-width: 100%;
	    width: 52px;
	    height: auto;
	  }
}
.dropdown-toggle::after{
	display: none !important;
}
.container{
	position: relative;
}
@media (min-width: 1300px){
	
	.top-nav{
	
		.admin-navbar{
			.nav-item{
				width: auto !important
			}
			.bar{
			    margin-top: 16px !important;
			    margin-left: 0 !important;
			    margin-right: 19px !important;
			}
		}
	}
}
@media(min-width: 992px){
	.search-container{
		z-index: 4;
		position: absolute;
	    top: 50%;
	    left: 0%;
	    transform: translate(-100%,-50%);
	}
	.fish-type-menu-mobile{
		display: none;
	}
	.access-buyer .nav-item:last-child .cart{
		padding: 10px 15px 10px 5px!important;
	}
	.access-seller{
		padding-left: 35px;
		padding-right: 15px;
	}
}
@media(max-width: 1199px){
	.fish-type-menu .nav-item .nav-link{
		padding-left: 15px !important;
		padding-right: 15px !important;
		font-size: 1rem !important
	}
	.navbar-collapse{
	    z-index: 9;
	    background: rgb(49, 49, 49);
	}
	#nav-item-4 .dropdown-menu{
	  width: 750% !important;
	  left: -400% !important;
	}
	.admin-navbar{
		.nav-link{
			padding-right: 0.5rem !important;
		    font-size: 1rem;
		    padding-left: 0.5rem !important;
		}
	}
	.nav-item {
	    display: block !important;
	    width: 100%;
	    text-align: center;
	}
	.navbar-toggler{
		position: absolute;
	    right: 0px;
	}
	.bar{
		display: none !important;
	}
	nav{
	    z-index: 99;
	    position: initial;
	}
	#navbarSupportedContent{
		width: 100%;
	    position: absolute;
	    top: 63px;
	    left: 0px;
		background: #f2f2f2;
		z-index: 99999;
	}
}
@media(max-width: 992px){
	.top-mobile{
		display: block;
	}
	.search-container{
		margin: 0 auto;
    	display: inline-block;
	}
	.cart{
		padding: 0.5rem 15px !important;
	}
	.access{
		padding-left: 15px;
		text-align: center !important;
		a{
			color: #000000 !important;
		    font-size: 1.1rem !important;
		    text-transform: capitalize !important;
		    font-family: 'Roboto', sans-serif !important;   
		    padding-bottom: 0.5rem !important;
    		padding-top: 0.5rem !important;
    		display: block;
		}
	}
	.login, .signup{
		margin: 0.5rem 0;
	}
	#navbarSupportedContent, .nav-language{
		text-align: center;
	}
	.dropdown-toggle::after{
		display: none;
	}
	.nav-language {
    	align-items: flex-start;
	}
	.lang-cont{
		display: block;
	    width: 100%;
	    text-align: center;
	    padding: 0;
	}
	.fish-type-menu{
		display: none;
	}

	
}
@media(max-width: 575px){
	.address{
	    text-align: center !important;
	  }
}


.sliding-nav-item{
	position: relative;
	a{
		vertical-align: middle;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		@media screen and (max-width: 1200px) {
			flex-wrap: wrap;
		}
		.arrow-toggle{
			background-image: url('../../../assets/svg/chevron-down.svg');
			width: 25px;
			height: 12.2px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			display: inline-block;
			margin-left: 5px;
			@media screen and (max-width: 1200px) {
				margin-left: 0;
				filter: brightness(0) invert(1); 


			}
		}
		.dropdown-menu{
			border: none;
			border-radius: 0;
			top: 90%;
			width: 77px;
			padding: 0;
			left: initial;
			.dropdown-item{
				font-family: 'Josefin Sans', sans-serif;
				text-transform: lowercase;
				font-size: 16px;
				letter-spacing: normal;
				line-height: 19px;
				color: $light_blue;
				font-weight: 300;
				border-bottom: 1px solid $white;
				padding-top: 15px;
				padding-bottom: 15px;
			
			}
			@media screen and (max-width: 1200px) {
				width: 100%;
			}
		}
	}

	&.show{
		a{
			.arrow-toggle{			
				transform: rotate(180deg);
				
			}
		}
	}
	
}

.plus-btn{
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	transition: all .4s ease-in-out;
	img{
	  vertical-align: baseline;
	  
	}
	&.navbar-toggler:not(.collapsed){
		img{
			transform: rotate(45deg);
			filter: brightness(0) invert(1); 

		}
	  }
	   @media screen and (max-width: 1200px) {
	  display: initial;
   }
  }

  @media screen and (max-width: 1200px){
	  .headshot-logo{
		filter: brightness(0) invert(1);  
	  }
	  .address{
		  z-index: 1001;
		  border: none !important;
	  }
	  nav{
		z-index: 100;
		.plus-btn{
			z-index: 10000001;
		}
	  }
	.mobile-full-menu{
		display: none !important;
		position: fixed !important;
		width: 100% !important;
		height: 100% !important;
		background: rgba(116,132,170, 0.9) !important;
		z-index: 100000 !important;
		justify-content: center !important;
		align-items: center !important;
		top: 0 !important;
		ul{
		  margin: 0;
		  padding: 0;
		  list-style: none;
		  width: 100%;
		  text-align: center;
		  height: 100%;
		  display: flex !important;
		  justify-content: space-around;
		  align-items: center;
		  flex-wrap: wrap;
		  li{
			width: 100%;
			display: flex !important;
			align-items: center;
			justify-content: center;
			a.nav-link{
			  display: initial;
			  color: $white !important;
			  padding: 0 !important;
			  margin: 0;
			  text-transform: uppercase !important;
			}
		  }
		 
		}
		&.show{
			display: flex !important;
		}
	  }
  }

  #Layer_1_mobile{
	  display: none;
  }