 <div (window:scroll)="classOnScroll($event)"  [ngClass]="(isScrolled === true) ? 'scrolled' : ''" class="top-nav fixed-top" id="top-nav">
  <div class="container-fluid">
    <div class="row" style="align-items: center;height: 100%; margin: 0;   flex-wrap: nowrap;">
      <div class="address">
       <a class="navbar-brand" routerLink="/" class="img-logo" [ngClass]="{'menu-buyer':isLogged && role==2}">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 52.4 37.23" style="enable-background:new 0 0 52.4 37.23;" xml:space="preserve">
     <style type="text/css">
       .st0{fill:#3498E5;}
       .st1{fill:#FFFFFF;}
     </style>
     <g id="logo" transform="translate(-86 -181)">
       <g id="Group_7" transform="translate(86 181)">
         <path id="Path_1" class="st0" d="M29.66,37.23c3.33,0.04,10.86-0.9,15.91-9.37c4.95-8.3,6.83-9.25,6.83-9.25s-1.88-0.95-6.83-9.25
           C40.52,0.9,32.99-0.03,29.66,0H0v37.23L29.66,37.23L29.66,37.23z"/>
         <path id="Path_2" class="st1" d="M46,14.49c0,0.82-0.67,1.49-1.49,1.49s-1.49-0.67-1.49-1.49c0-0.82,0.67-1.49,1.49-1.49
           c0,0,0,0,0,0C45.33,12.99,46,13.66,46,14.49C46,14.49,46,14.49,46,14.49z"/>
         <g id="Group_6" transform="translate(2.37 4.552)">
           <g id="Group_1">
             <path id="Path_3" class="st1" d="M4.93,2.85c0-0.64-0.2-1.12-1.21-1.12C2.97,1.72,2.7,2.07,2.7,2.4c0,0.39,0.34,0.54,1.14,0.87
               L5.11,3.8C6.28,4.11,7.1,5.14,7.15,6.34c0,1.29-0.97,2.68-3.52,2.68C1.61,9.02,0,8.17,0,6.08V5.87h2.12
               C2.14,6.36,2.24,7.3,3.68,7.3c0.43,0,1.14-0.12,1.14-0.71c0-0.42-0.16-0.51-0.98-0.88L2.42,5.07C1.27,4.55,0.4,3.9,0.4,2.65
               C0.4,1,1.83,0,3.69,0C5.7,0,7.04,0.65,7.04,2.69v0.16L4.93,2.85z"/>
             <path id="Path_4" class="st1" d="M13.8,3.48v1.76h-3.61v1.81h4.12v1.77H7.89V0.19h6.26v1.76h-3.96v1.53L13.8,3.48z"/>
             <path id="Path_5" class="st1" d="M19.99,0.2l3.24,8.63h-2.37l-0.58-1.71h-2.78l-0.56,1.71h-2.37L17.8,0.2H19.99z M18.9,2.47
               l-0.83,2.92h1.65L18.9,2.47z"/>
           </g>
           <g id="Group_3" transform="translate(0.612 9.554)">
             <g id="Group_2">
               <path id="Path_6" class="st1" d="M5.9,3.48v1.76H2.29v3.58H0V0.2h6.25v1.76H2.29v1.53L5.9,3.48z"/>
               <path id="Path_7" class="st1" d="M10.54,0c2.34-0.07,4.3,1.76,4.37,4.1c0,0.14,0,0.27-0.01,0.41c0.06,2.42-1.84,4.42-4.26,4.49
                 C8.24,9.06,6.23,7.15,6.16,4.74c0-0.08,0-0.15,0-0.23C6,2.18,7.76,0.17,10.09,0.01C10.24,0,10.39-0.01,10.54,0z M10.54,7.25
                 c1.55,0,1.98-1.52,1.98-2.7s-0.36-2.77-2.01-2.77c-1.7,0-1.98,1.78-1.98,2.74C8.54,5.7,8.92,7.25,10.54,7.25z"/>
               <path id="Path_8" class="st1" d="M19.54,0c2.34-0.07,4.3,1.76,4.37,4.1c0,0.14,0,0.27-0.01,0.41c0.06,2.42-1.84,4.42-4.26,4.49
                 c-2.41,0.06-4.42-1.84-4.49-4.26c0-0.08,0-0.15,0-0.23c-0.16-2.33,1.6-4.34,3.93-4.5C19.24,0,19.39-0.01,19.54,0z M19.54,7.25
                 c1.55,0,1.98-1.52,1.98-2.7s-0.36-2.77-2.01-2.77c-1.7,0-1.98,1.78-1.98,2.74C17.54,5.7,17.92,7.25,19.54,7.25z"/>
               <path id="Path_9" class="st1" d="M27.73,0.2c3.6,0,4.78,2.15,4.78,4.31c0.08,2.31-1.73,4.24-4.04,4.32c-0.13,0-0.25,0-0.38,0
                 h-3.36V0.2L27.73,0.2z M27.83,7.05c1.44,0,2.31-0.65,2.31-2.54c0-1.52-0.62-2.55-2.16-2.55h-0.94v5.1L27.83,7.05z"/>
             </g>
           </g>
           <g id="Group_5" transform="translate(0 19.108)">
             <g id="Group_4">
               <path id="Path_10" class="st1" d="M4.93,2.85c0-0.64-0.2-1.13-1.21-1.13C2.97,1.72,2.7,2.07,2.7,2.4
                 c0,0.39,0.34,0.54,1.14,0.87L5.11,3.8C6.27,4.11,7.1,5.14,7.15,6.34c0,1.3-0.97,2.68-3.52,2.68C1.61,9.02,0,8.16,0,6.07V5.87
                 h2.12C2.14,6.35,2.24,7.3,3.68,7.3c0.43,0,1.14-0.12,1.14-0.71c0-0.42-0.16-0.51-0.98-0.88L2.42,5.07
                 C1.27,4.55,0.4,3.9,0.4,2.65C0.4,1,1.83,0,3.69,0C5.7,0,7.04,0.65,7.04,2.69v0.16L4.93,2.85z"/>
               <path id="Path_11" class="st1" d="M11.73,0c2.34-0.07,4.3,1.76,4.37,4.1c0,0.14,0,0.27-0.01,0.41
                 c0.06,2.42-1.84,4.42-4.26,4.49C9.42,9.06,7.41,7.16,7.35,4.74c0-0.08,0-0.15,0-0.23c-0.16-2.33,1.6-4.34,3.93-4.5
                 C11.43,0,11.58,0,11.73,0z M11.73,7.25c1.55,0,1.98-1.52,1.98-2.7s-0.36-2.77-2.01-2.77c-1.7,0-1.98,1.78-1.98,2.74
                 C9.72,5.7,10.1,7.25,11.73,7.25L11.73,7.25z"/>
               <path id="Path_12" class="st1" d="M24.47,0.2v5.43c0,2.08-1.27,3.4-3.83,3.4c-2.61,0-3.83-1.37-3.83-3.34V0.2h2.29v5.46
                 c-0.11,0.77,0.43,1.48,1.2,1.59c0.12,0.02,0.24,0.02,0.36,0c1.1,0,1.52-0.71,1.52-1.64V0.2L24.47,0.2z"/>
               <path id="Path_13" class="st1" d="M32.82,8.82l-0.56-0.79c-0.76,0.65-1.73,1-2.73,0.99c-2.49,0.05-4.55-1.94-4.59-4.43
                 C24.88,2.1,26.87,0.05,29.36,0c2.49-0.05,4.55,1.94,4.59,4.43c0,0.03,0,0.06,0,0.08c0.01,0.73-0.13,1.46-0.42,2.13l1.74,2.19
                 L32.82,8.82z M29.6,7.25c1.7,0,1.98-1.71,1.98-2.7c0-1.19-0.35-2.77-2.01-2.77c-1.43,0-1.98,1.36-1.98,2.74
                 C27.59,5.77,28.06,7.25,29.6,7.25L29.6,7.25z"/>
             </g>
           </g>
         </g>
       </g>
     </g>
     </svg>
     <svg version="1.1" id="Layer_1_mobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 71 51" style="enable-background:new 0 0 71 51;" xml:space="preserve">

<g id="logo" transform="translate(-85.499 -180.5)">
	<g id="Group_7" transform="translate(85.999 181)">
		<path id="Subtraction_3" class="st0" d="M39.78,50.02H-0.7V-0.5h40.49c3.41,0.01,6.77,0.73,9.88,2.13
			c4.83,2.25,8.83,5.95,11.46,10.58c6.65,11.14,9.25,12.54,9.27,12.55c-0.11,0.06-2.74,1.61-9.27,12.55
			c-2.63,4.63-6.63,8.33-11.46,10.59C46.56,49.29,43.19,50.01,39.78,50.02z M42.66,31.6c-3.55,0-5.94,2.46-5.94,6.12
			s2.35,6.12,5.86,6.12c1.35,0.01,2.67-0.46,3.7-1.34l0.76,1.08h3.33l-2.35-2.97c0.39-0.91,0.58-1.89,0.56-2.89
			C48.58,34,46.26,31.6,42.66,31.6z M25.34,31.86v7.44c0,2.88,1.89,4.53,5.19,4.53s5.19-1.68,5.19-4.61v-7.36h-3.1v7.35
			c0,1.43-0.73,2.22-2.06,2.22c-1.05,0.13-2-0.62-2.13-1.67c-0.02-0.16-0.02-0.32,0-0.48v-7.41L25.34,31.86z M18.44,31.6
			c-3.55,0-5.94,2.46-5.94,6.12c0,4.51,3.06,6.12,5.92,6.12c4.39,0,5.94-3.3,5.94-6.12c0.2-3.18-2.22-5.91-5.4-6.11
			C18.79,31.6,18.61,31.59,18.44,31.6L18.44,31.6z M2.52,39.56v0.28c0,2.54,1.8,4,4.93,4c3.53,0,4.78-1.96,4.78-3.63
			c0-1.54-0.91-2.67-2.77-3.45l-1.72-0.73c-1.06-0.44-1.54-0.64-1.54-1.18c0-0.44,0.36-0.91,1.38-0.91c1.44,0,1.64,0.73,1.64,1.53
			h2.87v-0.22c0-2.49-1.44-3.65-4.55-3.65c-2.67,0-4.46,1.45-4.46,3.6c0,1.78,1.32,2.63,2.74,3.28l1.93,0.86
			c1.13,0.5,1.33,0.64,1.33,1.19c0,0.89-1.18,0.96-1.54,0.96c-2.02,0-2.09-1.36-2.13-1.94L2.52,39.56z M29.87,18.64
			c-3.55,0-5.94,2.46-5.94,6.12c0,4.51,3.06,6.12,5.92,6.12c4.38,0,5.94-3.3,5.94-6.12c0.2-3.18-2.22-5.91-5.4-6.11
			C30.21,18.64,30.04,18.63,29.87,18.64z M17.65,18.64c-3.55,0-5.94,2.46-5.94,6.12c0,4.51,3.06,6.12,5.92,6.12
			c4.39,0,5.94-3.3,5.94-6.12c0.2-3.18-2.22-5.91-5.4-6.11C18,18.64,17.82,18.63,17.65,18.64z M36.9,18.9v11.71h4.56
			c3.13,0.17,5.81-2.23,5.99-5.36c0.01-0.16,0.01-0.33,0.01-0.49c0-1.76-0.63-5.85-6.49-5.85L36.9,18.9z M3.34,18.9v11.71h3.1v-4.86
			h4.9v-2.39h-4.9v-2.07h5.38V18.9H3.34z M59.69,17.13c-1.12,0-2.02,0.91-2.02,2.03s0.91,2.02,2.03,2.02c1.12,0,2.02-0.91,2.02-2.02
			C61.71,18.04,60.81,17.13,59.69,17.13L59.69,17.13z M2.51,13.63v0.28c0,2.54,1.8,4,4.93,4c3.53,0,4.78-1.96,4.78-3.63
			c0-1.54-0.91-2.67-2.77-3.45L7.73,10.1C6.67,9.66,6.18,9.46,6.18,8.92c0-0.44,0.36-0.91,1.38-0.91c1.44,0,1.64,0.73,1.64,1.52
			h2.87V9.33c0-2.49-1.44-3.65-4.55-3.65c-2.67,0-4.46,1.45-4.46,3.6c0,1.79,1.32,2.63,2.74,3.28l1.92,0.86
			c1.13,0.5,1.33,0.64,1.33,1.19c0,0.89-1.18,0.96-1.54,0.96c-2.03,0-2.09-1.36-2.12-1.94L2.51,13.63z M26.27,15.32h3.77l0.78,2.32
			h3.22l-4.4-11.71h-2.97l-4.38,11.72h3.21L26.27,15.32L26.27,15.32z M13.22,5.94v11.71h8.71v-2.41h-5.59v-2.45h4.9V10.4h-4.9V8.33
			h5.38V5.94H13.22z M42.68,41.44c-2.53,0-2.72-2.84-2.72-3.72c0-1.8,0.71-3.72,2.69-3.72c2.37,0,2.72,2.36,2.72,3.76
			C45.36,38.87,45.1,41.44,42.68,41.44z M18.43,41.44c-2.46,0-2.72-2.6-2.72-3.72c0-0.87,0.19-3.72,2.69-3.72
			c2.37,0,2.72,2.36,2.72,3.76C21.12,38.63,20.93,41.44,18.43,41.44L18.43,41.44z M29.87,28.47c-2.46,0-2.72-2.6-2.72-3.72
			c0-0.87,0.19-3.72,2.69-3.72c2.37,0,2.72,2.36,2.72,3.76C32.55,25.67,32.36,28.47,29.87,28.47z M17.65,28.47
			c-2.46,0-2.72-2.6-2.72-3.72c0-0.87,0.19-3.72,2.69-3.72c2.37,0,2.72,2.36,2.72,3.76C20.34,25.67,20.15,28.47,17.65,28.47z
			 M41.1,28.21h-1.08v-6.91h1.28c1.92,0,2.94,1.2,2.94,3.47c0.09,0.97-0.21,1.94-0.83,2.69C42.77,28,41.94,28.28,41.1,28.21z
			 M29.27,12.99h-2.24l1.13-3.96L29.27,12.99L29.27,12.99z"/>
	</g>
</g>
</svg>
      </a>
      </div>
      
      <nav class="navbar navbar-expand-xl navbar-dark ml-auto" >
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

        </button> -->
        <button class="plus-btn navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <svg xmlns="http://www.w3.org/2000/svg" class="plus-icon" width="19.989" height="20" viewBox="0 0 19.989 20">
            <defs>
              <style>
                .a {
                  fill: #FFF;
                }
              </style>
            </defs>
            <path class="a"
              d="M.715,10.712a.711.711,0,0,1-.707-.717.7.7,0,0,1,.707-.707H9.285V.717A.721.721,0,0,1,10,0a.711.711,0,0,1,.707.717V9.288H19.28A.711.711,0,0,1,20,9.995a.72.72,0,0,1-.717.717H10.71v8.571A.711.711,0,0,1,10,20a.72.72,0,0,1-.717-.717V10.712Z"
              transform="translate(-0.008)" />
          </svg>
        </button>

        <div class="collapse navbar-collapse align-items-center mobile-full-menu" id="navbarSupportedContent">
          <!-- star menu buyer -->
          <ul class="navbar-nav ml-auto menuitem-buyer access-buyer icon-menu" *ngIf="isLogged && role==2">

            <li class="nav-item" *ngFor="let menuitem of menuItems.getbuyerMenu()">
              <a routerLink="{{menuitem.state}}" class="nav-link" *ngIf="menuitem.type === 'link' else submenu" routerLinkActive="active-link">
                
                <img class="active-fish-icon" src="../../../assets/svg/small-fish.svg" alt=""> {{ menuitem.translate[lang].name}}
              </a>
             
              <ng-template #submenu>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active-link">
                    {{ menuitem.translate[lang].name}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="menuitem.type === 'sub'">
                    <a routerLink="{{childitem.state}}" class="dropdown-item" *ngFor="let childitem of menuitem.children">{{ childitem.translate[lang].name}}</a>
                  </div>
                </li>
              </ng-template>
            </li>
            <!-- <li class="nav-item" *ngIf="showCart">
              <a class="nav-link" routerLink="/cart" routerLinkActive="active-link">Cart <span class="total">${{cartItem.total}}</span> </a>
            </li> -->
           
            <li class="nav-item sliding-nav-item">
              <a  class="nav-link dropdown-toggle"  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <div class="headshot-logo" style="background: url('../../../assets/svg/account-circle.svg')"></div>
                  <div class="arrow-toggle"></div>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/account">my profile</a>
                    <a class="dropdown-item" (click)="logOut()" >logout</a>
                  </div>
              </a>
              
            </li>
          </ul>
          <!-- end menu bayer -->
          <!-- start menu admin-->
          <ul class="navbar-nav ml-auto admin-navbar" *ngIf="isLogged && role==0">
            <li class="nav-item" *ngFor="let menuitem of menuItems.getMenuAdmin()">
              <a routerLink="{{menuitem.state}}/all/1" class="nav-link" *ngIf="menuitem.state === 'products' else menu" routerLinkActive="active-link">{{ menuitem.translate[lang].name}}</a>
              <ng-template #menu>
                <a routerLink="{{menuitem.state}}" class="nav-link" *ngIf="menuitem.type === 'link' else submenu" routerLinkActive="active-link">{{ menuitem.translate[lang].name}}</a>
                <ng-template #submenu>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active-link">{{ menuitem.translate[lang].name}}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="menuitem.type === 'sub'">
                      <a routerLink="{{childitem.state}}" class="dropdown-item" *ngFor="let childitem of menuitem.children">{{ childitem.translate[lang].name}}</a>
                    </div>
                  </li>
                </ng-template>
              </ng-template>
            </li>
            <li class="nav-item bar">
               <!-- <span class="bar nav-link"></span> -->
            </li>
             <!-- login options -->
         
            <li class="nav-item sliding-nav-item">
              <a  class="nav-link dropdown-toggle"  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <div class="headshot-logo" style="background: url('../../../assets/svg/account-circle.svg')"></div>
                  <div class="arrow-toggle"></div>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/account">settings</a>
                    <a class="dropdown-item" (click)="logOut()" >logout</a>
                  </div>
              </a>
              
            </li>
          </ul>
          <!-- end menu admin -->
          <!-- start menu seller-->
          <ul class="navbar-nav ml-auto access-seller icon-menu" *ngIf="isLogged && role==1">
            <li class="nav-item" *ngFor="let menuitem of menuItems.getSellerMenu()">
              <a routerLink="{{menuitem.state}}" class="nav-link" *ngIf="menuitem.type === 'link' else submenu" routerLinkActive="active-link">
                
                <img class="active-fish-icon" src="../../../assets/svg/small-fish.svg" alt=""> {{ menuitem.translate[lang].name}}

              </a>
              
              <ng-template #submenu>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active-link">
                    {{ menuitem.translate[lang].name}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="menuitem.type === 'sub'">
                    <a routerLink="{{childitem.state}}" class="dropdown-item" *ngFor="let childitem of menuitem.children">{{ childitem.translate[lang].name}}</a>
                  </div>
                </li>
              </ng-template>
            </li>
           
            <!-- login options -->
            <li class="nav-item sliding-nav-item">
              <a  class="nav-link dropdown-toggle"  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <div class="headshot-logo" routerLink="/newstore/{{storeID}}" role="button" [ngClass]="(logo == '../../../assets/svg/account-circle.svg') ? 'white-logo' : 'original-logo'" [style.background]="'url('+ logo +')'"></div>
                  <div class="arrow-toggle"></div>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/account">My Profile</a>
                    <a class="dropdown-item" (click)="logOut()" >logout</a>
                  </div> 
              </a>
              
            </li>
          </ul>
          <!-- end menu seller -->
          <ul class="navbar-nav access" *ngIf="!isLogged">
            <li class="nav-item flex-nav-link">
              <a routerLink="/login" class="nav-link">{{ "Menu.login" | translate }}</a>
            </li>
            
            <li class="nav-item gray-nav-bg flex-nav-link">
              <a routerLink="/register" class="nav-link bg-btn">Sell now</a>
            </li>
            <li class="nav-item  blue-nav-bg flex-nav-link">
              <a routerLink="/register" class="nav-link bg-btn">Buy now</a>
            </li>
          </ul>
          <div class="fish-type-menu-mobile" *ngIf="isLogged && role==2">
            <ul class="navbar-nav">
              <li class="nav-item" *ngFor="let item of fishTypeMenuList">
                  <a routerLink="{{item.state}}" class="nav-link" *ngIf="item.type === 'link' else submenu" routerLinkActive="active-link">{{ item.translate[lang].name}}</a>
                  <ng-template #submenu>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active-link">{{ item.translate[lang].name}}</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="item.type === 'sub'">
                        <a routerLink="{{childitem.state}}" class="dropdown-item" *ngFor="let childitem of item.children">{{ childitem.translate[lang].name}}</a>
                      </div>
                    </li>
                  </ng-template>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="fish-type-menu" *ngIf="isLogged && role==2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav mx-auto">
            <!-- start menu fish type -->
            <li class="nav-item" *ngFor="let item of fishTypeMenuList; let i = index">
              <a routerLink="{{item.state}}" class="nav-link" *ngIf="item.type === 'link' else submenu" routerLinkActive="active-link">{{ item.translate[lang].name}}</a>
              <ng-template #submenu>
                <li class="nav-item dropdown" id="nav-item-{{i}}">
                  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active-link">{{ item.translate[lang].name}}</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="item.type === 'sub'" [ngClass]="{'multiple-column':item.children.length>5}">
                    <a routerLink="{{childitem.state}}" class="dropdown-item" *ngFor="let childitem of item.children">{{ childitem.translate[lang].name}}</a>
                  </div>
                </li>
              </ng-template>
            </li>

             <li class="nav-item" *ngFor="let menuitem of menuItems.getSellerMenu()">
              <a routerLink="{{menuitem.state}}" class="nav-link" *ngIf="menuitem.type === 'link' else submenu" routerLinkActive="active-link">
                
                <img src="../../../assets/svg/{{menuitem.icon}}" alt="" class="menu-icon">
              </a>
              <ng-template #submenu>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="active-link">
                      <img src="../../../assets/svg/{{menuitem.icon}}" alt="" class="menu-icon">
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="menuitem.type === 'sub'">
                    <a routerLink="{{childitem.state}}" class="dropdown-item" *ngFor="let childitem of menuitem.children">{{ childitem.translate[lang].name}}</a>
                  </div>
                </li>
              </ng-template>
            </li>
            <!-- end menu fish type -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>