.top-nav{
    padding: 15px 0;
    box-shadow: 0px 10px 11px -7px #eeeeee;
	font-family: Avenir;
	color: #969696;
	.bar{
		display: inline-block;
	}
	.address{
    	.bar{
    		margin: 0 10px 0 20px;
    	}
    	i{
    		margin-left: 20px;
    		margin-right: 5px;
    	}
	}
	.access{
		text-align: right;
		.login{
			cursor: pointer;
			color: #969696 !important;
			text-decoration: none !important;
		}
		.signup{
			color: #eb1c24 !important;
			text-transform: uppercase;
			font-family: Avenir Medium;
			text-decoration: none !important;
		}
		.bar{
			margin:0 10px
		}
	}
}
form{
	.form-group{
		margin-bottom: 0;
	}
	.form-control{
		display: inline-block;
	    border: 0;
	    padding: 10px;
	    max-width: 100%;
	    font-family: Avenir;
	    font-weight: lighter;
	    font-size: 1rem;
	    line-height: 1;
	    background: #ebf1f6;
	    width: auto;
	    margin: 0 !important;
	    border-radius: 0;
	}
	.search-btn{
		border: 0;
	    background: #eb1c24;
	    color: white;
	    font-family: Avenir Black;
	    padding: 9px 20px;
	}
}
.fish-type-menu{
	.navbar-nav{
		position: absolute;
	    width: 100%;
	    background: #fbffffc2;
	    left: 0;
	    text-align: center;
	    top: 55px;
	    display: block;
	}
    .nav-item {
    	display: inline-block;
    	.nav-link {
		    color: black !important;
		    padding-top: 5px !important;
		    padding-bottom: 5px !important;
		    position: relative;
		    padding-right: 20px;
		    &:after{
		    	content: '/';
			    position: absolute;
			    right: 0;
			    font-size: 20px;
			    top: 0;
			    color:black !important;
			    font-weight: normal !important
		    }
		}
		&:last-child .nav-link:after{
		   	display: none
		}
		.active-link{
			color: #19465f !important;
    		font-weight: 600;
		}
	}
}
.suggestion{
	position: absolute;
    bottom: 0;
    background: white;
    transform: translate(0,100%);
    z-index: 1;
    border: 1px solid #ebf1f6;
	ul{
		padding: 0;
	    list-style: none;
	    margin: 0;
	    li{
	    	padding: 5px 50px 5px 20px;
    		border-bottom: 1px solid #ebf1f6;
    		position: relative;
    		cursor: pointer;
    		font-family: Avenir;
    		font-weight: lighter;
    		&:last-child{
    			border: 0;
    		}
    		.count{
    			color: #19465f;
			    position: absolute;
			    right: 5px;
			    top: 50%;
			    transform: translate(0,-50%);
    		}
	    }
	}
}
.cart{
	position: relative;
    padding-right: 20px !important;
}
.total{
	position: absolute;
    font-size: 11px;
    top: 45%;
    right: 0;
    transform: translate(0,-100%);
}
.closeContainer{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
    z-index: 3;
}
@media(min-width: 998px){
	.search-container{
		z-index: 4;
		position: absolute;
	    top: 50%;
	    left: 30%;
	    transform: translate(0%,-50%);
	}
}
@media(max-width: 998px){
	.lang-cont{
		text-align: right;
	}
}