form{
	.form-group{
		margin-bottom: 0;
	}
	.form-control{
		display: inline-block;
	    border: 0;
	    padding: 10px;
	    max-width: 100%;
	    font-family: "Arapey",serif;
	    font-style: oblique;
	    font-size: 1.2rem;
	    line-height: 1;
	    width: auto;
	}
}
.fish-type-menu{
	.navbar-nav{
		position: absolute;
	    width: 100%;
	    background: #fbffffc2;
	    left: 0;
	    text-align: center;
	    top: 55px;
	    display: block;
	}
    .nav-item {
    	display: inline-block;
    	.nav-link {
		    color: black !important;
		    padding-top: 5px !important;
		    padding-bottom: 5px !important;
		    position: relative;
		    padding-right: 20px;
		    &:after{
		    	content: '/';
			    position: absolute;
			    right: 0;
			    font-size: 20px;
			    top: 0;
			    color:black !important;
			    font-weight: normal !important
		    }
		}
		&:last-child .nav-link:after{
		   	display: none
		}
		.active-link{
			color: #19465f !important;
    		font-weight: 600;
		}
	}
}
.suggestion{
	position: absolute;
    bottom: 0;
    background: white;
    transform: translate(0,100%);
    z-index: 1;
    border: 1px solid #19465f;
	ul{
		padding: 0;
	    list-style: none;
	    margin: 0;
	    li{
	    	padding: 5px 50px 5px 20px;
    		border-bottom: 1px solid #19465f;
    		position: relative;
    		cursor: pointer;
    		&:last-child{
    			border: 0;
    		}
    		.count{
    			color: #19465f;
			    position: absolute;
			    right: 5px;
			    top: 50%;
			    transform: translate(0,-50%);
    		}
	    }
	}
}