<div class="content single-product" *ngIf="show; else elseBlock">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 product-img">
        <img src="../../assets/loader.gif" alt="loading..." *ngIf="showLoading" class="loading">
        <img src="../../assets/default-img-product.jpg" alt="" class="img-fluid" *ngIf="!images;else slider">
        <ng-template #slider>
          <div class="flexslider">
            <div class="slides">
              <li *ngIf="mainImg && mainImg!=''" attr.data-thumb="{{base}}{{mainImg}}"> <img src="{{base}}{{mainImg}}" alt=""></li>
              <li *ngFor="let image of images; index as i;" attr.data-thumb="{{base}}{{image.src}}">
                <img src="{{base}}{{image.src}}" alt="">
              </li>
            </div>
          </div>  
        </ng-template>      
        
      </div>  
      <div class="col-lg-4 product-content">
        <h2 class="product-name">{{name}}</h2>
        <h5>{{category}}</h5>
        <div class="product-info">
          <p>
           {{description}}
          <p>
            <span class="price"><b>$ {{priceValue}} {{measurement}}</b></span>
          </p>
          <form action="#" *ngIf="isLogged; else login">
            <div class="quantity">
              <button type="button" id="add" class="add" (click)="increaseCount()">+</button>
              <div class="qty-wrapper">
                <input type="number" step="1" min="1" max="" name="quantity" [value]="count" title="Qty" class="input-text qty text" size="4" pattern="[0-9]*" inputmode="numeric">
                <span> {{'SingleProduct.pack' | translate}}</span>
              </div>
              <button type="button" id="sub" class="sub" (click)="dicreaseCount()">-</button>
            </div>
            <button (click)="addToCart()" type="submit" class="single_add_to_cart_button button alt animated-rev">{{'SingleProduct.add' | translate}}<i class="hook-img"></i></button>
            <button *ngIf="showCart" (click)="goToCart()" class="single_add_to_cart_button button alt animated-rev">{{'SingleProduct.view' | translate}}<i class="hook-img"></i></button>
          </form>
          <ng-template #login>
            <p>{{'SingleProduct.no-login' | translate}} <a routerLink="/login">{{'SingleProduct.here' | translate}}</a></p>
          </ng-template>
        </div>
        </div>
    </div>   
  </div>
</div>

<ng-template #elseBlock>
  
  <div class="not-found-grid">
    <p>{{'SingleProduct.no-found' | translate}}</p>
  </div>  
</ng-template>
