.box-input input{
    width: 80px;
    text-align: center;
    border:2px solid #eb1c24;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.btn-rm{
    background: transparent;
    padding: 5px 20px;
    font-size: 0.8rem;
}
.pink-btn{
    background: transparent;
}

a.link-cart{
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
}

.cart-divider{
    border-top: 3px solid #eb1c24;
}


.product-name a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none !important;
    color: black !important
}
.black-line{
    height: 0.5px;
    background: black;
    width: 80px;
}
.subtotal{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
}
.product-description{
    font-family: 'Roboto', sans-serif Light;
    color: #969693;
}
.modal h4 {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    margin-top: 10px;
}
.btn-yes{
    width: auto;
    text-align: right;
    float: right;
    border: 0px;
}
.cart-totals{
    table{
        border: 1px solid rgba(0,0,0,.1);
        margin: 0 -1px 24px 0;
        text-align: left;
        width: 100%;
        border-collapse: separate;
        border-radius: 5px;
        td{
            padding: 10px;
            border-bottom: 1px solid rgba(0,0,0,.1);
        }
        tr:last-child td{
            border: none;
        }
    }
}

@media(max-width: 998px){
   
    .sub-total, .table-design .row-bg .pink-btn, .product-name, .product-description{
        margin-top: 20px;
    }
    .box-input{
        margin-bottom: 20px;
    }
}

// NEW DESIGN SASS

.gray-bg{
    padding: 155px 0;
    .empty-container{
        h4{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 21px;
            letter-spacing: 1.75px;
            line-height: 25px;
            color: #3E4E75;
            font-weight: 300;
            margin: 50px 0;
        }
        .outline-btn{
            background: none;
            border: none;
            border-radius: 2px;
            border: 1px solid #7484AA;
            text-transform: uppercase;
            font-size: 16px;
            color: #7484AA;
            letter-spacing: 1.5px;
            width: 290px;
            height: 50px;
            margin: 0 auto;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            line-height: 50px;
            transition: all .2s ease-in-out;
            &:hover{
                background: #7484AA;
                color: #fff;
            }
        }
       
    }
    
}