<div class="page-header" id="hero" style="background:url(../../assets/search-bg.jpg)">
  <div class="overlay" style="background: url(../../assets/overlay-search.png);"></div>
  <div class="content">
    <h1 class="big-title">{{'Search.big-title-banner'| translate}}</h1>
    <h3 class="small-title">{{'Search.small-title-banner'| translate}}</h3>
    <a href="" class="btn-red-a">{{'Search.banner-button'| translate}}</a>
  </div>
</div> 
<div class="container">
  <div class="row">
    <div class="col">
      <img src="../../assets/loader.gif" alt="loading..." *ngIf="showLoading" class="loading">
    </div>
  </div>
</div>
<div class="container" *ngIf="!empty; else elseBlock">
  <div class="row" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="col-md-9"></div>
    <div class="col-md-3 text-right">
      <a routerLink="/home" class="link-cart">{{'Cart.back' | translate}}</a>
    </div>
  </div>
  <div class="row flex-center" *ngFor="let product of products; index as i;">
    <div class="col-md-2">
      <div class="box-input">
        <input type="number" [value]="product.quantity.value" [(ngModel)]="product.quantity.value">
      </div>
    </div>
    <div class="col-md-2">
      @ ${{product.price.value}}
    </div>
    <div class="col-md-4">
      {{product.fish.name}} -  {{product.fish.description}}
    </div>
    <div class="col-md-2 text-center">
      ${{getTotalxItem(product.quantity.value, product.price.value)}}
    </div>
    <div class="col-md-2">
      <button class="cart-btn" (click)="deleteItem(i,product.id)"> {{'Cart.delete' | translate}}</button>
    </div>

  </div>
  <div class="row" >
      <div class="col-md-12" style="padding-bottom: 20px;">
        <hr class="cart-divider">
      </div>
      <div class="col-md-3">
        <button class="cart-btn" (click)="getAllProductsCount()">{{'Cart.update' | translate}}</button>
      </div>
      <div class="col-md-7 text-right">
        <h3>{{'Cart.subtotal' | translate}} &nbsp;&nbsp;&nbsp;   ${{total}}</h3>
      </div>
      <div class="col-md-12 text-right" style="padding-bottom: 20px; padding-top: 20px;">
        <button class="cart-btn" (click)="checkout()">{{'Cart.next' | translate}}</button>
      </div>
  </div>

</div>

<ng-template #elseBlock>
  
    <div class="not-found-grid">
      <p>{{'Cart.empty' | translate}} :(</p>
    </div>  
  </ng-template>