<div class="bg">
  <div class="container">

    <div *ngFor='let it of items; let i=index' class="row">
      <div class="col-3">
        {{it.description}}
      </div>
      <div class="col-2">
        <div class="form-inline">
          <label for='name'>Quantity/kg</label>
          <input type="number" id='name' class="form-control" [ngClass]="inValidsInputs(it, 'quantity')===true?'err':''"
            [readonly]="it.status.id===idDelivered||it.status.id===idCancelledOrder||it.status.id===idSellerCancelledOrder?true:null"
            (input)='changeValue(it, i)' [(ngModel)]="it.quantity" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="col-2">
        <div class="form-inline">
          <label for='grandTotal'>Delivered Price/kg</label>
          <input id='grandTotal' type="number" class="form-control" [ngClass]="inValidsInputs(it, 'priceDelivered')===true?'err':''"
            [readonly]="it.status.id===idDelivered||it.status.id===idCancelledOrder||it.status.id===idSellerCancelledOrder?true:null"
            (input)='changeValue(it, i)' [(ngModel)]="it.priceDelivered" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="col-3"
        [ngClass]="it.status.id===idDelivered||it.status.id===idCancelledOrder||it.status.id===idSellerCancelledOrder?'new-ammend':''">
        {{it.status.status}}
      </div>
    </div>

    <div *ngIf='invoiceReady' id='invoice' class="row justify-content-center">
      <div class="col-12 col-md-10">

        <div class="logo">
          <img src="{{apiUrl}}/seafood -black.png" alt="logo seafood ">
          <span (click)='toggleDetails()'>{{showDetails===true?'Hidden Details':'Show Details'}}</span>
        </div>
        <div [hidden]='!showDetails' class="align-right">
          <h1 class="paid">PAID</h1>
        </div>
        <div [hidden]='!showDetails' class="row">
          <div class="col col-5">
            <h3>Proforma Invoice</h3>
            <p>{{shopping.buyer.dataExtra.companyName}}<br>
              {{shopping.buyer.firstName + ' ' + shopping.buyer.lastName}}<br>
              {{shopping.shippingAddress.address+ ','+ shopping.shippingAddress.city + ','+ shopping.shippingAddress.country}}<br>
              VAT: {{shopping.buyer.dataExtra.vat || 0}}
            </p>
          </div>
          <div class="col col-25">
            <p><b>Invoice Date</b><br>
              {{formatPaid()}} </p>
            <p><b>Marketplace Tax Number</b> <br>
              contactAccountNumber </p>
            <p><b>Invoice Number</b> <br>
              {{shopping.orderNumber}} </p>
            <p><b>SFS Order Number</b> <br>
              {{shopping.orderNumber}} </p>
          </div>
          <div class="col col-25">
            <p> Marketplace General Trading LLC.</p>
            <p>Warehouse 10, Al Q‌uoz Industrial Area 3, 58 ST., Dubai, United Arab
              Emirates.</p>
            <p>P.O.Box: 282815</p>
            <p>Telephone: <br>
              +971 (0)4 268 3521
            </p>
          </div>
        </div>

        <div class="row header">
          <table>
            <thead>
              <tr>
                <th class="col-2">Description</th>
                <th class="col-2">ETA</th>
                <th class="col-2">Country of Origin</th>
                <th class="col-2">Quantity</th>
                <th class="col-2">U/M</th>
                <th class="col-2">{{calcNews===true?'Delivered Price/kg':'Unit Price'}}</th>
                <!-- <th >Tax Rate</th> -->
                <th class="col-2">Amount AED</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor='let it of shopping.items'>
                <td class="col col-2">
                  {{it.description}}
                </td>
                <td class="col-2">
                  {{it.inventory.short_date}}
                </td>
                <td class="col-2">
                  {{it.fishCurrent.country}}
                </td>

                <td class="col-2" *ngIf='!newValue(it,"quantity")'>
                  {{it.fishCurrent.perBox === true ? parseFloat(Number(it.itemCharges.weight) /
                  Number(it.fishCurrent.boxWeight)).toFixed(2) : it.itemCharges.weight}}
                </td>
                <td class="col-2 new-ammend" *ngIf='newValue(it,"quantity")'>
                  {{getValue(it, 'quantity')}}
                </td>

                <td class="col-1" *ngIf='!newValue(it,"quantity")'>
                  {{it.fishCurrent.perBox===true? parseInt(Number(it.itemCharges.weight) /
                  Number(it.fishCurrent.boxWeight)) > 1 ? 'BOXES' : 'BOX':'KG'}}
                </td>
                <td class="col-1 new-ammend" *ngIf='newValue(it,"quantity")'>
                  KG
                </td>

                <td class="col-2" *ngIf='!newValue(it, "priceDelivered")'>
                  {{it.fishCurrent.perBox === true ? parseFloat(Number(it.itemCharges.price) *
                  Number(it.fishCurrent.boxWeight)).toFixed(2) : it.itemCharges.price}}
                </td>
                <td class="col-2 new-ammend" *ngIf='newValue(it, "priceDelivered")'>
                  {{getValue(it, 'priceDelivered')}}
                </td>

                <td class="col col-2" *ngIf='!newValue(it, "amountEAD")'>
                  {{parseFloat(Number(it.itemCharges.fishCost)).toFixed(2)}}
                </td>
                <td class="col col-2 new-ammend" *ngIf='newValue(it, "amountEAD")'>
                  {{getValue(it, "amountEAD")}}
                </td>

              </tr>

            </tbody>
          </table>
        </div>
        <div class="subtotal" [ngClass]='calcNews===true?"new-ammend":""'>
          <div class="text-right">
            <span>Subtotal</span>
          </div>
          <div class="text-right">
            <span>{{subtotal}}</span>
          </div>
        </div>
        <!-- <div class="subtotal" [ngClass]='calcNews===true?"new-ammend":""'>
          <div class="text-right">
            <span>VAT (5%) </span>
          </div>
          <div class="text-right">
            <span>{{vat}}</span>
          </div>
        </div> -->

        <div class="subtotal text-right  clear" [ngClass]='calcNews===true?"new-ammend":""'>
          <p>
            <b>Grand Total AED {{total}} </b>
            <br>
            <span class="cite-text">(VAT included in total)</span>
          </p>
        </div>
        <div class="extras text-right ">
          <p><b>Due Date: {{formatPaid()}} </b></p>
        </div>
        <div class="extras text-right ">
          <p class="blue"><a href="http://seafood souq.com/terms-conditions">Marketplace T&Cs</a></p>
          <!-- <p class="blue">Shipping and Returns Policy</p> -->
        </div>

      </div>
    </div>

    <div class="row justify-content-center">
      <div class="">
        <button class='btn btn-save' [disabled]="inValidsInputs()" (click)='ammendInvoice()'>{{textSave}}</button>
      </div>
    </div>

  </div>
</div>