@import "../../variables.scss";

.bg {
    padding-top: 130px;
}

.form-control {
    color: black !important;
}

.new-ammend {
    color: #094D82 !important;
}

.err{
    border: 1px solid red !important; 
}

.logo {
    img {
        width: 100px;
    }

    span {
        margin-left: calc(100% - 230px);
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
    }
}


#invoice {
    * {
        font-size: 1rem !important;
        font-family: Arial, Helvetica, sans-serif !important;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid black;

            td {
                white-space: nowrap;
            }
        }
    }

    .subtotal {
        margin-top: 15px;
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;

        div:first-child {
            width: 85%;
            flex-basis: 85%;
        }

        p {
            width: 100%;
        }
    }

    .extras {
        margin-top: 2px;
        margin-bottom: 0;
    }
}

.btn-save {
    border: 1px solid $light_blue;
    text-transform: uppercase;
    color: $light_blue;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 24px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: none;
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;

    @media screen and (max-width: 768px) {
        font-size: 17px;

    }

    .cite-text {
        font-size: 1rem;
        font-style: italic;
    }
}

.btn-save:hover {
    background: $dark_blue !important;
    border: 1px solid $dark_blue !important;
    color: #ffffff !important;
}