<div class="container">
  <div style="height: 100px;"></div>

  <div class="row">
    <div class="col-lg-3">
      <h1 class="title">Checkout</h1>
      <h1 class="subtitle">Review Order</h1>
     
    </div>

    <div class="col-lg-9">
      <div class="row table-checkout">
        <div class="col-lg-12">
          <h3>Your order</h3>
          <table>
            <tr>
                <th>Product</th>
                <th>Total</th>
            </tr>
            <tr *ngFor="let product of products; index as i;">
              <td>
                {{product?.fish?.type?.name}} <b> × {{product.quantity.value}} kg</b>            
              </td>
              <td>{{getTotalxItem(product.quantity.value, product.price.value)}} AED</td>
            </tr>
            <tr>
              <td><b>Subtotal</b></td>
              <td><b>{{(total).toFixed(2)}} AED</b></td>
            </tr>
            <tr>
              <td><b>Shipping</b></td>
              <td><b>{{(shipping).toFixed(2)}} AED</b></td>
            </tr>
            <tr>
              <td><b>Taxes, Customs and Other Fees</b></td>
              <td><b>{{(totalOtherFees).toFixed(2)}} AED</b></td> 
            </tr>
            <tr>
              <td><b>Total</b></td>
              <td><b>{{(totalWithShipping).toFixed(2)}} AED</b></td>
            </tr>
            
          </table>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-6">
            <button (click)="goToNextPage()" class="btn btn-red">Proceed to Pay</button>

        </div>
      </div>
    </div>
  </div>
</div>