
#blah{
	max-width: 100%;
    padding: 20px;
}


.loader-gif{
	position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    margin: auto;
}


.gray-bg{
    padding-top: 155px;
    padding-bottom: 155px;
    .gray-title{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 28px;
        line-height: 45px;
        letter-spacing: 1.5px;
        color: #7484AA;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 100px;
        @media screen and (max-width: 768px) {
            font-size: 28px !important;

          }
        span{
            border-bottom: 1px solid #7484AA;
            padding-bottom: 15px;

        }
    }

    .btn-save{
        border: 1px solid #7484AA;
        text-transform: uppercase;
        color: #7484AA;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        letter-spacing: 1.5px;
        font-size: 24px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        outline: none;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;

        @media screen and (max-width: 768px) {
            font-size: 17px;

          }
      }

      .btn-save:hover{
        background: #7484AA !important;
        border: 1px solid #7484AA !important;
        color: #ffffff !important;
    }

    

}

