<ng-progress></ng-progress>
<div class="gray-bg">
  <div class="container">
    <div class="col-lg-12">
        <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()" >
            <div class="row"> 
              
                <div class="col-lg-12 text-center">
                    <h1 class="gray-title" *ngIf="createProduct" ><span>{{'newProduct.title' | translate}}</span></h1>
                    <h1 class="gray-title" *ngIf="!createProduct" ><span>{{'newProduct.edit' | translate}}</span></h1>
                  </div>
                <ng-template #customLoadingTemplate>
                  <div class="row">
                    <div class="wave-loader" style="background-color: #F7F8F9; z-index: 999999; height: 100px; position:fixed;">
                      <div class="wave-loading"></div>
                    </div>
                  </div>
                </ng-template>
                <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true, backdropBackgroundColour: 'transparent'}" [template]="customLoadingTemplate">
                </ngx-loading>
          
                  <fish-form></fish-form>
                  <!-- <fish-features></fish-features> -->
                  <avanced-pricing [events]="eventsSubject.asObservable()" (messageEvent)="receiveMessage($event)"></avanced-pricing>
                  <div class="row" style="width: 100%; margin-top: 40px;">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-save" routerLink="/my-products">
                          Go back
                        </button>
                    </div>
                    <div class="col-md-6">
                      <button type="submit" class="btn btn-save">submit product</button>
                    </div>
                  </div>
            </div>
            </form>

    </div>
     
  
  </div>
</div>
