<ng-progress></ng-progress>
<div class="gray-bg">
  <div class="container">
    <div class="col-lg-12">
        <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()" >
            <div class="row"> 
              
                <div class="col-lg-12 text-center">
                    <h1 class="gray-title" ><span>Add new product</span></h1>
                  </div>
                <ng-template #customLoadingTemplate>
                  <div class="row">
                    <div class="col">
                      <div class="col-12 text-center"><img class="loader-gif" src="../../assets/loadingfish.gif" alt=""></div>
                    </div>
                  </div>
                </ng-template>
                <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true}" [template]="customLoadingTemplate">
                </ngx-loading>
          
                  <fish-form></fish-form>
                  <fish-features></fish-features>
                  <avanced-pricing></avanced-pricing>
                  <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn-red">
                          <a routerLink="/my-products" routerLinkActive="active">{{'CreateProduct.back' | translate}}</a>
                        </button>
                    </div>
                    <div class="col-6">
                      <button type="submit" class="btn-red">{{'CreateProduct.submit' | translate}}</button>
                    </div>
                  </div>
            </div>
            </form>
    </div>
     
  
  </div>
</div>
