<ng-progress></ng-progress>

<div class="container">
  <div style="height: 100px;"></div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="title">{{'AddProduct.title' | translate}}</h1>
      <ng-template #customLoadingTemplate>
        <div class="row">
          <div class="col">
            <div class="col-12 text-center"><img class="loader-gif" src="../../assets/loadingfish.gif" alt=""></div>
          </div>
        </div>
      </ng-template>
      <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true}" [template]="customLoadingTemplate">
      </ngx-loading>

      <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()" class="form-design">
        <fish-form></fish-form>
        <fish-features></fish-features>
        <avanced-pricing></avanced-pricing>
        
        <!-- <div class="row">
          <div class="col-lg-12">
            <h2 class="black-title">Products Features</h2>
          </div>
          <div class="col-lg-6">
            <div class="form-group"
              [ngClass]="{'has-danger': mortalityRate.invalid && (mortalityRate.dirty || mortalityRate.touched),'has-success': mortalityRate.valid && (mortalityRate.dirty || mortalityRate.touched)}">
              <label>{{'AddProduct.mortalityRate' | translate}} <span class="field-status red">*</span> <img
                  tooltip="This is the maximum % of spoiled product a customer must accept within a shipment"
                  placement="right" show-delay="0" src="../../assets/question.png" alt="" width="20"></label>
              <input class="form-control" formControlName="mortalityRate" type="number" required>
              <div class="form-control-feedback" *ngIf="mortalityRate.errors && showError">
                <p *ngIf="mortalityRate.errors.required">{{'AddProduct.mortalityRate' | translate}}
                  {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group"
              [ngClass]="{'has-danger': raised.invalid && (raised.dirty || raised.touched),'has-success': raised.valid && (raised.dirty || raised.touched)}">
              <label>{{'AddProduct.raised' | translate}} <span class="field-status red">*</span> <img
                  tooltip="This field reflects the environment in which the product was raised" placement="right"
                  show-delay="0" src="../../assets/question.png" alt="" width="20"></label>
              <select class="form-control" formControlName="raised">
                <option value="farmed">Farmed</option>
                <option value="organically">Organically Farmed</option>
                <option value="wild">Wild</option>
              </select>
              <div class="form-control-feedback" *ngIf="raised.errors && showError">
                <p *ngIf="raised.errors.required">{{'AddProduct.raised' | translate}}
                  {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group"
              [ngClass]="{'has-danger': preparation.invalid && (preparation.dirty || preparation.touched),'has-success': preparation.valid && (preparation.dirty || preparation.touched)}">
              <label>{{'AddProduct.preparation' | translate}} <span class="field-status red">*</span> <a
                  class="manage-link" data-toggle="modal" data-target="#trimModal" [hidden]="hideTrimModal">Manage
                  Trimming</a> <img tooltip="This field reflects any post harvest treatment/processing of the product"
                  placement="right" show-delay="0" src="../../assets/question.png" alt="" width="20"></label>
              <select class="form-control" formControlName="preparation" (change)="showWhole($event.target.value)">
                <option value="{{preparation}}" *ngFor="let preparation of preparationOptions">{{preparation}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="preparation.errors && showError">
                <p *ngIf="preparation.errors.required">{{'AddProduct.preparation' | translate}}
                  {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6" *ngIf="showWholeOptions">
            <div class="form-group">
              <label>Whole Fish Weight <img tooltip="Lorem Ipsum" placement="right" show-delay="0"
                  src="../../assets/question.png" alt="" width="20"></label>
              <select class="form-control" formControlName="wholeFishWeight">
                <option value="{{whole}}" *ngFor="let whole of wholeOptions">{{whole}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group"
              [ngClass]="{'has-danger': treatment.invalid && (treatment.dirty || treatment.touched),'has-success': treatment.valid && (treatment.dirty || treatment.touched)}">
              <label>{{'AddProduct.treatment' | translate}} <span class="field-status red">*</span> <img
                  tooltip="Any post harvest treatment of the product" placement="right" show-delay="0"
                  src="../../assets/question.png" alt="" width="20"></label>
              <select class="form-control" formControlName="treatment">
                <option value="fresh">Fresh</option>
                <option value="frozen">Frozen</option>
                <option value="live">Live</option>
                <option value="smoked">Smoked</option>
              </select>
              <div class="form-control-feedback" *ngIf="treatment.errors && showError">
                <p *ngIf="treatment.errors.required">{{'AddProduct.treatment' | translate}}
                  {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6" style="display:  none;">
            <div class="form-group"
              [ngClass]="{'has-danger': cooming_soon.invalid && (cooming_soon.dirty || cooming_soon.touched),'has-success': cooming_soon.valid && (cooming_soon.dirty || cooming_soon.touched)}">
              <label>{{'AddProduct.cooming_soon' | translate}} <span class="field-status red">*</span></label>
              <select class="form-control" formControlName="cooming_soon">
                <option value="false">No</option>
                <option value="true">Yes</option>
              </select>
              <div class="form-control-feedback" *ngIf="cooming_soon.errors && showError">
                <p *ngIf="cooming_soon.errors.required">{{'AddProduct.cooming_soon' | translate}}
                  {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn-red">{{'AddProduct.submit' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div style="height: 100px;"></div>
</div>