<div class="container">
  <div style="height: 100px;"></div>
  <div class="row">
    <div class="col-lg-3">
      <h1 class="title">{{'Account.title' | translate}}</h1>
      <h1 class="subtitle">{{'Account.subtitle' | translate}}</h1>
    </div>
    <div class="col-lg-9">
      <form *ngIf="info.role == 2 || info.role == 0" (submit)="updateBuyer()" [formGroup]="buyerForm">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.first-name' | translate}}<span class="field-status red">*</span> </label>
              <input type="text" class="form-control"  formControlName="firstName" [ngClass]="{'is-invalid':buyerForm.get('firstName').invalid && buyerForm.get('firstName').touched}">
              <div class="invalid-feedback" *ngIf="buyerForm.get('firstName').hasError('required')">{{'Register.first-name' | translate}} {{'Register.required' | translate}}.</div>              
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.last-name' | translate}}<span class="field-status red">*</span> </label>
              <input type="text" class="form-control"  formControlName="lastName" [ngClass]="{'is-invalid':buyerForm.get('lastName').invalid && buyerForm.get('lastName').touched}">
              <div class="invalid-feedback" *ngIf="buyerForm.get('lastName').hasError('required')">{{'Register.last-name' | translate}} {{'Register.required' | translate}}.</div>              
            </div>
          </div>


          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.email' | translate}}<span class="field-status red">*</span> </label>
              <input type="text" class="form-control"  formControlName="email" [ngClass]="{'is-invalid':buyerForm.get('email').invalid && buyerForm.get('email').touched}">
              <div class="invalid-feedback" *ngIf="buyerForm.get('email').hasError('required')">{{'Register.email' | translate}} {{'Register.required' | translate}}.</div>  
              <div class="invalid-feedback" *ngIf="buyerForm.get('email').hasError('email') && !buyerForm.get('email').hasError('required')">{{'Account.email' | translate}} {{'Register.invalid' | translate}}</div>
            
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.tel' | translate}}<span class="field-status red">*</span></label>
              <input type="tel" class="form-control" formControlName="telephone" [ngClass]="{'is-invalid':buyerForm.get('telephone').invalid && buyerForm.get('telephone').touched}">
              <div class="invalid-feedback" *ngIf="buyerForm.get('telephone').hasError('required')">{{'Account.tel' | translate}} {{'Register.required' | translate}}.</div>
              <div class="invalid-feedback" *ngIf="buyerForm.controls.telephone.errors">Only numbers allowed</div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.company' | translate}}<span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="{{'Account.company' | translate}}" formControlName="companyName" [ngClass]="{'is-invalid':buyerForm.get('companyName').invalid && buyerForm.get('companyName').touched}">
              <div class="invalid-feedback" *ngIf="buyerForm.get('companyName').hasError('required')">{{'Account.company' | translate}} {{'Register.required' | translate}}.</div>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label>Type of Business<span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="Type of Business" formControlName="typeBusiness" [ngClass]="{'is-invalid':buyerForm.get('typeBusiness').invalid && buyerForm.get('typeBusiness').touched}">
              <div class="invalid-feedback" *ngIf="buyerForm.get('typeBusiness').hasError('required')">{{'Account.company' | translate}} {{'Register.required' | translate}}.</div>

            </div>
          </div>


          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.country' | translate}}<span class="field-status red">*</span></label>
              <select class="form-control" formControlName="country" [ngClass]="{'is-invalid':buyerForm.get('country').invalid && buyerForm.get('country').touched}">
               <option value="{{country.code}}" *ngFor="let country of countries">{{country.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="buyerForm.get('country').hasError('required')">{{'Account.country' | translate}} {{'Register.required' | translate}}.</div>

            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.Address' | translate}}<span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="{{'Account.Address' | translate}}" formControlName="address" [ngClass]="{'is-invalid':buyerForm.get('address').invalid && buyerForm.get('address').touched}">
              <div class="invalid-feedback" *ngIf="buyerForm.get('address').hasError('required')">{{'Account.Address' | translate}} {{'Register.required' | translate}}.</div>

            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              <label>{{'Account.City' | translate}}<span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="{{'Account.City' | translate}}" formControlName="city" [ngClass]="{'is-invalid':buyerForm.get('city').invalid && buyerForm.get('city').touched}">
              <div class="invalid-feedback" *ngIf="buyerForm.get('city').hasError('required')">{{'Account.city' | translate}} {{'Register.required' | translate}}.</div>

            </div>
          </div>


        </div>
        <div class="row">
          <div class="col-lg-6">
            <button type="submit" class="btn btn-red">{{'Account.button-update' | translate}}</button>
          </div>
          <div class="col-lg-6">
            <a class="pink-btn" data-toggle="modal" data-target="#changePassword">{{'Account.title-change-password' | translate}}</a>
          </div>
        </div>
      </form>

      <form *ngIf="info.role == 1" (submit)="updateSeller()" [formGroup]="sellerForm">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.first-name' | translate}}<span class="field-status red">*</span> </label>
              <input type="text" class="form-control"  formControlName="firstName" [ngClass]="{'is-invalid':sellerForm.get('firstName').invalid && sellerForm.get('firstName').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('firstName').hasError('required')">{{'Register.first-name' | translate}} {{'Register.required' | translate}}.</div>              
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.last-name' | translate}}<span class="field-status red">*</span> </label>
              <input type="text" class="form-control"  formControlName="lastName" [ngClass]="{'is-invalid':sellerForm.get('lastName').invalid && sellerForm.get('lastName').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('lastName').hasError('required')">{{'Register.last-name' | translate}} {{'Register.required' | translate}}.</div>              
            </div>
          </div>


          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.email' | translate}}<span class="field-status red">*</span> </label>
              <input type="text" class="form-control"  formControlName="email" [ngClass]="{'is-invalid':sellerForm.get('email').invalid && sellerForm.get('email').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('email').hasError('required')">{{'Register.email' | translate}} {{'Register.required' | translate}}.</div>  
              <div class="invalid-feedback" *ngIf="sellerForm.get('email').hasError('email') && !sellerForm.get('email').hasError('required')">{{'Account.email' | translate}} {{'Register.invalid' | translate}}</div>
            
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'Account.tel' | translate}}<span class="field-status red">*</span></label>
              <input type="tel" class="form-control" formControlName="telephone" [ngClass]="{'is-invalid':sellerForm.get('telephone').invalid && sellerForm.get('telephone').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('telephone').hasError('required')">{{'Account.tel' | translate}} {{'Register.required' | translate}}.</div>
              <div class="invalid-feedback" *ngIf="sellerForm.controls.telephone.errors">Only numbers allowed</div>
            </div>
          </div>
          <div class="col-lg-12 text-center">
              <h3 class="black-title">Company Information</h3>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>{{'Register.company' | translate}} <span class="field-status red">*</span></label>
              <input disabled type="text" class="form-control" placeholder="{{'Register.company' | translate}}" formControlName="companyName" [ngClass]="{'is-invalid':sellerForm.get('companyName').invalid && sellerForm.get('companyName').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('companyName').hasError('required')"> {{'Register.company' | translate}} {{'Register.required' | translate}}.</div>
            </div>
          </div>
          <div class="col-md-6">  
            <div class="form-group">
              <label>Trade/Brand Name <span class="field-status red">*</span></label>
              <input  disabled type="text" class="form-control" placeholder="Trade/Brand Name" formControlName="trade"  [ngClass]="{'is-invalid':sellerForm.get('trade').invalid && sellerForm.get('trade').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('trade').hasError('required')">Trade/Brand Name is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{'Register.company-type' | translate}} <span class="field-status red">*</span></label>
              <select disabled class="form-control" formControlName="companyType" [ngClass]="{'is-invalid':sellerForm.get('companyType').invalid && sellerForm.get('companyType').touched}">
                <option value="Producer">Producer</option>
                <option value="Processor">Processor </option>
                <option value="Trader">Trader</option>
              </select>
              <div class="invalid-feedback" *ngIf="sellerForm.get('companyType').hasError('required')"> {{'Register.company-type' | translate}} {{'Register.required' | translate}}.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{'Register.country' | translate}} <span class="field-status red">*</span></label>
              <select disabled class="form-control" formControlName="country" [ngClass]="{'is-invalid':sellerForm.get('country').invalid && sellerForm.get('country').touched}">
                <option value="">{{'Register.country' | translate}}</option>
                 <option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option>
              </select>
              <div class="invalid-feedback" *ngIf="sellerForm.get('country').hasError('required')"> {{'Register.country' | translate}} {{'Register.required' | translate}}.</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>{{'Register.Address' | translate}} <span class="field-status red">*</span></label>
              <input disabled type="text" class="form-control" placeholder="{{'Register.Address' | translate}}" formControlName="address"  [ngClass]="{'is-invalid':sellerForm.get('address').invalid && sellerForm.get('address').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('address').hasError('required')"> {{'Register.Address' | translate}} {{'Register.required' | translate}}.</div>
            </div>
          </div>
          <div class="col-md-6">  
            <div class="form-group">
              <label>{{'Register.City' | translate}} <span class="field-status red">*</span></label>
              <input disabled type="text" class="form-control" placeholder="{{'Register.City' | translate}}" formControlName="city"  [ngClass]="{'is-invalid':sellerForm.get('city').invalid && sellerForm.get('city').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('city').hasError('required')"> {{'Register.City' | translate}} {{'Register.required' | translate}}.</div>
            </div>
          </div>
          <div class="col-md-6">  
            <div class="form-group">
              <label>Trade License Number (Registration) <span class="field-status red">*</span></label>
              <input  disabled type="text" class="form-control" placeholder="Trade License Number (Registration)" formControlName="licenseNumber"  [ngClass]="{'is-invalid':sellerForm.get('licenseNumber').invalid && sellerForm.get('licenseNumber').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('licenseNumber').hasError('required')">Trade License Number (Registration) is required.</div>
            </div>
          </div>
          <div class="col-md-6">  
            <div class="form-group">
              <label>Food Safety Certificate Number (ISO) <span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="Food Safety Certificate Number (ISO)" formControlName="iso"  [ngClass]="{'is-invalid':sellerForm.get('iso').invalid && sellerForm.get('iso').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('iso').hasError('required')">Food Safety Certificate Number (ISO) is required.</div>
            </div>
          </div>
          <div class="col-md-6">  
            <div class="form-group">
              <label>Corporate Bank Account Number IBAN <span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="Corporate Bank Account Number IBAN" formControlName="iban"  [ngClass]="{'is-invalid':sellerForm.get('iban').invalid && sellerForm.get('iban').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('iban').hasError('required')">Corporate Bank Account Number IBAN is required.</div>
            </div>
          </div>
          <div class="col-md-6">  
            <div class="form-group">
              <label>Products Interested in Selling <span class="field-status red">*</span></label>
              <input type="text" class="form-control" placeholder="Products Interested in Selling" formControlName="productsIntered"  [ngClass]="{'is-invalid':sellerForm.get('productsIntered').invalid && sellerForm.get('productsIntered').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('productsIntered').hasError('required')">Products Interested in Selling is required.</div>
            </div>
          </div>
          <div class="col-md-6">  
            <div class="form-group">
              <label>Contact Number <span class="field-status red">*</span></label>
              <input type="number" class="form-control" placeholder="Contact Number" formControlName="contactNumber"  [ngClass]="{'is-invalid':sellerForm.get('contactNumber').invalid && sellerForm.get('contactNumber').touched}">
              <div class="invalid-feedback" *ngIf="sellerForm.get('contactNumber').hasError('required')">Contact Number is required.</div>
            </div>
          </div>
          <div class="col-md-6">  
            <div class="form-group">
              <label>Currency of Trade <span class="field-status red">*</span></label>
              <select disabled class="form-control" formControlName="currencyTrade"  [ngClass]="{'is-invalid':sellerForm.get('currencyTrade').invalid && sellerForm.get('currencyTrade').touched}">
                <option value="AED">AED</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
              </select>
              <div class="invalid-feedback" *ngIf="sellerForm.get('currencyTrade').hasError('required')">Currency of Trade is required.</div>
            </div>
          </div>


        </div>

        <div class="row">
          <div class="col-lg-6">
            <button type="submit" class="btn btn-red">{{'Account.button-update' | translate}}</button>
          </div>
          <div class="col-lg-6">
            <a class="pink-btn" data-toggle="modal" data-target="#changePassword">{{'Account.title-change-password' | translate}}</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'Account.title-change-password' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form (submit)="updatePassword()">
          <div class="form-group">
            <label for="current">{{'Account.current' | translate}}</label>
            <input type="password" class="form-control" id="current" [(ngModel)]="currentPassword" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="pass">{{'Account.new' | translate}}</label>
            <input type="password" class="form-control" id="pass" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="rep">{{'Account.repeat' | translate}}</label>
            <input type="password" class="form-control" id="rep" [(ngModel)]="repassword" [ngModelOptions]="{standalone: true}">
          </div>
          <button class="pink-btn">{{'Account.button-password' | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>