
.table-design {
    h5 {
        margin: 0px;
    }
    p {
        margin: 0px;
    }
    .col-button {
        text-align: right;

        button {
            font-size: 0.9em;
        }
    }
}
.pink-btn{
    height: 100%;
    font-size: 0.8rem;
    background: #eb1c24;
    border: none;
    padding: 3px 10px;
    color: #fff!important;
}