<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="black-title">{{'Payments.title' | translate}}</h2>
      </div>
    </div>
      <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" (change)="searchByOrderNumber($event.target.value)" placeholder="search by Order Number">
          </div>
          <div class="col-6">
            <button class="pink-btn" (click)="clear()">Clear filter</button>
          </div>
        <div class="col-12" style="margin-top: 20px; margin-bottom: 20px" *ngIf="!showNoData">
            <div class="col-12 table-design">
              <ng-container  *ngFor="let item of orders  ;let i=index ">

                <div class="row row-bg" *ngIf="item.shoppingCart" >
                  <div class="col-5">
                    <p *ngIf="item.shoppingCart" class="order-number">Order #{{item.shoppingCart.orderNumber}}</p> 
                    <p class="order-number"><a class="purchase_pdf" *ngIf="item.shoppingCart.invoice_pdf" target="_blank" href="{{API}}api/shoppingcart/PDF/{{item.shoppingCart.invoice_pdf}}/pdf_invoices" >Invoice Order PDF</a></p>               
                    <a *ngIf="item.po_path" target="_blank" href="{{API}}api/shoppingcart/PDF/{{item.po_path}}/pdf_purchase_order" >Purchase Order PDF</a>
                    <h5 [innerHtml]="item.fish.name"></h5>                
                    <span *ngIf="item.store" class="store">{{item.store.name}}</span>               
                    <p class="status"><b>Status:</b>{{item.status.status}}</p>
                    <p class="status"><b>Payment Status:</b>{{item.paymentStatus.status}}</p>
                    <p class="qty">Quantity {{item.quantity.value}} kg</p>  
                    <div *ngIf="!item.total; else newTotal">
                    <p><b>Invoice Value</b>: {{(item.quantity.value * item.price.value ) + item.shipping + item.sfsMargin + item.customs + item.uaeTaxes | currency:'AED':'symbol':'1.2-2' }} </p>
                    <p><b>Purchase Value:</b> </p>
                    <p class="qty"> {{(item.quantity.value * item.price.value /exchangeRate ).toFixed(2) | currency:'USD':'symbol':'1.2-2' }} </p>  
                    <p class="qty"> {{(item.quantity.value * item.price.value ) | currency:'AED':'symbol':'1.2-2' }}  </p>  
                    </div>
                    <ng-template #newTotal>
                    <p><b>Invoice Value</b>: {{ item.total | currency:'AED':'symbol':'1.2-2' }} </p>
                    <p><b>Purchase Value:</b> </p>
                    <p class="qty"> {{(item.subtotal /exchangeRate ).toFixed(2) | currency:'USD':'symbol':'1.2-2' }} </p>  
                    <p class="qty"> {{(item.subtotal ) | currency:'AED':'symbol':'1.2-2' }}  </p>  
                    </ng-template>
                    
                  </div>
                  <div class="col-4">
                      <div *ngIf="item.updateInfo">
                          <p class="date" *ngFor="let update of item.updateInfo;" >
                            <strong>{{update.action}} on {{update.at*1000 | date: 'EEEE, MMMM d, y, HH:mm'}} <br> by {{update.by}} </strong>
                          </p>
                        </div>
                  </div>                
                  <div class="col col-button">
                      <ng-container>
                        <table class="medium-table">
                          <tr>
                            <td>Status:</td>
                            <td>
                              
                              <select class="form-control" name="status" #device (change)="confirmUpdatestatus($event.target.value, item.id)">
                                  <option *ngFor="let sitem of orderStatus;" [selected]="i.status == sitem.id" [ngValue]="sitem.id">
                                      {{sitem.status}}</option>    
                                  
                                                                                                
                              </select>
                            </td>
                          </tr>
                        </table>
                      </ng-container>                      
                </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-12" *ngIf="showNoData" style="margin-bottom: 20px;">
            <h2 class="black-title">No records found</h2>
          </div>
        </div>
      
  </div>
  </div>

  <div class="modal fade" id="confirmUpdateStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You want to update the status to {{selectedStatus}}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <button type="button" (click)="updateStatus()" class="blue-btn">Yes</button>
            <button type="button" (click)="noUpdate()" class="blue-btn-light">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>