
.table-design {
    h5 {
        margin: 0px;
    }
    p {
        margin: 0px;
    }
    .col-button {
        text-align: right;

        button {
            font-size: 0.9em;
        }
    }
}
.pink-btn{
    height: 100%;
    font-size: 0.8rem;
    background: #eb1c24;
    border: none;
    padding: 3px 10px;
    color: #fff!important;
}

#max {
    margin-top: 110px;
}

.pagination {
    display: flex;
}

.previous,
.next {
    margin-bottom: 20px;
}

.numberPage {
    margin-right: 10px;
    margin-bottom: 10px;
}

.pink-btne {
    padding: 10px 15px;
    color: #0055bd !important;
    border: 2px solid #0055bd !important;
}

.active {
    background: #0055bd;
    color: white !important;
}