<div class="row" formGroupName="price">
  <div class="col-12">
    <h2 style="text-align: center; text-transform: uppercase;">
      {{'CreateProduct.advancepricing' | translate}} <i class="fa fa-chevron-up" aria-hidden="true" (click)="showPricing(false)" [hidden]="!showPricingValue" ></i> <i class="fa fa-chevron-down" (click)="showPricing(true)" [hidden]="showPricingValue" aria-hidden="true"></i>
    </h2>
  </div>

  <div class="col-12" [hidden]="!showPricingValue">
    <label style="text-align:center; width:100%;"> <span calss="selectionable" [ngClass]="headAction===true?'select':''"
        (click)="assingHead(true)">{{'CreateProduct.headOn' | translate}}</span> | <span (click)="assingHead(false)"
        calss="selectionable" [ngClass]="headAction===true?'':'select'">{{'CreateProduct.headOff' | translate}}</span>
      <img
        tooltip="An optional field for setting your maximum order quantity. We urge you to constantly update this field to accurately reflect your stock levels."
        placement="right" show-delay="0" src="../../assets/question.png" alt="" width="20"></label>
  </div>
  <!-- para guardar la head action -->
  <div class="form-group" hidden>
    <input type="text" class="form-control" formControlName="headAction">
  </div>

  <div class="col-12" [hidden]="!showPricingValue">
    <div class="row" [hidden]="headAction===false">
      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" formControlName="kg01" type="checkbox" form id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            0-1 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg12" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            1-2 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg23" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            2-3 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg34" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            3-4 KG
          </label>
        </div>
      </div>
      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg45" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            4-5 KG
          </label>
        </div>
      </div>

    </div>
    <div class="row" [hidden]="headAction===false">
      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg56" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            5-6 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg67" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            6-7 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg78" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            7-8 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg8m" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            8+ KG
          </label>
        </div>
      </div>
    </div>
    <!-- off checkbox -->
    <div class="row" [hidden]="headAction===true">
      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" formControlName="kg01_off" type="checkbox" form id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            0-1 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg12_off" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            1-2 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg23_off" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            2-3 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg34_off" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            3-4 KG
          </label>
        </div>
      </div>
      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg45_off" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            4-5 KG
          </label>
        </div>
      </div>

    </div>
    <div class="row" [hidden]="headAction===true">
      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg56_off" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            5-6 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg67_off" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            6-7 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg78_off" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            7-8 KG
          </label>
        </div>
      </div>

      <div class="col form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="kg8m_off" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            8+ KG
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12" [hidden]="!showPricingValue">
    <div class="row" [hidden]="headAction===false">
      <div *ngFor="let k of weights.on.keys" (click)="selectKey(k)" class="col selectionable">{{kgNames[k]}}</div>
      <div class="col-12">
        <div class="row">
          <div class="col-9">quantity range (kg)</div>
          <div class="col-3">price (USD)</div>

          <div class="col-12">
            <div *ngFor="let price of weights.on[keySelect]; let i=index;" class="row">
              <div class="col-9">
                <ng5-slider [manualRefresh]="manualRefresh" [(value)]="weights.on[keySelect][i].min"
                  [(highValue)]="weights.on[keySelect][i].max" [options]="options"></ng5-slider>
              </div>
              <div class="col-3">
                $<input type="number" placeholder="Type Price Here" formControlName="example" [(ngModel)]="weights.on[keySelect][i].price">kg
                <i class="fa fa-times-circle" aria-hidden="true" (click)="deletePrice(true, i)"></i>
              </div>
            </div>
            <div class="row" *ngIf="keySelect!==''">
              <div class="col-9">
                <ng5-slider [manualRefresh]="manualRefresh" (userChangeEnd)="addPricing()" [(value)]="exampleValues.min"
                  [(highValue)]="exampleValues.max" [options]="options"></ng5-slider>
              </div>
              <div class="col-3">
                $<input type="number" (change)="addPricing()" formControlName="example" placeholder="Type Price Here" [(ngModel)]="valueExample">kg
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row" [hidden]="headAction===true">
      <div *ngFor="let k of weights.off.keys" (click)="selectKey(k)" class="col selectionable">{{kgNames[k]}}</div>
      <div class="col-12">
        <div class="row">
          <div class="col-9">quantity range (kg)</div>
          <div class="col-3">price (USD)</div>

          <div class="col-12">
            <div *ngFor="let price of weights.off[keySelect]; let i=index;" class="row">
              <div class="col-9">
                <ng5-slider [manualRefresh]="manualRefresh" [(value)]="weights.off[keySelect][i].min"
                  [(highValue)]="weights.off[keySelect][i].max" [options]="options"></ng5-slider>
              </div>
              <div class="col-3">
                $<input type="number" placeholder="Type Price Here" formControlName="example" [(ngModel)]="weights.off[keySelect][i].price">kg
                <i class="fa fa-times-circle" aria-hidden="true" (click)="deletePrice(true, i)"></i>
              </div>
            </div>
            <div class="row" *ngIf="keySelect!==''">
              <div class="col-9">
                <ng5-slider [manualRefresh]="manualRefresh" (userChangeEnd)="addPricing()" [(value)]="exampleValues.min"
                  [(highValue)]="exampleValues.max" [options]="options"></ng5-slider>
              </div>
              <div class="col-3">
                $<input type="number" (change)="addPricing()" placeholder="Type Price Here" [(ngModel)]="valueExample">kg
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>