<div class="row" formGroupName="price">

    <div class="col-lg-12 text-center">
        <h1 class="gray-title" ><span>ADVANCED PRICING <i class="fa fa-chevron-up" aria-hidden="true"
          (click)="showPricing(false)" *ngIf="hideTrimesSlides===true||wholeFishAction===true"
          [hidden]="!showPricingValue"></i> <i class="fa fa-chevron-down" (click)="showPricing(true)"
          *ngIf="hideTrimesSlides===true||wholeFishAction===true" [hidden]="showPricingValue" aria-hidden="true"></i></span></h1>
    </div>

  <div class="col-12 toggle-div" [hidden]="showPricingValue==false||(hideTrimesSlides===false&&wholeFishAction===false)">
    <label style="text-align:center; width:100%;"> <span calss="selectionable" [ngClass]="headAction===true?'select':''"
        (click)="assingHead(true)" [hidden]="head!=='on'&&head!=='both'">HEAD ON</span>
      <span [hidden]="head!=='both'">|</span> <span (click)="assingHead(false)" calss="selectionable"
        [ngClass]="headAction===true?'':'select'"
        [hidden]="head!=='off'&&head!=='both'">HEAD OFF</span>
     </label>
  </div>
  <!-- para guardar la head action -->
  <div class="form-group" hidden>
    <input type="text" class="form-control" formControlName="headAction">
  </div>

  <div class="col-12" [hidden]="showPricingValue==false||(hideTrimesSlides===false&&wholeFishAction===false)">
    <div class="row check-row" [hidden]="headAction===false">
      <div class="col-lg-2 form-group" *ngFor="let whole of wholesFish">
        <div class="form-check">
          <input class="form-check-input" [formControlName]="whole.id" type="checkbox" form id="defaultCheck{{whole.id}}">
          <label class="form-check-label" for="defaultCheck{{whole.id}}">
            {{getNameWhole(whole.id)}}
          </label>
        </div>
      </div>

    </div>

    <!-- off checkbox -->
    <div class="row check-row" [hidden]="headAction===true">
      <div class="col-lg-2 form-group" *ngFor="let whole of wholesFish">
        <div class="form-check">
          <input class="form-check-input" [formControlName]="whole.id+'_off'" type="checkbox" form id="defaultCheck{{whole.id}}">
          <label class="form-check-label" for="defaultCheck{{whole.id}}">
            {{getNameWhole(whole.id)}}
          </label>
        </div>
      </div>

    </div>
  </div>

  <!-- los slides se itera por controls de formularios  -->
  <!-- slides para kg  -->
  <div class="col-12" [hidden]="showPricingValue==false||(hideTrimesSlides===false&&wholeFishAction===false)">
    <div class="row tab-row" [hidden]="headAction===false">
      <div *ngFor="let k of weights.on.keys" [ngClass]="keySelect===k?'select':''" (click)="selectKey(k)"
        class="col-lg-2 selectionable"><span>{{getNameWhole(k)}}</span></div>
      <div class="col-12">
        <div class="row custom-pricing-table">
          <div class="col-8 text-center table-title" *ngIf="keySelect!==''">quantity range (kg)</div>
          <div class="col-4 text-center table-title" *ngIf="keySelect!==''">price (USD)</div>

          <div class="col-12">
            <div *ngFor="let price of weights.on[keySelect]; let i=index;" class="row slider-price">
              <div class="col-8">
                <ng5-slider [manualRefresh]="manualRefresh" [(value)]="weights.on[keySelect][i].min"
                  [(highValue)]="weights.on[keySelect][i].max" (userChangeEnd)="refactorizeRanges(i)"
                  [options]="weights.on[keySelect][i].options"></ng5-slider>
              </div>
              <div class="col-4" [formGroupName]="getIdentifier(keySelect)">
                $<input type="number"
                  [ngClass]="getControl(keySelect, i).valid===false&&parentForm.submitted===true?'error-price':''"
                  placeholder="Type Price Here" [formControlName]="i" [(ngModel)]="weights.on[keySelect][i].price">/kg
                <button (click)="deletePrice(true, i)"><img src="../../../assets/svg/close.svg" alt=""></button>
              </div>
            </div>
            <div class="row manual-slider" *ngIf="keySelect!==''">
              <div class="col-8">
                <ng5-slider [manualRefresh]="manualRefresh" (userChangeEnd)="addPricing()" [(value)]="exampleValues.min"
                  [(highValue)]="exampleValues.max" [options]="options"></ng5-slider>
              </div>
              <div class="col-4">
                <input type="number" (change)="addPricing()" formControlName="example" placeholder="Type Price Here"
                  [(ngModel)]="valueExample">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row  tab-row" [hidden]="headAction===true">
      <div *ngFor="let k of weights.off.keys" [ngClass]="keySelect===k?'select':''" (click)="selectKey(k)"
        class="col selectionable"><span>{{getNameWhole(k)}}</span></div>
      <div class="col-12">
        <div class="row  custom-pricing-table">
          <div class="col-8 table-title">quantity range (kg)</div>
          <div class="col-4 table-title">price (USD)</div>

          <div class="col-12">
            <div *ngFor="let price of weights.off[keySelect]; let i=index;" class="row slider-price">
              <div class="col-8">
                <ng5-slider [manualRefresh]="manualRefresh" [(value)]="weights.off[keySelect][i].min"
                  [(highValue)]="weights.off[keySelect][i].max" (userChangeEnd)="refactorizeRanges(i)"
                  [options]="weights.off[keySelect][i].options"></ng5-slider>
              </div>
              <div class="col-4" [formGroupName]="getIdentifier(keySelect)">
                $<input [ngClass]="getControl(keySelect, i).valid===false&&parentForm.submitted===true?'error-price':''"
                  type="number" placeholder="Type Price Here" [formControlName]="i">/kg
                <button (click)="deletePrice(off, i)"><img src="../../../assets/svg/close.svg" alt=""></button>

              </div>
            </div>
            <div class="row manual-slider" *ngIf="keySelect!==''">
              <div class="col-8">
                <ng5-slider [manualRefresh]="manualRefresh" (userChangeEnd)="addPricing()" [(value)]="exampleValues.min"
                  [(highValue)]="exampleValues.max" [options]="options"></ng5-slider>
              </div>
              <div class="col-4">
                <input type="number" (change)="addPricing()" formControlName="example" placeholder="Type Price Here"
                  [(ngModel)]="valueExample">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- slides para trimmings  -->
  <div class="col-12" [hidden]="hideTrimesSlides===true||wholeFishAction===true">
    <div class="row check-row">

      <div *ngFor="let tri of trimmings" [ngClass]="isSelectTrim(tri.id)?'select':''" class="col-lg-2 custom-trim-square">
        
        <div (click)="selectKeyTrim(tri.id)" class="square selectionable"></div> <span class="selectionable"
          (click)="selectKeyTrim(tri.id)" style="text-transform: uppercase;">{{tri.name}}</span>
      </div>
    </div>
    <div class="row tab-row">
      <div *ngFor="let tri of getSelects()" class="col-lg-2">

        <div class="selectionable" [ngClass]="keySelectTrim===tri.id?'select':''" (click)="selectKeyTrimAdd(tri.id)"
          style="text-transform: uppercase;"><span>{{tri.name}}</span></div>
      </div>
      <div class="col-12">
        <div class="row custom-pricing-table">
          <div class="col-8 table-title">quantity range (kg)</div>
          <div class="col-4 table-title">price (USD)</div>

          <div class="col-12">
            <div *ngFor="let price of trimWeights[keySelectTrim]; let i=index;" class="row slider-price">
              <div class="col-8">
                <ng5-slider [manualRefresh]="manualRefresh" [(value)]="trimWeights[keySelectTrim][i].min"
                  [(highValue)]="trimWeights[keySelectTrim][i].max" (userChangeEnd)="refactorizeRanges(i)"
                  [options]="trimWeights[keySelectTrim][i].options"></ng5-slider>
              </div>
              <div class="col-4" [formGroupName]="getIdentifierTrim(keySelectTrim)">
                $<input type="number"
                  [ngClass]="getControlTrim(keySelectTrim, i).valid===false&&parentForm.submitted===true?'error-price':''"
                  placeholder="Type Price Here" [formControlName]="i"
                  [(ngModel)]="trimWeights[keySelectTrim][i].price">/kg
                  <button (click)="deletePrice(true, i)"><img src="../../../assets/svg/close.svg" alt=""></button>
              </div>
            </div>
            <div class="row manual-slider" *ngIf="keySelectTrim!==''">
              <div class="col-8 ">
                <ng5-slider [manualRefresh]="manualRefresh" (userChangeEnd)="addPricingTrim()"
                  [(value)]="exampleValues.min" [(highValue)]="exampleValues.max" [options]="options"></ng5-slider>
              </div>
              <div class="col-4">
                <input type="number" (change)="addPricingTrim()" formControlName="example"
                  placeholder="Type Price Here" [(ngModel)]="valueExample">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>