.not-found-grid{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.form-control-feedback{
	color:red;
	font-family: 'Roboto', sans-serif;
}
.parts{
	    columns: 2;
    font-size: 12px;
    padding-bottom: 10px;
}