@import "../../variables.scss";

.gray-bg{
    padding-top: 155px;
    padding-bottom: 155px;
    .gray-title{
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 28px;
        line-height: 45px;
        letter-spacing: 0.5px;
        color: $light_blue;
        text-transform: uppercase;
        margin: 0 auto;
        // margin-bottom: 100px;
        @media screen and (max-width: 768px) {
            font-size: 28px !important;
          }
        span{
            border-bottom: 1px solid $light_blue;
            // padding-bottom: 15px;
        }
    }

    .btn-save{
        border: 1px solid $light_blue;
        text-transform: uppercase;
        color: $light_blue;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        letter-spacing: 0.5px;
        font-size: 24px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        outline: none;
        max-width: 400px;
        margin: 30px auto;
        display: block;

        @media screen and (max-width: 768px) {
            font-size: 17px;

          }
      }

      .btn-save:hover{
        background: $dark_blue !important;
        border: 1px solid $dark_blue !important;
        color: #ffffff !important;
    }

.input-group {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    background: none !important;
    position: relative;

    .question-btn {
        position: absolute;
        background: none;
        border: none;
        width: 22px;
        height: 22px;
        right: -24px;
        padding: 6px;

        @media screen and (max-width: 500px) {
            display: none;
        }
    }

    input.form-control,
    textarea.form-control {
        background: none !important;
        border: 0;
        border-bottom: solid 2px $gray !important;
        border-radius: 0 !important;
        color: $dark_blue !important;
        font-size: 21px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        padding: 0 !important;

        &.ng-invalid.ng-touched {
            border-bottom: solid 2px $red !important;

        }

        @media screen and (max-width: 768px) {
            font-size: 20px !important;

        }


    }


    select.form-control {
        background: none !important;
        border-radius: 0 !important;
        border: 0;
        border-bottom: solid 2px $gray !important;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        color: $dark_blue !important;
        font-size: 21px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        padding: 0 !important;
        outline: none !important;
        background: url('../../assets/svg/chevron-down.svg') no-repeat 100% 50% !important;
        background-size: 11px 7px;

        &.ng-invalid.ng-touched {
            border-bottom: solid 2px $red !important;

        }

        @media screen and (max-width: 768px) {
            font-size: 20px !important;

        }
    }

    input.form-control.is-invalid {
        border-bottom: solid 2px $red;

    }

    input:focus {
        outline: none !important;
        box-shadow: none !important;
        border-bottom: solid 2px $dark_blue !important;

    }

    input.form-control:disabled,
    select.form-control:disabled {
        color: $gray !important;
        border-bottom: solid 2px $gray !important;

    }

    .has-float-label .form-control:placeholder-shown:not(:focus)+* {

        font-family: 'Open Sans', sans-serif;
        font-weight: 300 !important;
        font-style: italic !important;
        font-size: 21px !important;
        line-height: 28px;
        letter-spacing: normal;
        text-align: left;
        color: $gray !important;
        padding-left: 0 !important;
        font-weight: 300 !important;
        top: .3em !important;

        @media screen and (max-width: 768px) {
            font-size: 20px !important;

        }

        .red {
            color: $gray;
            font-size: 0.8em;

        }
    }

    .has-float-label label {
        font-size: 16px !important;
        left: 0 !important;
        color: $dark_blue !important;
        line-height: 28px !important;
        font-style: normal !important;
        font-weight: 300 !important;
        top: -0.8em !important;

        @media screen and (max-width: 768px) {
            font-size: 15px !important;

        }

        .red {
            color: $dark_blue;
            font-size: 0.8em;

        }
    }

    .has-float-label label.disabled-label {
        color: $gray !important;
    }

    .form-control:placeholder-shown:not(:focus)+* {
        font-size: inherit;
        opacity: 1;
    }
}

.has-float-label label::after,
.has-float-label>span::after {
    display: none;
}

.file-input {
    max-width: 975px;
    margin: 0 auto;
    position: relative;

    .question-btn {
        position: absolute;
        background: none;
        border: none;
        width: 22px;
        height: 22px;
        right: -24px;
        top: 30%;
        padding: 6px;

        @media screen and (max-width: 500px) {
            display: none;
        }
    }

    label {
        color: $gray;
        font-size: 21px;
        line-height: 0;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        border-bottom: solid 2px $gray !important;
        width: 100%;
        margin: 50px 0;
        padding-bottom: 15px;
        cursor: pointer;

        @media screen and (max-width: 768px) {
            font-size: 20px;

        }

        img {
            width: 18px;
            vertical-align: middle;
        }
    }

    input {
        display: none;
    }

}

.gallery-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    flex-wrap: nowrap;
    transition: 300ms ease all;

    .col-3 {
        padding: 0;
        position: relative;
        transition: 300ms ease all;
    }
}

.form-control-feedback {
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px !important;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        padding-top: 5px;
        letter-spacing: normal;
        text-align: left !important;
        color: $red !important;
    }
}

.has-danger {

    input.form-control,
    select.form-control {
        border-bottom: solid 2px $red !important;

    }
}

.subtitle-form {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0.5px;
    color: $light_blue;
    text-transform: uppercase;
    margin: 100px auto 50px auto;
    // margin-bottom: 100px;

    @media screen and (max-width: 768px) {
        font-size: 20px !important;
    }

    span {
        border-bottom: 1px solid $light_blue;
        // padding-bottom: 15px;
    }
}

.img-select img {
    object-fit: cover;
    height: 280px;
    width: 100%;
}

.set-default,
.remove-image {
    display: none;
}

.img-select.changeable:hover {

    .set-default,
    .remove-image {
        display: block;
    }
}

.set-default,
.default {
    margin-top: -34px;
}

.remove-image {
    margin-bottom: -34px;
    height: auto;
    width: 34px;
    margin-left: calc(100% - 34px);
}

.remove-image,
.set-default,
.default {
    color: white;
    text-align: center;
    background-color: #8189a4;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 20;
    position: relative;
    padding: 5px;
    cursor: pointer;
}

.hs-code-contant {
    margin-top: 26px;
    margin-bottom: 74px;
}

.hs-code-link {
    display: block;
    width: 100%;
    text-align: right;
    color: $gray;
}

.question-btn-hs-code {
    margin-top: 26px;
}

.upload-svg {
    right: 10px !important;
}

//for features
//Para en la seleccion en featured

.square {
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 1px solid $dark_blue;
    border-radius: 3px;
}

.square.select {
    background-color: $dark_blue;
}

.not-found-grid {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.form-control-feedback {
    color: red;
    font-family: 'Roboto', sans-serif;
}

.parts {
    columns: 2;
    font-size: 12px;
    padding-bottom: 10px;
}




.manage-link {
    color: #007bff !important;
    cursor: pointer;
}

.red {
    color: #f52828;
    font-size: .8em;
}

#blah {
    max-width: 100%;
    padding: 20px;
}


.loader-gif {
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    margin: auto;
}

@media screen and (min-width: 1200px) {
    #trimModal .modal-lg {
        max-width: 1150px !important;
    }
}


.selectionable {
    cursor: pointer !important;
}

.fish-group {
    label {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .selectionable {
            font-family: 'Open Sans', sans-serif;
            font-size: 21px;
            letter-spacing: 0.5px;
            line-height: 31px;
            color: $light_blue;
            font-weight: 300;

            &.select {
                color: $dark_blue;
                font-weight: 400;
                cursor: pointer;
                margin-right: 10px;

            }

        }

        img {
            vertical-align: sub;
        }

        span:nth-child(2) {
            margin-left: 10px;
        }
    }
}

.head-fish {
    label {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .square-div {
            span {
                font-family: 'Open Sans', sans-serif;
                font-size: 21px;
                line-height: 31px;
                color: $dark_blue;
                vertical-align: bottom;
                margin-left: 10px;
            }

            img {
                vertical-align: baseline;
                margin-left: 10px;
            }
        }

    }
}

.input-group {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
    background: none !important;
    position: relative;

    .question-btn {
        position: absolute;
        background: none;
        border: none;
        width: 22px;
        height: 22px;
        right: -24px;
        padding: 6px;

        @media screen and (max-width: 500px) {
            display: none;

        }
    }

    .manage-link {
        color: $light_blue !important;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
        margin-left: 140px;

        img {
            width: 12px;
            height: 12px;
        }
    }

    input.form-control,
    textarea.form-control {
        background: none !important;
        border: 0;
        border-bottom: solid 2px $gray !important;
        border-radius: 0 !important;
        color: $dark_blue !important;
        font-size: 21px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        padding: 0 !important;

        &.ng-invalid.ng-touched {
            border-bottom: solid 2px $red !important;

        }

        @media screen and (max-width: 768px) {
            font-size: 20px !important;

        }


    }


    select.form-control {
        background: none !important;
        border-radius: 0 !important;
        border: 0;
        border-bottom: solid 2px $gray !important;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        color: $dark_blue !important;
        font-size: 21px;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        padding: 0 !important;
        outline: none !important;
        background: url('../../assets/svg/chevron-down.svg') no-repeat 100% 50% !important;

        &.ng-invalid.ng-touched {
            border-bottom: solid 2px $red !important;

        }

        @media screen and (max-width: 768px) {
            font-size: 20px !important;

        }
    }

    input.form-control.is-invalid {
        border-bottom: solid 2px $red;

    }

    input:focus {
        outline: none !important;
        box-shadow: none !important;
        border-bottom: solid 2px $dark_blue !important;

    }

    input.form-control:disabled,
    select.form-control:disabled {
        color: $gray !important;
        border-bottom: solid 2px $gray !important;

    }

    .has-float-label .form-control:placeholder-shown:not(:focus)+* {

        font-family: 'Open Sans', sans-serif;
        font-weight: 300 !important;
        font-style: italic !important;
        font-size: 21px !important;
        line-height: 28px;
        letter-spacing: normal;
        text-align: left;
        color: $gray !important;
        padding-left: 0 !important;
        font-weight: 300 !important;
        top: .3em !important;

        @media screen and (max-width: 768px) {
            font-size: 20px !important;

        }

        .red {
            color: $gray;
            font-size: 0.8em;

        }
    }

    .has-float-label label {
        font-size: 16px !important;
        left: 0 !important;
        color: $dark_blue !important;
        line-height: 28px !important;
        font-style: normal !important;
        font-weight: 300 !important;
        top: -0.8em !important;

        @media screen and (max-width: 768px) {
            font-size: 15px !important;

        }

        .red {
            color: $dark_blue;
            font-size: 0.8em;

        }
    }

    .select-float-label label {
        top: -1.8em !important;

    }

    .has-float-label label.disabled-label {
        color: $gray !important;
    }

    .form-control:placeholder-shown:not(:focus)+* {
        font-size: inherit;
        opacity: 1;
    }
}

.has-float-label label::after,
.has-float-label>span::after {
    display: none;
}

#trimModal {
    .modal-lg {
        max-width: 100% !important;
    }

    .modal-content {
        border-radius: 10px;

        .modal-header {
            background: $white;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: none;
            position: relative;

            button.close {
                position: absolute;
                right: 40px;
                padding: 0;
                margin: 0;

                img {
                    width: 25px;
                    height: 25px;
                }
            }

            h5.modal-title {
                font-family: 'Josefin Sans', sans-serif;
                color: $light_blue;
                font-size: 21px;
                line-height: 28px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 300;
            }
        }

        span.types,
        span.partsModal {
            font-family: 'Open Sans', sans-serif;
            color: $light_blue;
            font-size: 16px;
            letter-spacing: 0.5px;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 300;
        }

        .modal-body {
            max-width: 100%;
            overflow-x: auto;

            .body-width {
                width: 3000px;

                .col-1 {
                    max-width: 120px;
                    flex: 0 0 120px;
                }

                .checkbox-row {
                    display: flex;
                    align-items: center;

                    .col-1 {
                        border-right: 2px solid #dce0e9 !important;
                        padding: 20px
                    }

                    .col-11 {
                        border-bottom: 1px solid #f4f5f6;
                        padding: 20px
                    }

                    .check-item {
                        text-align: center;
                    }
                }

                .border-dark {
                    border-bottom: 2px solid #dce0e9 !important;
                    padding-bottom: 20px;

                    &.col-1 {
                        border-right: 2px solid #dce0e9 !important;

                    }
                }
            }

        }
    }
}

.form-control-feedback {
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px !important;
        font-weight: 200;
        font-style: normal;
        font-stretch: normal;
        padding-top: 5px;
        letter-spacing: normal;
        text-align: left !important;
        color: $red !important;
    }
}

.has-danger {

    input.form-control,
    select.form-control {
        border-bottom: solid 2px $red !important;

    }
}

.fish-foreign {
    align-items: center;
    display: flex;

    div {
        max-width: 400px;
        margin: 0 auto;
    }
}
    

}

.invalid-feedback, .invalid-phone, .EmailNotification{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px !important;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left !important;
  color: $red !important;
}

.custom-checkbox {

    .custom-control-label::before {
        border-radius: 3px;
    }

    .custom-control-label::before, .custom-control-label::after {
        top: 0.4rem;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $dark_blue;
    background-color: $dark_blue;
    box-shadow: none;
}

    .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
    }

    .custom-control-input:focus ~ .custom-control-label::before {
        box-shadow: none;
    }
    label{
        color: $light_blue;
        font-size: 16px;
        letter-spacing: 1.25px;
        line-height: 22px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.fish-group{
    li{
        padding: 0 7px;
    }
    li:nth-last-child(2){
        label{
            span{
                display: none;
            }
        }
    }
    input {
        visibility:hidden;
    }
    label {
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 21px;
        letter-spacing: 0.5px;
        line-height: 31px;
        color: $light_blue;
        font-weight: 300;
        span{
            margin-left: 15px;
        }
    }
    input:checked + label {
        color: $dark_blue;
        font-weight: 400;
    }

    &.fish-group-2{
        li:nth-last-child(2){
            label{
                span{
                    display: initial;
                }
            }
        } 

        li:last-child{
            label{
                span{
                    display: none;
                }
            }
        }
    }
}

.check-row{
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 70px;

    .custom-trim-square{
        align-items: center;
        display: flex;
        justify-content: center;
        span.selectionable{
            font-family: 'Open Sans', sans-serif;
            font-size: 21px;
            line-height: 31px;
            color: $light_blue;
            font-weight: 300;
        }
        .square{
            width: 22px;
            height: 22px;
            border: 1px solid $dark_blue;
            border-radius: 3px;
            margin-right: 10px;
            &.select{
                background-color: $dark_blue;
            }
        }
    }
    .form-check{
        position: relative;
        padding: 10px 0;
        label{
            font-family: 'Open Sans', sans-serif;
            font-size: 21px;
            line-height: 31px;
            color: $light_blue;
            font-weight: 300;
        }
        input[type="checkbox"]{
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
          }
          input[type="checkbox"] + label {
            display: inline-block;
            background: url('../../assets/unchecked-blue.png') no-repeat;
            background-size: 14px 14px;
            margin-left: 0px;
            padding-left: 25px;
            line-height: 14px;
            cursor: pointer;
          }
              
          input[type="checkbox"]:checked + label {
            background: url('../../assets/checked-blue.png') no-repeat;
            background-size: 14px 14px;
          }
    }
    

}

.tab-row{
    // max-width: 1000px;
    margin: 0 auto;
    .selectionable{
        color: $light_blue;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 21px;
        line-height: 28px;
        letter-spacing: 1.75px;
        padding-bottom: 5px;
        &.select{
            color: $dark_blue;
            span{
                border-bottom: 2px solid $dark_blue;
            }
        }
    }

    .table-title{
        font-family: 'Open Sans', sans-serif;
            font-size: 21px;
            line-height: 31px;
            color: $light_blue;
            font-weight: 300;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            padding: 30px;
            border-bottom: 1px solid $dark_blue;
    }
    .custom-pricing-table{
        border: 1px solid $light_blue;
       
        .slider-price{
            .col-8, .col-4{
                padding: 20px;
                border-bottom: 1px solid $light_blue;
            }
            .col-8{
                padding: 20px 60px;
            }

            .col-4{
                color: $black;
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                line-height: 22px;
                align-items: center;
                display: flex;
                justify-content: center;
                position: relative;
                input{
                    background: no-repeat;
                    border: none;
                    width: 80px;
                }
                button{
                    background: no-repeat;
                    border: none;
                    position: absolute;
                    right: 25px;
                    width: 14px;
                    height: 14px;
                }
            }
        }

        .manual-slider{
             .col-4{
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    background: none;
                    border: none;
                    text-align: center;
                    font-family: 'Open Sans', sans-serif;
                    color: $gray;
                    font-style: italic;
                    font-size: 16px;
                    line-height: 22px;
                    &::placeholder{
                        color: $gray;
                    }
                }
            }
            .col-8{
                padding: 20px 60px;
            }
        }
    }
}

.single-subpreparation{
    margin: 50px;
    h3{
        color: $dark_blue;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 24px;
    }
}