<div class="container" *ngIf="existStore; else elseBlock">
  <div style="height: 100px;"></div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="title">{{'AddProduct.title' | translate}}</h1>
      <form novalidate [formGroup]="myform" (ngSubmit)="onSubmit()" class="form-design">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group" [ngClass]="{'has-danger': name.invalid && (name.dirty || name.touched),'has-success': name.valid && (name.dirty || name.touched)}">
              <label>{{'AddProduct.name' | translate}}</label>
              <input type="text" class="form-control" formControlName="name" required>
              <div class="form-control-feedback" *ngIf="name.errors && showError">
                <p *ngIf="name.errors.required">{{'AddProduct.name' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Brand Name</label>
              <input type="text" class="form-control" formControlName="brandName">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group" [ngClass]="{'has-danger': price.invalid && (price.dirty || price.touched),'has-success': price.valid && (price.dirty || price.touched)}">
              <label>{{'AddProduct.price' | translate}}</label>
              <input type="number" class="form-control" formControlName="price" required>
              <div class="form-control-feedback" *ngIf="price.errors && showError">
                <p *ngIf="price.errors.required">{{'AddProduct.price' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
            <table class="table text-center">
                <tr>
                  <th scope="col">Weight</th>
                  <th scope="col">Delivered Price USD</th>
                  <th scope="col">Delivered Price AED</th>
                </tr>
                <tr>
                  <td scope="row">25 KG</td>
                  <td>{{price25}}</td>
                  <td>{{price25 | currency: 'AED'}}</td>
                </tr>
                <tr>
                  <td scope="row">100 KG</td>
                  <td>{{price100}}</td>
                  <td>{{price100 | currency: 'AED'}}</td>
                </tr>
                <tr>
                  <td scope="row">500 KG</td>
                  <td>{{price500}}</td>
                  <td>{{price500 | currency: 'AED'}}</td>
                </tr>
                <tr>
                  <td scope="row">1000 KG</td>
                  <td>{{price1000}}</td>
                  <td>{{price1000 | currency: 'AED'}}</td>
                </tr>
            </table>
          </div>
          <div class="col-lg-6">
              <div class="form-group" [ngClass]="{'has-danger': measurement.invalid && (measurement.dirty || measurement.touched),'has-success': measurement.valid && (measurement.dirty || measurement.touched)}">
                <label>{{'AddProduct.price-measurement' | translate}}</label>
                <select class="form-control" formControlName="measurement" required>
                  <option value="kg" selected>KG</option>
                </select>
                <div class="form-control-feedback" *ngIf="measurement.errors && showError">
                  <p *ngIf="measurement.errors.required">{{'AddProduct.price-measurement' | translate}} {{'AddProduct.required' | translate}}</p>
                </div>
              </div>
          </div>

         
        
         
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'AddProduct.mainCategory' | translate}} </label>
              <select formControlName="parentSelectedType" (change)="getOnChangeLevel(0)" class="form-control">
                <option v alue="">{{'AddProduct.select' | translate}}</option>
                <option *ngFor="let type of typeLevel0"  [value]="type.id" >{{type.name}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="parentSelectedType.errors && showError">
                <p *ngIf="parentSelectedType.errors.required">{{'AddProduct.mainCategory' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group" >
              <label>{{'AddProduct.species' | translate}}</label>
              <select  (change)="getOnChangeLevel(1, $event.target.value)" class="form-control" formControlName="speciesSelected">
                <option value="">{{'AddProduct.select' | translate}}</option>
                <option *ngFor="let type of typeLevel1" [value]="type.id">{{type.name}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="speciesSelected.errors && showError">
                <p *ngIf="speciesSelected.errors.required">{{'AddProduct.species' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label>{{'AddProduct.subSpecies' | translate}} </label>
              <select formControlName="subSpeciesSelected" (change)="getOnChangeLevel(2)" class="form-control">
                <option v alue="">{{'AddProduct.select' | translate}}</option>
                <option *ngFor="let type of typeLevel2"  [value]="type.id" >{{type.name}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="subSpeciesSelected.errors && showError">
                <p *ngIf="subSpeciesSelected.errors.required">{{'AddProduct.subSpecies' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group" >
              <label>Subspecies Variant</label>
              <select  class="form-control" formControlName="descriptorSelected">
                <option value="">{{'AddProduct.select' | translate}}</option>
                <option *ngFor="let type of typeLevel3" [value]="type.id">{{type.name}}</option>
              </select>              
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group" [ngClass]="{'has-danger': seller_sku.invalid && (seller_sku.dirty || seller_sku.touched),'has-success': seller_sku.valid && (seller_sku.dirty || seller_sku.touched)}">
              <label>Product SKU</label>
              <input type="text" class="form-control" formControlName="seller_sku" required>
              <div class="form-control-feedback" *ngIf="seller_sku.errors && showError">
                <p *ngIf="seller_sku.errors.required">{{'AddProduct.seller_sku' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': seafood_sku.invalid && (seafood_sku.dirty || seafood_sku.touched),'has-success': seafood_sku.valid && (seafood_sku.dirty || seafood_sku.touched)}">              
              <input type="hidden" class="form-control" formControlName="seafood_sku" disabled required>              
            </div>
          </div>  

          <div class="col-lg-6">
              <div class="form-group" [ngClass]="{'has-danger': hsCode.invalid && (hsCode.dirty || hsCode.touched),'has-success': hsCode.valid && (hsCode.dirty || hsCode.touched)}">
                  <label>HS Code <a href="https://hts.usitc.gov/" target="_blank">(look up code)</a></label>
                  <input class="form-control" formControlName="hsCode" type="text" required>
                  <div class="form-control-feedback" *ngIf="hsCode.errors && showError">
                    <p *ngIf="hsCode.errors.required">HS Code {{'AddProduct.required' | translate}}</p>
                  </div>
                </div>
          </div>
         
          <div class="col-lg-6">
            <div class="form-group" [ngClass]="{'has-danger': country.invalid && (country.dirty || country.touched),'has-success': country.valid && (country.dirty || country.touched)}">
              <label>{{'AddProduct.country' | translate}}</label>
              <select  (change)="generateSKU(); getCities();" class="form-control" formControlName="country">
                <option value="{{country.code}}" *ngFor="let country of countries">{{country.name}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="country.errors && showError">
                <p *ngIf="country.errors.required">{{'AddProduct.country' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group" >
              <label>{{'AddProduct.processingCountry' | translate}}</label>
              <select class="form-control" formControlName="processingCountry">
                <option value="{{country.code}}" *ngFor="let country of countries">{{country.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Port of Loading</label>
              <select  class="form-control" formControlName="city">
                <option value="{{city.code}}" *ngFor="let city of cities">{{city.name}}</option>
              </select>
              
            </div>
          </div>      
          <div class="col-lg-6">
            <div class="form-group">
              <label for="primary">{{'AddProduct.primary-image' | translate}}</label>
              <input class="form-control" type="file" id="primary" multiple (change)="handleFileInput($event.target.files, 'primary' )" >
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="file">{{'AddProduct.images' | translate}}</label>
              <input class="form-control" type="file" id="file" multiple (change)="handleFileInput($event.target.files, 'secundary')" >
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group" [ngClass]="{'has-danger': minimunorder.invalid && (minimunorder.dirty || minimunorder.touched),'has-success': minimunorder.valid && (minimunorder.dirty || minimunorder.touched)}">
              <label>{{'AddProduct.minimun' | translate}}</label>
              <input type="number" class="form-control" formControlName="minimunorder" required>
              <div class="form-control-feedback" *ngIf="minimunorder.errors && showError">
                <p *ngIf="minimunorder.errors.required">{{'AddProduct.minimun' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
          
          <div class="col-lg-6">
            <div class="form-group" [ngClass]="{'has-danger': maximumorder.invalid && (maximumorder.dirty || maximumorder.touched),'has-success': maximumorder.valid && (maximumorder.dirty || maximumorder.touched)}">
              <label>{{'AddProduct.maximum' | translate}}</label>
              <input type="number" class="form-control" formControlName="maximumorder" required>
              <div class="form-control-feedback" *ngIf="maximumorder.errors && showError">
                <p *ngIf="maximumorder.errors.required">{{'AddProduct.maximum' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-lg-12"><h2 class="black-title">Products Features</h2></div>
          <!-- <div class="col-lg-6">
            <div class="form-group" [ngClass]="{'has-danger': waterLostRate.invalid && (waterLostRate.dirty || waterLostRate.touched),'has-success': waterLostRate.valid && (waterLostRate.dirty || waterLostRate.touched)}">
              <label>{{'AddProduct.waterLostRate' | translate}}</label>
              <input class="form-control" formControlName="waterLostRate" type="number" required>
              <div class="form-control-feedback" *ngIf="waterLostRate.errors && showError">
                <p *ngIf="waterLostRate.errors.required">{{'AddProduct.waterLostRate' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div> -->
          <div class="col-lg-6">
            <div class="form-group" [ngClass]="{'has-danger': mortalityRate.invalid && (mortalityRate.dirty || mortalityRate.touched),'has-success': mortalityRate.valid && (mortalityRate.dirty || mortalityRate.touched)}">
              <label>{{'AddProduct.mortalityRate' | translate}}</label>
              <input class="form-control" formControlName="mortalityRate" type="number" required>
              <div class="form-control-feedback" *ngIf="mortalityRate.errors && showError">
                <p *ngIf="mortalityRate.errors.required">{{'AddProduct.mortalityRate' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group" [ngClass]="{'has-danger': raised.invalid && (raised.dirty || raised.touched),'has-success': raised.valid && (raised.dirty || raised.touched)}">
                <label>{{'AddProduct.raised' | translate}}</label>
                <select class="form-control" formControlName="raised">
                  <option value="farmed">Farmed</option>
                  <option value="organically">Organically Farmed</option>
                  <option value="wild">Wild</option>
                </select>
                <div class="form-control-feedback" *ngIf="raised.errors && showError">
                  <p *ngIf="raised.errors.required">{{'AddProduct.raised' | translate}} {{'AddProduct.required' | translate}}</p>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group" [ngClass]="{'has-danger': preparation.invalid && (preparation.dirty || preparation.touched),'has-success': preparation.valid && (preparation.dirty || preparation.touched)}">
              <label>{{'AddProduct.preparation' | translate}} <a routerLink="/manage-store-trimming">Manage Trimming</a></label>
              <select class="form-control" formControlName="preparation" (change)="showWhole($event.target.value)">
                <option value="{{preparation}}" *ngFor="let preparation of preparationOptions">{{preparation}}</option>
              </select>
              <div class="form-control-feedback" *ngIf="preparation.errors && showError">
                <p *ngIf="preparation.errors.required">{{'AddProduct.preparation' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-6" *ngIf="showProcessingParts">
            <div class="form-group">
              <label>Processing Parts</label>
              <ul class="parts">
                <li *ngFor="let part of parts">{{part.name}}</li>
              </ul>
            </div>
          </div> -->
          <div class="col-lg-6" *ngIf="showWholeOptions">
            <div class="form-group">
              <label>Whole Fish Weight </label>
              <select class="form-control" formControlName="wholeFishWeight">
                <option value="{{whole}}" *ngFor="let whole of wholeOptions">{{whole}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group" [ngClass]="{'has-danger': treatment.invalid && (treatment.dirty || treatment.touched),'has-success': treatment.valid && (treatment.dirty || treatment.touched)}">
              <label>{{'AddProduct.treatment' | translate}}</label>
              <select class="form-control" formControlName="treatment">
                <option value="fresh">Fresh</option>
                <option value="frozen">Frozen</option>
                <option value="live">Live</option>
                <option value="smoked">Smoked</option>
              </select>
              <div class="form-control-feedback" *ngIf="treatment.errors && showError">
                <p *ngIf="treatment.errors.required">{{'AddProduct.treatment' | translate}} {{'AddProduct.required' | translate}}</p>
              </div>
            </div>
          </div> 
          <div class="col-lg-6">
              <div class="form-group" [ngClass]="{'has-danger': cooming_soon.invalid && (cooming_soon.dirty || cooming_soon.touched),'has-success': cooming_soon.valid && (cooming_soon.dirty || cooming_soon.touched)}">
                <label>{{'AddProduct.cooming_soon' | translate}}</label>
                <select class="form-control" formControlName="cooming_soon">
                  <option value="false">No</option>
                  <option value="true">Yes</option>                
                </select>
                <div class="form-control-feedback" *ngIf="cooming_soon.errors && showError">
                  <p *ngIf="cooming_soon.errors.required">{{'AddProduct.cooming_soon' | translate}} {{'AddProduct.required' | translate}}</p>
                </div>
              </div>
            </div>  
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn-red">{{'AddProduct.submit' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
<div style="height: 50px;"></div>
  <h1 class="title">Products Bulk Upload</h1>
  <div>
    <p>*All fields are required</p>
    <p>Download our example file from here <a href="/assets/seafood-bulk.xlsx" download="">Download</a></p>
  </div>
  <form  class="form-design">
  <div class="row">
    <div class="col-12">
     <div class="form-group">
       <label>Choose Excel File</label>
      <input class="form-control" type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required>

  </div>
 
    </div>

    <div class="col-12">
      <div class="form-group">
          <button type="button" class="btn btn-red" (click)="Upload()" >Upload</button>

      </div>
    </div>
  </div>
</form>
  <div style="height: 100px;"></div>
</div>
<ng-template #elseBlock>
  <div class="not-found-grid">
    <div style="padding: 0 30%;">
      <p>{{'AddProduct.create' | translate}} <a routerLink="/account/">{{'AddProduct.here' | translate}}</a> {{'AddProduct.store' | translate}}</p>
    </div>
  </div>  
</ng-template>