<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/" class="img-logo">SEAFOOD</a>
		  <a href="#menu" class="menu-link btn-menu">&#9776;</a>
    </div>
  </nav>
</header>
<nav id="menu" class="panel" role="navigation">
    <div class="container-close"><a href="#" class="menu-link">X</a></div>
    <ul class="mobile-nav">
      <li class="item">
        <a href="#" class="mobile-nav__link">Caviar</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Conch</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Crabs</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Crawfish</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Fish</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Lobsters</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Mussels &amp; Clams</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Oysters</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Scallops</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Shrimp</a>
      </li>
      <li class="item">
        <a href="#" class="mobile-nav__link">Smoked Salmon</a>
      </li>
      <li class="item mobile-nav__item--secondary">
        <a href="#" id="customer_login_link">Log In</a>
      </li>
      <li class="item mobile-nav__item--secondary">
        <a href="#" id="customer_register_link">Create Account</a>
      </li>
      <li class="item mobile-nav__item--secondary"><a href="#">Home</a></li>
      <li class="item mobile-nav__item--secondary"><a href="#">About us</a></li>
      <li class="item mobile-nav__item--secondary"><a href="#">FAQ</a></li>
      <li class="item mobile-nav__item--secondary"><a href="#">Policy</a></li>
      <li class="item mobile-nav__item--secondary"><a href="#">Shipping Information</a></li>
      <li class="item mobile-nav__item--secondary"><a href="#">Support</a></li>
      <li class="item mobile-nav__item--secondary"><a href="#">Wholesale Seafood</a></li>
    </ul>
	</nav>
<div class="push">
  <div class="menu-link" id="close-menu"></div>
<router-outlet></router-outlet>
</div>