<div class="page-header subpages" id="hero" style="background:url(../../assets/search-bg.jpg)">
	<div class="overlay" style="background: url(../../assets/overlay-search.png);"></div>
	<div class="content">
		<h1 class="big-title">PRIVACY POLICY</h1>
	</div>
</div>
<div class="container subpage-content">
	<div class="row">
		<div class="col">
			<h2 class="black-title">MARKETPLACE PRIVACY POLICY</h2>

			<p class="p2">&nbsp;</p>
			<p class="p2">&nbsp;</p>
			<p class="p4"><span class="s1"><strong>INTRODUCTION</strong>&nbsp;&nbsp;</span></p>
			<p class="p4">&nbsp;</p>
			<ul class="ul1">
				<li class="li4">Welcome to Marketplace&rsquo;s privacy policy (&ldquo;<strong>Privacy
						Policy</strong>&rdquo;). Marketplace General Trading LLC, a limited liability company
					incorporated in Dubai, the United Arab Emirates (the &ldquo;<strong>UAE</strong>&rdquo;), having
					commercial license number 816468 (referred to as &rdquo;<strong>Marketplace</strong>&rdquo;, the
					&ldquo;<strong>Company</strong>&rdquo;), &ldquo;<strong>we</strong>&rdquo;,
					&ldquo;<strong>us</strong>&rdquo; or &ldquo;<strong>our</strong>&rdquo; in this Privacy Policy),
					respects your privacy and is committed to protecting your personal data. This Privacy Policy will
					inform you as to how we look after your personal data when you use the Marketplace website,
					application and online software (together the &ldquo;<strong>Platform</strong>&rdquo;), regardless
					of where you visit it from, and tell you about your privacy rights and how the law protects you.
				</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">By actively ticking the acceptance box and therefore accepting the terms of this Privacy
					Policy, you agree that you, and each person you allow to access the Platform through your user
					account (&ldquo;<strong>User Account</strong>&rdquo;), are subject to, are legally bound by, and
					have provided explicit consent that and will abide by the terms of this Privacy Policy.</li>
				<li class="li4"><span class="s1">&nbsp;</span></li>
			</ul>
			<ul class="ul1">
				<li class="li4"><span class="s1"><strong>IMPORTANT INFORMATION AND WHO WE ARE</strong></span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Purpose of the Privacy Policy&nbsp;</strong></li>
				<!--li class="li5">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">This Privacy Policy aims to give you information on how Marketplace collects and
					processes your personal data through your use of this Platform, including any data you may provide
					through this Platform when you use the Platform.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">The Platform is not intended for children and we do not knowingly collect data relating
					to children or persons under the age of 18 years. If you are a parent or guardian and you are aware
					that your child has provided us with personal data, please contact us.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">It is important that you read this Privacy Policy together with any update that we
					provide to this Privacy Policy so that you are fully aware of how and why we are using your data.
				</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4"><strong>Controller</strong></li>
				<li class="li4"><strong>&nbsp;</strong></li>
			</ul>
			<ul class="ul1">
				<li class="li4">Marketplace is the controller and responsible for your personal data (collectively
					referred to as &ldquo;<strong>Marketplace</strong>&rdquo;, the
					&ldquo;<strong>Company</strong>&rdquo;, &ldquo;<strong>we</strong>&rdquo;,
					&ldquo;<strong>us</strong>&rdquo; or &ldquo;<strong>our</strong>&rdquo; in this privacy policy).
					Marketplace will process your personal data fairly, lawfully and securely.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">We have appointed a data protection officer who is responsible for overseeing questions
					in relation to this privacy policy. If you have any questions about this privacy policy, including
					any requests to exercise your legal rights, please contact the data protection officer<span
						class="Apple-converted-space">&nbsp; </span>using the details set out below.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">If you have any questions about this Privacy Policy or our privacy practices, please
					contact our data protection officer in the following ways:</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">Full name : Denis Konoplev</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Email address: privacy@seafood souq.com</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Postal address: Marketplace General Trading LLC, Warehouse #10, Building No: 368-125,
					Al Quoz 3, Dubai, UAE</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">You have the right to make a complaint at any time to the relevant supervisory authority
					for data protection issues. We would, however, appreciate the chance to deal with your concerns
					before you approach such authority, so please contact us in the first instance.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Changes to the Privacy Policy and Your Obligation to Inform Us of
						Changes</strong></li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">We keep our privacy policy under regular review. Any charges to our privacy policy are
					effective on the day they are first posted.<span class="Apple-converted-space">&nbsp; </span>You are
					encouraged to regularly visit the privacy policy to advise yourself of any changes that may have
					taken place.<span class="Apple-converted-space">&nbsp; </span>Historic versions can be obtained by
					contacting out data privacy manager.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">It is important that the personal data we hold about you is accurate and current. Please
					keep us informed if your personal data changes during your relationship with us.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Third Party Links</strong>&nbsp;</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">This Platform may include links to third party websites, plug-ins and applications.
					Clicking on those links or enabling those connections may allow third parties to collect or share
					data about you. We do not control these third party websites and are not responsible for their
					privacy statements. When you leave our Platform, we encourage you to read the privacy policy of
					every website that you visit.&nbsp;</li>
				<!--li class="li5">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4"><span class="s1"><strong>THE DATA WE COLLECT ABOUT YOU&nbsp;</strong></span></li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">Personal data, or personal information, means any information about an individual from
					which that person can be identified. It does not include data where the identity has been removed
					(anonymous data).</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We may collect, use, store and transfer different kinds of personal data about you which
					we have grouped together as follows:</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">&ldquo;Identity Data&rdquo; includes first name, maiden name, last name, username or
					similar identifier, marital status, title, date of birth and gender.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">&ldquo;Contact Data&rdquo; includes billing address, registered office, delivery
					address, email address and telephone numbers.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">&ldquo;Financial Data&rdquo; includes bank account details.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">&ldquo;Transaction Data&rdquo; includes details about payments to and from you and other
					details of products you have sold or purchased through the<span class="Apple-converted-space">&nbsp;
					</span>Platform..</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">&ldquo;Technical Data&rdquo; includes internet protocol (IP) address, your login data,
					browser type and version, time zone setting and Platform user location, browser plug-in types and
					versions, operating system and platform, and other technology on the devices you use to access this
					Platform.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">&ldquo;Profile Data&rdquo; includes your username and password, sales or purchases made
					by you, your biography, your interests, preferences, feedback and survey responses.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">&ldquo;Usage Data&rdquo; includes information about how you use our Platform, products
					and services and any ratings you may have given or received.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">&ldquo;Marketing and Communications Data&rdquo; includes your preferences in receiving
					marketing from us and our third parties and your communication preferences.</li>
				<!--li class="li6">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">We also collect, use and share &ldquo;<strong>Aggregated Data</strong>&rdquo; such as
					statistical or demographic data for any purpose. Aggregated Data could be derived from your personal
					data but is not considered personal data in law as this data will not directly or indirectly reveal
					your identity. For example, we may aggregate your Usage Data to calculate the percentage of users
					accessing a specific Platform feature. However, if we combine or connect Aggregated Data with your
					personal data so that it can directly or indirectly identify you, we treat the combined data as
					personal data which will be used in accordance with this privacy policy.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We do not collect any &ldquo;<strong>Special Categories of Personal Data&rdquo;</strong>
					or &ldquo;<strong>Sensitive Data</strong>&rdquo; about you (this includes details about your race or
					ethnicity, religious or spiritual beliefs, sex life, sexual orientation, political opinions or
					affiliations, trade union membership, information about your health, and genetic and biometric
					data). Nor do we collect any information about criminal convictions and offences.</li>
				<!--li class="li6">&nbsp;</li-->
				<li class="li4">We will not store, sell share rent any credit or debit card details.<span
						class="Apple-converted-space">&nbsp; </span>No Identity Data, Financial Data, Contact Data and
					other data that personally identifies a Useror shall not sold, shared, rented by US.</li>
				<!--li class="li4">&nbsp;</li-->
				<!--li class="li5">&nbsp;</li-->
				<li class="li4"><strong>If You Fail to Provide Personal Data&nbsp;</strong></li>
				<li class="li7">Where we need to collect personal data by law, or under the terms of a contract we have
					with you for the performance of the contract between us and the provision of our services to you,
					and you fail to provide that data when requested, we may not be able to perform the contract we have
					or are trying to enter into with you (for example, to provide access to the Platform). In this case,
					we may have to revoke your access to the Platform in the manner set out in the Marketplace User
					Terms of Service or the Marketplace Seller agreed, as may be applicable. Please see our Seafood 
					Souq User Terms of Service [LINK] for further details.</li>
			</ul>
			<ul class="ul1">
				<li class="li4"><span class="s1"><strong>HOW IS YOUR PERSONAL DATA COLLECTED?</strong></span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Methods of Collection </strong></li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">We use different methods to collect data from and about you including through:</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">&ldquo;Direct interactions&rdquo;. You may give us your [Identity, Contact and Financial
					Data] by registering to us, filling in forms or by corresponding with us via the Platform, by post,
					phone, email, or otherwise. This includes personal data you provide when you</li>
				<!--li class="li5">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">apply to the Platform;</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">register and create an account on the Platform;</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">request marketing materials to be sent to you;</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">enter a competition, promotion or survey; or</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">give us feedback or contact us.</li>
				<!--li class="li5">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">&ldquo;Automated technologies or interactions&rdquo;. As you interact with our Platform,
					we will automatically collect Technical Data about your equipment, browsing actions and patterns. We
					collect this personal data by using cookies, server logs and other similar technologies. [We may
					also receive Technical Data about you if you visit other websites employing our cookies.] Please see
					our cookie policy [LINK] for further details.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">&ldquo;Third parties or publicly available sources. We will receive personal data about
					you from various third parties [and public sources] as set out below [DELETE OR ADD TO THIS LIST AS
					APPROPRIATE].</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Technical Data from the following parties: [TO BE DISCUSSED]</li>
				<li class="li4">&nbsp;&nbsp;&nbsp;&nbsp;</li>
			</ul>
			<ul class="ul1">
				<li class="li4">analytics providers [such as Google];</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">advertising networks [such as [NAME]; and</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">search information providers [such as [NAME].</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">Contact, Financial and Transaction Data from providers of technical, payment and
					delivery services [such as [NAME].</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Identity and Contact Data from data brokers or aggregators [such as [NAME].</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">[ANY OTHER WAYS YOU COLLECT PERSONAL DATA]. <strong><em>[Note to SS: Please confirm if
							accurate and/or suggests amendments]</em></strong></li>
				<!--li class="li5">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4"><span class="s1"><strong>HOW WE USE YOUR PERSONAL DATA</strong></span></li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">We will only use your personal data when the law allows us to. Most commonly, we will
					use your personal data in the following circumstances:</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">Where we need to perform the contract we are about to enter into or have entered into
					with you.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Where it is necessary for our legitimate interests (or those of a third party) and your
					interests and fundamental rights do not override those interests.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Where we need to comply with a legal obligation.</li>
				<!--li class="li5">&nbsp;</li-->
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">We will get your consent before sending third party direct marketing communications to
					you via email or text message. You have the right to withdraw consent to marketing at any time by
					contacting us.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4"><strong>Purposes For Which We Will Use Your Personal Data&nbsp;</strong></li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">We have set out below, in a table format, a description of all the ways we plan to use
					your personal data, and which of the legal bases we rely on to do so. We have also identified what
					our legitimate interests are where appropriate.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">Note that we may process your personal data for more than one lawful ground depending on
					the specific purpose for which we are using your data. Please contact us if you need details about
					the specific legal ground we are relying on to process your personal data where more than one ground
					has been set out in the table below.</li>
				<!--li class="li5">&nbsp;</li-->
			</ul>
			<table class="t1" cellspacing="0" cellpadding="0">
				<tbody>
					<tr class="first-head">
						<td class="td1" valign="middle">
							<p class="p8"><strong>Purpose/Activity</strong></p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8"><strong>Type of data</strong></p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8"><strong>Lawful basis for processing including basis of legitimate
									interest</strong></p>
							<!--p class="p9">&nbsp;</p-->
						</td>
					</tr>
					<tr>
						<td class="td1" valign="middle">
							<p class="p8">To register you as a new user of the Platform and to conduct our
								mandatory KYC
								and AML due diligence</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Identity</p>
							<p class="p8">(b) Contact</p>
							<p class="p8">(c) Financial</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">Performance of a contract with you and our legal obligation to perform our
								mandatory KYC and AML Due diligence</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
					</tr>
					<tr>
						<td class="td1" valign="middle">
							<p class="p8">To process and deliver your order including:</p>
							<p class="p8">(a) Manage payments, fees and charges</p>
							<p class="p8">(b) Collect and recover money owed to us</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Identity</p>
							<p class="p8">(b) Contact</p>
							<p class="p8">(c) Financial</p>
							<p class="p8">(d) Transaction</p>
							<p class="p8">(e) Marketing and Communications</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Performance of a contract with you</p>
							<p class="p8">(b) Necessary for our legitimate interests (to recover debts due to us)</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
					</tr>
					<tr>
						<td class="td1" valign="middle">
							<p class="p8">To manage our relationship with you which will include:</p>
							<p class="p8">(a) Notifying you about changes to our terms or privacy policy</p>
							<p class="p8">(b) Asking you to complete a questionnaire leave a review or take a survey</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Identity</p>
							<p class="p8">(b) Contact</p>
							<p class="p8">(c) Profile</p>
							<p class="p8">(d) Marketing and Communications</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Performance of a contract with you</p>
							<p class="p8">(b) Necessary to comply with a legal obligation</p>
							<p class="p8">(c) Necessary for our legitimate interests (to keep our records updated and to
								study how customers use our products/services)</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
					</tr>
					<tr>
						<td class="td1" valign="middle">
							<p class="p8">To administer and protect our business and this Platform (including
								troubleshooting, data analysis, testing, system maintenance, support, reporting
								and
								hosting of data)</p>

							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Identity</p>
							<p class="p8">(b) Contact</p>
							<p class="p8">(c) Technical</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Necessary for our legitimate interests (for running our business,
								provision of administration and IT services, network security, to prevent fraud and in
								the context of a business reorganisation or group restructuring exercise)</p>
							<p class="p8">(b) Necessary to comply with a legal obligation</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
					</tr>
					<tr>
						<td class="td1" valign="middle">
							<p class="p8">To deliver relevant Platform content and advertisements to you and
								measure or
								understand the effectiveness of the advertising we serve to you</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Identity</p>
							<p class="p8">(b) Contact</p>
							<p class="p8">(c) Profile</p>
							<p class="p8">(d) Usage</p>
							<p class="p8">(e) Marketing and Communications</p>
							<p class="p8">(f) Technical</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">Necessary for our legitimate interests (to study how customers use our
								products/services, to develop them, to grow our business and to inform our marketing
								strategy)</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
					</tr>
					<tr>
						<td class="td1" valign="middle">
							<p class="p8">To use data analytics to improve our Platform, products/services,
								marketing,
								customer relationships and experiences</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Technical</p>
							<p class="p8">(b) Usage</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">Necessary for our legitimate interests (to define types of customers for our
								products and services, to keep our Platform updated and relevant, to develop our
								business and to inform our marketing strategy)</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
					</tr>
					<tr>
						<td class="td1" valign="middle">
							<p class="p8">To make suggestions and recommendations to you about goods or services
								that
								may be of interest to you</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">(a) Identity</p>
							<p class="p8">(b) Contact</p>
							<p class="p8">(c) Technical</p>
							<p class="p8">(d) Usage</p>
							<p class="p8">(e) Profile</p>
							<p class="p8">(f) Marketing and Communications</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
						<td class="td1" valign="middle">
							<p class="p8">Necessary for our legitimate interests (to develop our products/services and
								grow our business)</p>
							<!--p class="p9">&nbsp;</p-->
						</td>
					</tr>
					<tr>
						<td>
							<p class="p8">Any other purpose disclosed by us when you provide the personal data
								from time
								to time</p>
						</td>
						<td class="td1" valign="middle">
							<p class="p8">As may be applicable</p>
						</td>
						<td class="td1" valign="middle">
							<p class="p8"><span class="s2">(a</span>) Performance of a contract with you</p>
							<p class="p8">(b) Necessary to comply with a legal obligation</p>
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="ul1">
				<!--li class="li5">&nbsp;</li-->
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Marketing</strong></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We strive to provide you with choices regarding certain personal data uses, particularly
					around marketing and advertising.<span class="Apple-converted-space">&nbsp; </span>Please email us
					at <span class="s3">privacy@seafood souq.com</span> in order to discuss your personal data use in
					this regard.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Promotional Offers From Us</strong></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We may use your Identity, Contact, Technical, Usage and Profile Data to form a view on
					what we think you may want or need, or what may be of interest to you. This is how we decide which
					products, services and offers may be relevant for you (we call this marketing).</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">You will receive marketing communications from us if you have subscribed to the Platform
					and you have expressly opted in for receiving that marketing.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Third Party Marketing</strong>&nbsp;</li>
				<li class="li7">We will get your express opt-in consent before we share your personal data with any
					third party for marketing purposes.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Opting Out</strong>&nbsp;</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">You can ask us or third parties to stop sending you marketing messages at any time by
					contacting us at privacy@seafood souq.com.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">Where you opt out of receiving these marketing messages, this will not apply to personal
					data provided to us as a result of [a product/service purchase, warranty registration,
					product/service experience or other transactions].</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Cookies</strong>&nbsp;</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">You can set your browser to refuse all or some browser cookies, or to alert you when
					websites set or access cookies. If you disable or refuse cookies, please note that some parts of
					this Platform may become inaccessible or not function properly. For more information about the
					cookies we use, please see [LINK TO YOUR COOKIE POLICY].</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4"><strong>Change of Purpose&nbsp;</strong></li>
				<li class="li4"><strong>&nbsp;</strong></li>
				<li class="li4">We will only use your personal data for the purposes for which we collected it, unless
					we reasonably consider that we need to use it for another reason and that reason is compatible with
					the original purpose. If you wish to get an explanation as to how the processing for the new purpose
					is compatible with the original purpose, please contact us.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">If we need to use your personal data for an unrelated purpose, we will notify you in
					advance and we will explain the legal basis which allows us to do so in order for you to be able to
					make an informed decision at that point on how we continue to use your personal information.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">Please note that we may process your personal data without your knowledge or consent, in
					compliance with the above rules, where this is required or permitted by law.</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4"><span class="s1"><strong>DISCLOSURES OF YOUR PERSONAL DATA</strong>&nbsp;</span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We may share your personal data with the parties set out below for the purposes set out
					in the table [<em>Purposes for which we will use your personal data</em>] above.</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4">Internal Third Parties as set out in the [Glossary].</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">External Third Parties as set out in the [Glossary].</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Specific third parties [listed in the table [LINK]].</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Third parties to whom we may choose to sell, transfer or merge parts of our business or
					our assets. Alternatively, we may seek to acquire other businesses or merge with them. If a change
					happens to our business, then the new owners may use your personal data in the same way as set out
					in this privacy policy. If we are involved in a merger, acquisition or asset sale, your personal
					data may be transferred. However, we will provide notice before your personal data is transferred
					and becomes subject to a different privacy policy.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Under certain circumstances, we may be required to disclose your personal data if
					required to do so by law or in response to valid requests by public authorities (e.g. a court or a
					government agency).</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">In good faith where such action is necessary to:</li>
				<!--li class="li5">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li10">To comply with a legal obligation.</li>
				<li class="li10">To protect and defend the rights or property of Marketplace.</li>
				<li class="li10">To prevent or investigate possible wrongdoing in connection with the Platform.</li>
				<li class="li10">To protect the personal safety of users of the Platform.</li>
				<li class="li10">To protect against legal liability.</li>
				<li class="li7">We require all third parties to respect the security of your personal data and to treat
					it in accordance with the law. We do not allow our third party service providers to use your
					personal data for their own purposes and only permit them to process your personal data for
					specified purposes and in accordance with our instructions.</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li4"><span class="s1"><strong>INTERNATIONAL TRANSFERS</strong></span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">Whenever we transfer your personal data out of the UAE, we ensure a similar degree of
					protection is afforded to it by ensuring that we will only transfer your personal data to third
					parties who will agree to provide an adequate level of protection for personal data. The relevant
					sections of such contractual arrangement will be available for review upon request.</li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">Please contact us if you want further information on the specific mechanism used by us
					when transferring your personal data out of the UAE. Your consent to this Privacy Policy followed by
					your submission of such information represents your agreement to such transfers.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><span class="s1"><strong>DATA SECURITY</strong></span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We have put in place appropriate security measures to prevent your personal data from
					being accidentally lost, used or accessed in an unauthorised way, altered or disclosed. In addition,
					we limit access to your personal data to those employees, agents, contractors and other third
					parties who have a business need to know. They will only process your personal data on our
					instructions and they are subject to a duty of confidentiality.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We have put in place procedures to deal with any suspected personal data breach and will
					notify you and any applicable regulator of a breach where we are legally required to do so.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><span class="s1"><strong>DATA RETENTION</strong>&nbsp;</span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We will only retain your personal data for as long as reasonably necessary to fulfil the
					purposes we collected it for, including for the purposes of satisfying any legal, regulatory, tax,
					accounting or reporting requirements. We may retain your personal data for a longer period in the
					event of a complaint or if we reasonably believe there is a prospect of litigation in respect to our
					relationship with you.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">To determine the appropriate retention period for personal data, we consider the amount,
					nature and sensitivity of the personal data, the potential risk of harm from unauthorised use or
					disclosure of your personal data, the purposes for which we process your personal data and whether
					we can achieve those purposes through other means, and the applicable legal, regulatory, tax,
					accounting or other requirements.</li>
				<li class="li4">In some circumstances we may anonymise your personal data (so that it can no longer be
					associated with you) for research or statistical purposes in which case we may use this information
					indefinitely without further notice to you.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><span class="s1"><strong>YOUR LEGAL RIGHTS</strong></span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">Under certain circumstances, you have rights under data protection laws in relation to
					your personal data, such as the right to request access to your personal date, right to request
					correction of your personal data, request erasure of your personal data, object to processing of
					your personal data, request restriction of processing your personal data, request transfer of your
					personal data, and the right to withdraw consent.</li>
				<li class="li7">If you wish to exercise any of the rights set out above, please contact our data privacy
					manager at privacy@seafood souq.com. Please note that we may ask you to verify your identity before
					responding to such requests.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>No Fee Usually Required</strong></li>
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">You will not have to pay a fee to access your personal data (or to exercise any of the
					other rights). However, we may charge a reasonable fee if your request is clearly unfounded,
					repetitive or excessive. Alternatively, we could refuse to comply with your request in these
					circumstances.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>What We May Need From You</strong>&nbsp;&nbsp;</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We may need to request specific information from you to help us confirm your identity
					and ensure your right to access your personal data (or to exercise any of your other rights). This
					is a security measure to ensure that personal data is not disclosed to any person who has no right
					to receive it. We may also contact you to ask you for further information in relation to your
					request to speed up our response.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Time Limit To Respond</strong>&nbsp;&nbsp;</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">We try to respond to all legitimate requests within one month. Occasionally it could
					take us longer than a month if your request is particularly complex or you have made a number of
					requests. In this case, we will notify you and keep you updated.</li>
				<!--li class="li4">&nbsp;</li-->
				<!--li class="li5">&nbsp;</li-->
				<li class="li11"><span class="s1"><strong>GLOSSARY</strong></span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><span class="s1"><strong>LAWFUL BASIS:</strong></span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Legitimate Interest</strong> means the interest of our business in conducting
					and managing our business to enable us to give you the best service/product and the best and most
					secure experience. We make sure we consider and balance any potential impact on you (both positive
					and negative) and your rights before we process your personal data for our legitimate interests. We
					do not use your personal data for activities where our interests are overridden by the impact on you
					(unless we have your consent or are otherwise required or permitted to by law). You can obtain
					further information about how we assess our legitimate interests against any potential impact on you
					in respect of specific activities by contacting us.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Performance of Contract</strong> means processing your data where it is
					necessary for the performance of a contract to which you are a party or to take steps at your
					request before entering into such a contract.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Comply with a legal obligation</strong> means processing your personal data
					where it is necessary for compliance with a legal obligation that we are subject to.</li>
				<li class="li4"><span class="s1">&nbsp;</span></li>
				<li class="li4"><span class="s1"><strong>THIRD PARTIES</strong>:</span>&nbsp;</li>
				<li class="li4"><strong>Internal Third Parties</strong></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">Other companies in the [COMPANY] Group [acting as joint controllers or processors] and
					who are based [SPECIFIC COUNTRIES] and provide [IT and system administration services and undertake
					leadership reporting]. <strong>[<em>Note to SS: Please confirm if any affiliated company will have
							access to the User data</em>]</strong></li>
				<!--li class="li5">&nbsp;</li-->
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>External Third Parties</strong>&nbsp;</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li10">Service providers [acting as processors] based [SPECIFIC COUNTRIES] who provide [IT and
					system administration services].</li>
			</ul>
			<ul class="ul1">
				<li class="li10">Professional advisers [acting as processors or joint controllers] including lawyers,
					bankers, auditors and insurers based in [SPECIFIC COUNTRIES] who provide [consultancy, banking,
					legal, insurance and accounting services].</li>
			</ul>
			<ul class="ul1">
				<li class="li10">[DETAILS OF ANY OTHER THIRD PARTIES, FOR EXAMPLE, MARKET RESEARCHERS, FRAUD PREVENTION
					AGENCIES, PRICE COMPARISON SITES AND SO ON.]</li>
				<li class="li7"><span class="s1"><strong>YOUR LEGAL RIGHTS</strong>:</span></li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4">You have the right to:</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Request access </strong>to your personal data (commonly known as a &ldquo;data
					subject access request&rdquo;). This enables you to receive a copy of the personal data we hold
					about you and to check that we are lawfully processing it.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Request correction </strong>of the personal data that we hold about you. This
					enables you to have any incomplete or inaccurate data we hold about you corrected, though we may
					need to verify the accuracy of the new data you provide to us.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Request erasure </strong>of your personal data. This enables you to ask us to
					delete or remove personal data where there is no good reason for us continuing to process it. You
					also have the right to ask us to delete or remove your personal data where you have successfully
					exercised your right to object to processing (see below), where we may have processed your
					information unlawfully or where we are required to erase your personal data to comply with local
					law. Note, however, that we may not always be able to comply with your request of erasure for
					specific legal reasons which will be notified to you, if applicable, at the time of your request.
				</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Object to processing </strong>of your personal data where we are relying on a
					legitimate interest (or those of a third party) and there is something about your particular
					situation which makes you want to object to processing on this ground as you feel it impacts on your
					fundamental rights and freedoms. You also have the right to object where we are processing your
					personal data for direct marketing purposes. In some cases, we may demonstrate that we have
					compelling legitimate grounds to process your information which override your rights and freedoms.
				</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Request restriction of processing </strong>of your personal data. This enables
					you to ask us to suspend the processing of your personal data in the following scenarios:</li>
				<!--li class="li4">&nbsp;</li-->
			</ul>
			<ul class="ul1">
				<li class="li10">If you want us to establish the data&rsquo;s accuracy.</li>
			</ul>
			<ul class="ul1">
				<li class="li10">Where our use of the data is unlawful but you do not want us to erase it.</li>
			</ul>
			<ul class="ul1">
				<li class="li10">Where you need us to hold the data even if we no longer require it as you need it to
					establish, exercise or defend legal claims.</li>
			</ul>
			<ul class="ul1">
				<li class="li10">You have objected to our use of your data but we need to verify whether we have
					overriding legitimate grounds to use it.</li>
				<li class="li10"><strong>Request the transfer </strong>of your personal data to you or to a third party.
					We will provide to you, or a third party you have chosen, your personal data in a structured,
					commonly used, machine-readable format. Note that this right only applies to automated information
					which you initially provided consent for us to use or where we used the information to perform a
					contract with you.</li>
				<!--li class="li4">&nbsp;</li-->
				<li class="li4"><strong>Withdraw consent at any time </strong>where we are relying on consent to process
					your personal data. However, this will not affect the lawfulness of any processing carried out
					before you withdraw your consent. If you withdraw your consent, we may not be able to provide
					certain products or services to you. We will advise you if this is the case at the time you withdraw
					your consent.</li>
				<!--li class="li5">&nbsp;</li-->
				<!--li class="li5">&nbsp;</li-->
				<!--li class="li5">&nbsp;</li-->
				<li class="li4">This Privacy Policy was last updated on [XXX].</li>
				<!--li class="li4">&nbsp;</li-->
				<!--li class="li5">&nbsp;</li-->
				<li class="li12"><strong>XXXX</strong></li>
				<!--li class="li5">&nbsp;</li-->
				<!--li class="li6">&nbsp;</li-->
			</ul>

		</div>
	</div>
</div>