<div class="container" *ngIf="show; else elseBlock">
    <div style="height: 100px;"></div>
    
    <div class="row">
      <div class="col-md-12">
          <h1 class="title">{{'EditProduct.title' | translate}}</h1>
      </div>
        <div class="col-lg-4 col-md-6 mg-bt" *ngIf="primaryImg">
            <div class="primaryImg-cont">
                <div class="bg-img" [style.background-image]="primaryImg" *ngIf="!showLoading"></div>
            </div>
            <div class="bg">
                <img src="../../assets/loader.gif" alt="loading..." *ngIf="showLoading" class="loading">
                <span class="primary-label">{{'EditProduct.primary-image' | translate}}</span>
                <hr class="hr-small">
                <a class="pink-btn" (click)="showUploadBtn()" *ngIf="showEdit">{{'EditProduct.edit-img' | translate}}</a>
                <input type="file" id="primary" (change)="updatePrimaryImg($event.target.files)" *ngIf="showUpload">
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mg-bt" *ngFor="let image of images; index as i; first as isFirst">
            <div class="primaryImg-cont">
                <div class="bg-img" [style.background-image]="image" *ngIf="!showLoading"></div>
            </div>
            <div class="bg">
                <a (click)="deleteNode(i)" class="pink-btn">{{'EditProduct.delete-img-btn' | translate}}</a>
            </div>
          </div>
      <div class="col-md-12" style="margin-top: -70px;">
        <h1 class="title" style="margin-bottom: 20px">{{'EditProduct.detail' | translate}}</h1>
        <form (ngSubmit)="onSubmit()" class="form-design">
  
      <div class="form-group" >
        <label>{{'EditProduct.name' | translate}}</label>
        <input type="text"
               class="form-control"
               required [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
      </div>
  
      <div class="form-group" >
        <label>{{'EditProduct.price' | translate}}</label>
        <input type="number"
               class="form-control"
               required [(ngModel)]="price" [ngModelOptions]="{standalone: true}">

      </div>
  
  
    <div class="form-group" >
      <label>{{'EditProduct.price-measurement' | translate}}</label>
      <input type="text"
             class="form-control"
             required [(ngModel)]="measurement" [ngModelOptions]="{standalone: true}"> 

    </div>
  
    <div class="form-group">
      <label>{{'EditProduct.description' | translate}}</label>
      
             <textarea class="form-control"
             required [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></textarea>

    </div>
  

  
    <div class="form-group">
      <label>{{'EditProduct.fish-types' | translate}}</label>
      <select class="form-control"
              [(ngModel)]="types" [ngModelOptions]="{standalone: true}">
        <option value="">{{'EditProduct.select' | translate}}</option>
        <option *ngFor="let type of pTypes"
                [value]="type.id">{{type.name}}
        </option>
      </select>
     
    </div>
  
  
    <div class="form-group"
         >
      <label>{{'EditProduct.country' | translate}}</label>
      <select class="form-control" [(ngModel)]="country" [ngModelOptions]="{standalone: true}">
        <option value="{{country.code}}" *ngFor="let country of countries">{{country.name}}</option>
      </select>
     
    </div>

    <div class="form-group" *ngIf="!primaryImg">
        <label for="file">{{'EditProduct.primary-image-ch' | translate}}</label>
        <input type="file" (change)="addPrimaryImg($event.target.files )" required>
    </div>
  
    <div class="form-group">
      <label for="file">{{'EditProduct.images' | translate}}</label>
      <input type="file"
             id="file" multiple
             (change)="handleFileInput($event.target.files)" >
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit"class="btn-red">{{'EditProduct.update' | translate}}</button>
        </div>
        <div class="col-md-6">
            <button (click)="deleteProduct()" type="button" class="pink-btn bt">{{'EditProduct.delete' | translate}}</button>
        </div>
    </div>
  
  </form>
      </div>
    </div>
    <div style="height: 100px;"></div>
    
  
  </div>

  <ng-template #elseBlock>
  
      <div class="not-found-grid">
        <div style="padding: 0 30%;">
            <p>{{'EditProduct.no-found' | translate}} </p>

        </div>
      </div>  
    </ng-template>