<div class="container">
  <div style="height: 100px;"></div>

<div class="row">
  <div class="col-lg-3">
    <h1 class="title">Checkout</h1>
    <h1 class="subtitle">Billing Details</h1>
    <div class="shipping-details table-checkout">
        <h5>Shipping Information</h5>
        <table>
          <tr>
            <td><b> Address</b></td>
            <td>{{info?.dataExtra?.Address}}</td>
          </tr>
          <tr>
              <td><b>City</b></td>
              <td>{{info?.dataExtra?.City}}</td>
            </tr>
            <tr>
                <td><b>Country</b></td>
                <td>{{info?.dataExtra?.country}}</td>
              </tr>
              <tr>
                  <td><b>Zipcode</b></td>
                  <td>{{info?.dataExtra?.zipCode}}</td>
                </tr>
        </table>
        
      </div>
  </div>
  <div class="col-lg-9">
<form method="POST"  ngNativeValidate (ngSubmit)="submit()">
 
  <div class="row">
    <div class="col-6">
      <div class="form-group">
          <label>Customer Email</label>

          <input type="text"  name="customer_email" [value]="email" class="form-control">

      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
          <label>Amount (AED)</label>
          <input type="text" class="form-control" disabled name="customer_amount" [value]="customerTotal" >
          <input type="hidden" class="form-control" disabled name="amount" [value]="total" >

      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
          <label>Additional Notes</label>

          <textarea name="order_description" [(ngModel)]="description" class="form-control"    rows="3"></textarea>

      </div>

    </div>
  </div>
  <div class="row table-checkout">
      <div class="col-lg-12">
        <h3>Your order</h3>
        <table>
          <tr>
              <th>Product</th>
              <th>Total</th>
          </tr>
          <tr *ngFor="let product of products; index as i;">
            <td>{{product?.fish?.type?.name}} <b> × {{product.quantity.value}} kg</b></td>
            <td>AED {{(getTotalxItem(product.quantity.value, product.price.value)).toFixed(2)}}</td>
          </tr>
          <tr>
            <td><b>Subtotal</b></td>
            <td><b>AED {{totalAPI}}</b></td>
          </tr>
          <tr>
            <td><b>Shipping</b></td>
            <td><b>AED {{shipping}}</b></td>
          </tr>
          <tr>
            <td><b>Taxes, Customs and Other Fees</b></td>
            <td><b>{{totalOtherFees}} AED</b></td> 
          </tr>
          <tr>
            <td><b>Total</b></td>
            <td><b> AED {{totalWithShipping}}</b></td>
          </tr>
          
        </table>
      </div>
    </div>
  <div class="row">
      <div class="col-lg-6">
          <button type="submit" class="btn btn-red">Confirm payment</button>

      </div>
    </div>
</form>

</div>
</div>
</div>