<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="black-title">{{'historicalOrders.title' | translate}}</h2>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
            <div class="form-group" >
                <label>{{'ItemStatus.status' | translate}}</label>
                <select class="form-control" name="status" [(ngModel)]="status" (change)="getOrders()" [value]='0' >
                    <option value="0" selected="selected">Select an Option</option>
                    <option value="5c017b3c47fb07027943a409"> Delivered</option>
                    <option value="5c017b5a47fb07027943a40c"> Buyer Cancelled Order</option>
                    <option value="5c06f4bf7650a503f4b731fd"> Seller Cancelled Order</option>
                </select>
              </div>
          
        </div>
          <div class="col-4">
            <div class="form-group" >
              <label>{{'ItemStatus.orderNumber' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="orderNumber" (keyup.enter)="getOrders()"  placeholder="search by Order Number">
            </div>
          </div>
          <div class="col-4">
            <button class="pink-btn" (click)="clear()">Clear filter</button>
          </div>
        <div class="col-12" style="margin-top: 20px; margin-bottom: 20px" *ngIf="!showNoData">
            <div class="col-12 table-design">
              <div class="row row-bg" *ngFor="let item of orders  ;let i=index ">
                <div class="col-5">
                  <p *ngIf="item.shoppingCart" class="order-number">Order #{{item.shoppingCart.orderNumber}}</p>                
                  <h5 [innerHtml]="item.fish.name"></h5>                
                  <span *ngIf="item.store" class="store">{{item.store.name}}</span>               
                  <p *ngIf="item.status" class="status"><b>Status: </b>{{item.status.status}}</p>
                  <p class="qty">Quantity {{item.quantity.value}} kg</p>  
                  <p class="total">Total: {{((item.quantity.value * item.price.value ) + item.shipping + item.customs + item.uaeTaxes + item.sfsMargin) | currency:'AED '}}</p>
                </div>
                <div  class="col-4">
                  <div *ngIf="item.updateInfo">
                    <!--<p class="date" *ngFor="let update of item.updateInfo;" >
                      <strong>{{update.action}} on {{update.at*1000 | date: 'EEEE, MMMM d, y, HH:mm'}} <br> by {{update.by}} </strong>
                    </p>
-->
                  </div>
                </div>
                <div class="col"  *ngIf="item.status">                  
                  <!--<select class="form-control" name="status" #device (change)="confirmUpdatestatus($event.target.value, item.id)" >
                      <option *ngFor="let sitem of orderStatus;" [selected]="item.status.id == sitem.id" [ngValue]="sitem.id"> {{sitem.status}}</option>
                  </select>-->
                  <button *ngIf="item.status.id == '5c017ae247fb07027943a404' || item.status.id == '5c017af047fb07027943a405'" (click)="cancelItem(item.id)" class="btn-red-a">{{'ItemStatus.cancelItem' | translate}}</button>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="showNoData" style="margin-bottom: 20px;">
            <h2 class="black-title">No records found</h2>
          </div>
        </div>
      
  </div>
  </div>