.container{
	padding-top: 50px;
	padding-bottom: 50px;
}
.product-image{
	height: 100px;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}
.price {
    font-size: 1rem;
    color: #0055bd;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}
.filter-field{
	font-family: roboto;
	font-size: 16px;
	padding: 0 5px;
	margin-bottom: 10px;
}