.btn-pagination{   
  background: #123345;
    color: white;
    border: 0;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.8rem;
    float: left;
  cursor:pointer;
  display:inline-block;
  &:hover{
    background-color: #83b0d1;
    -webkit-transition: background-color 0.5s;
  }
}
a.badge-danger{
    color: #fff !important;
    cursor: pointer;
}
.badge-green{
  background: #123345;
    color: white;
}
.previous, .next{
  margin-bottom: 20px;
}
.numberPage{
  margin-right: 10px;
  margin-bottom: 10px;
}
.active {
  background: #ee434a;
  color: white !important;
}
.pink-btn{
  padding: 10px 15px;
}
aside{
  margin-top: 2em;

  .box {
    margin-top: 2em;
  }
  .bprice, .minimum, .maximum {    
    color: #666 !important;
    font-size: 0.7em !important;    

      label {
        display: inline-block !important;
        font-size: 1.5em !important;
        margin: 0px;
        padding: 0px;
      }
      .current-price, .current-min, .current-max{
        display: inline-block;
        text-transform: lowercase;
        font-size: 1.1em;
        padding-left: 10px;
      }
      .slider.slider-horizontal{
        width: 100% !important;
      }
      #sliderPrice, .sliderMin, .sliderMax {
        .slider-handle {
          background: #8283FF;
        }
      }
      .tooltip.tooltip-main.bottom {
        opacity: 1 !important;
      }
  }
}
.tooltip {
  opacity: 1 !important;
}
#sliderPrice, #sliderMin, #sliderMax {
  .slider-handle {
    background: #8283FF;
  }
}
.subcategory-container {
  display: none;
}

button#clear {
  background: #eb1c24;
  border: none;
  padding: 3px 10px;
  color: #fff !important;
}
.coming-true{
  background: #ebf1f6;
  border: 1px solid #fff;
  .bg-img-prod{
    filter:grayscale(100%);
  }
}

