<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="black-title">{{'AdvancedSearch.title' | translate}}</h2>
			<form [formGroup]="searchForm" (submit)="search()" class="form-design">
				<div class="form-group">
			        <label>{{'AdvancedSearch.name' | translate}}</label>
			        <input type="text" formControlName="Name" class="form-control">
			    </div>
				<div class="form-group">
			        <label>{{'AdvancedSearch.country' | translate}}</label>
			        <select class="form-control" formControlName="Country" class="form-control">
			          <option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</option>
			        </select>
			    </div>
			    <div class="form-group">
			        <label>{{'AdvancedSearch.fish-type' | translate}}</label>
			        <select formControlName="FishType" class="form-control">
			        	<option value="{{type.id}}" *ngFor="let type of types">{{type.name}}</option>
			        </select>
			    </div>
			    <div class="form-group">
			        <label>{{'AdvancedSearch.raised' | translate}}</label>
			        <select formControlName="Raised" class="form-control">
			        	<option value="farmed">Farmed</option>
		                <option value="organically">Organically Farmed</option>
		                <option value="wild">Wild</option>
			        </select>
			    </div>
			    <div class="form-group">
			        <label>{{'AdvancedSearch.preparation' | translate}}</label>
			        <select formControlName="Preparation" class="form-control">
			        	<option value="filleted">Filleted</option>
		                <option value="whole">Whole</option>
		                <option value="gutted">Gutted</option>
			        </select>
			    </div>
			    <div class="form-group">
			        <label>{{'AdvancedSearch.treatment' | translate}}</label>
			        <select formControlName="Treatment" class="form-control">
			        	<option value="fresh">Fresh</option>
		                <option value="frozen">Frozen</option>
		                <option value="live">Live</option>
		                <option value="smoked">Smoked</option>
		                <option value="canned">Canned</option>
			        </select>
			    </div>
			    <div class="form-group">
			    	<input type="submit" class="btn-red" value="{{'AdvancedSearch.search' | translate}}">
			    </div>
			</form>
		</div>
	</div>
</div>
<div class="products-section">
	<div class="container" *ngIf="showProducts">
		<div class="row">
			<div class="col-12"><h2 class="black-title" id="result">{{'AdvancedSearch.result' | translate}}</h2></div>
		    <div class="col-xl-4 col-md-6 result" *ngFor="let product of products; let i=index">
		      <div class="search-result">
		        <div class="col-lg-12 search-product-img">
		           <a routerLink="/product/{{product._id}}"><div [style.background-image]="image[i]" class="bg-img-prod"></div></a>
		        </div>
		        <div class="col-lg-12 search-product-desc">
		          <a routerLink="/product/{{product._id}}">
		            <h3 class="search-product-name">{{product.name}}</h3>
		          </a>
		          <span class="coming-from">
		            <a routerLink="/store/{{product.store.name}}">{{product.store.name}}</a>
		            <hr class="black-line">
		          </span>
		          <div class="description">{{smallDesc(product.description)}}</div>
		        </div>
		        <span class="price">
		          {{product.price.type}} {{product.price.value}} {{product.weight.type}}
		        </span>
		     </div>
		    </div>
		    <div class="col-12" style="text-align: center;" *ngIf="showPagination">
		        <span class="pink-btn previous" (click)="previousPage()" *ngIf="showPrvP">{{'Archive-product.previous' | translate}}</span>
		        <span *ngFor="let number of paginationNumbers" class="numberPage pink-btn" [ngClass]="{'active': page==number}" (click)="goTo(number)">{{number}}</span>
		        <span class="pink-btn next" (click)="nextPage()" *ngIf="showNextP">{{'Archive-product.next' | translate}}</span>
		    </div>
		</div>
	</div>
	<div class="container" *ngIf="noProduct">
		<div class="row">
			<div class="col-12"><h2 class="black-title" id="result">{{'AdvancedSearch.noProduct' | translate}}</h2></div>
		</div>
	</div>
</div>