.container{
	padding-top: 100px;
	padding-bottom: 100px;
}
.black-title{
	margin-bottom: 20px;
}
.previous, .next{
  margin-bottom: 20px;
}
.numberPage{
  margin-right: 10px;
  margin-bottom: 10px;
}
.active {
  background: #ee434a;
  color: white !important;
}
.pink-btn{
  padding: 10px 15px;
}
.products-section{
	padding-top: 0;
	padding-bottom: 100px;
}