<div class="gray-bg">

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="gray-title"><span>{{'Recovery.title' | translate}}</span></h1>

		
    		<form [formGroup]="recoveryForm" (submit)="recovery()">
					<div class="form-group input-group">
							<span class="has-float-label">  
									<input id="code" type="text" class="form-control" placeholder="{{'Recovery.code' | translate}}" formControlName="code" [ngClass]="{'is-invalid':recoveryForm.get('code').invalid && recoveryForm.get('code').touched}">
									<label for="code">{{'Recovery.code' | translate}}<span class="field-status red">*</span> </label>
									<div class="invalid-feedback" *ngIf="recoveryForm.get('code').hasError('required')">{{'Recovery.code' | translate}} {{'Recovery.required' | translate}}.</div>
								</span>
						</div>
		       
		        <div class="form-group input-group">
						<span class="has-float-label">  
							  <input id="pw" type="password" class="form-control" placeholder="{{'Recovery.password' | translate}}" formControlName="password" [ngClass]="{'is-invalid':recoveryForm.get('password').invalid && recoveryForm.get('password').touched}">
							  <label for="pw">{{'Recovery.password' | translate}}<span class="field-status red">*</span> </label>

							<div class="invalid-feedback" *ngIf="recoveryForm.get('password').hasError('required')"> {{'Recovery.password' | translate}} {{'Recovery.required' | translate}}.</div>
							<div class="invalid-feedback" *ngIf="recoveryForm.get('password').errors?.pattern">{{'Register.password' | translate}} should has at least 8 characters, 1 uppercase and 1 number.</div>	
					</span>
		        </div>
		        <div class="form-group input-group">
						<span class="has-float-label">
							  <input id="rpw" type="password" class="form-control" placeholder="{{'Recovery.repeat' | translate}}" formControlName="rePassword" [ngClass]="{'is-invalid':recoveryForm.get('rePassword').invalid && recoveryForm.get('rePassword').touched}">
							  <label for="rpw">{{'Recovery.repeat' | translate}}<span class="field-status red">*</span> </label>

							<div class="invalid-feedback" *ngIf="recoveryForm.get('rePassword').hasError('required')"> {{'Recovery.repeat' | translate}} {{'Recovery.required' | translate}}.</div> 
							<div class="invalid-feedback" *ngIf="recoveryForm.controls.rePassword.errors?.MatchPassword"> Password not match</div>
						</span>
		        </div>
		        <div class="form-group">
						<button type="submit" class="btn btn-save">{{'Recovery.send' | translate}}</button>
		        </div>
		    </form> 
		</div>
	</div>
</div>
</div>