.bg{
    padding-top: 50px;
}
.pink-btn {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    border: 2px solid #ee434a;
    display: inline-block;
    color: #eb1c24 !important;
    padding: 7px 30px;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    vertical-align: bottom;
    bottom: 0px;
    margin-top: 20px;
    background-color: #fff;
}