<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="black-title">{{'ManageOrders.title' | translate}}</h2>
      </div>
    </div>
      <div class="row">
        <div class="col-md-4">
            <div class="form-group" >
                <label>{{'ManageOrders.status' | translate}}</label>
                <select class="form-control" name="status" [(ngModel)]="status" (change)="getOrders()" [value]='0' >
                    <option value="0" selected="selected">Select an Option</option>
                    <option *ngFor="let item of orderStatus;"  [ngValue]="item.id"> {{item.status}}</option>
                </select>
              </div>
          
        </div>
          <div class="col-4">
            <div class="form-group" >
              <label>{{'ManageOrders.orderNumber' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="orderNumber" (keyup.enter)="getOrders()"  placeholder="search by Order Number">
            </div>
          </div>
          <div class="col-4">
            <button class="pink-btn" (click)="clear()">Clear filter</button>
          </div>
        <div class="col-12" style="margin-top: 20px; margin-bottom: 20px" *ngIf="!showNoData">
            <div class="col-12 table-design">
              <div class="row row-bg" *ngFor="let item of orders  ;let i=index ">
                <div class="col-5">
                  <p *ngIf="item.shoppingCart.orderNumber" class="order-number">Order #{{item.shoppingCart.orderNumber}}</p>                
                  <h5 [innerHtml]="item.fish.name"></h5>                
                  <span *ngIf="item.store" class="store">{{item.store.name}}</span>               
                  <p *ngIf="item.status" class="status"><b>Status:</b>{{item.status.status}}</p>
                  <p class="qty">Quantity {{item.quantity.value}} kg</p>  
                </div>
                <div class="col-4">
                  <p class="date" *ngIf="item.shippedAt" ><strong>Shipped on {{item.shippedAt *1000 | date: 'EEEE, MMMM d, y'}} </strong></p>
                  <p class="date" *ngIf="item.arrivedAt"><strong>Arrived on {{item.arrivedAt *1000 | date: 'EEEE, MMMM d, y'}} </strong></p>
                  <p class="date" *ngIf="item.outForDeliveryAt"><strong>Out for Delivery on {{item.outForDeliveryAt *1000 | date: 'EEEE, MMMM d, y'}} </strong></p>
                  <p class="date" *ngIf="item.deliveryAt"><strong>Delivered on {{item.deliveryAt*1000 | date: 'EEEE, MMMM d, y'}} </strong></p>
                  <p class="date" *ngIf="item.CancelAt"><strong>Cancel on {{item.CancelAt*1000 | date: 'EEEE, MMMM d, y'}} </strong></p>
                </div>
                <div class="col col-button" *ngIf="item.status">
                    <button *ngIf="item.status.id == '5c017b3c47fb07027943a409'" (click)="markAsRepayed(item.id)" class="btn-red-a">{{'Payments.PaymentButton' | translate}}</button>
                    <button *ngIf="status == '5c06f4bf7650a503f4b731fd' || status == '5c017b5a47fb07027943a40c'" (click)="markAsRefounded(item.id)" class="btn-red-a">{{'Payments.RefoundButton' | translate}}</button>
                    
              </div>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="showNoData" style="margin-bottom: 20px;">
            <h2 class="black-title">No records found</h2>
          </div>
        </div>
      
  </div>
  </div>