<div class="gray-bg">
  <div class="container-fluid logo-row">
    <div class="row">
      <div class="col-lg-3">
        <img src="../../assets/svg/sfs-logo.svg" alt="" width="60px">
      </div>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img class="e-verify" src="..//../assets/svg/email-verify.svg" alt="">
        </div>
        <div class="col-lg-12 text-center">
            <div class="loader">
                <span class="dot_1"></span>
                <span class="dot_2"></span>
                <span class="dot_3"></span>
              </div>
        </div>

        <div class="col-lg-12 text-center">
          <p>ONE MOMENT, WE'RE VERIFYING YOUR EMAIL...</p>
        </div>
      </div>
    </div>
</div>