h1.big-title {
    color: #fff;
}
.row.curresntPricing {
    margin-top: 20px;
    margin-bottom: 20px;
}
.row.historyPricing {
    margin-top: 20px;
    margin-bottom: 20px;
}
input#price {
    padding-bottom: 10px !important;
}