<div class="gray-bg">
    <div class="thanks-section container-fluid">
        <div class="row sub-nav" style="padding-top: 50px; padding-bottom: 50px;">
            <div class="col-md-6">
                <a routerLink="/shop" class="back-btn"><img src="../../assets/svg/left-arrow.svg" alt="">back to shopping</a>
  
            </div>
           
          </div>

          <div class="row thanks-content">
            <div class="col-lg-12 text-center">
                <h2>Thank you for your Order! </h2>
                <img src="../../assets/svg/shrimp-facing-right.svg" alt="">
                <p>Yay! Your order has been placed successfully. We've sent you an email. We've received your payment and you'll be swimming with the fish in no time.</p>
                <button  routerLink="/orders" class="btn-transparent">track order</button>
            </div>
          </div>

      
      
      
       
      </div>
</div>

