.gray-bg{
  padding: 155px 0;
  .container-fluid{
      .sub-nav{
          @media screen  and (max-width: 992px){
              .col-md-6{
                  text-align: center !important;
              }
          }
      }
      @media screen  and (min-width: 1450px){
          padding-left: 155px;
          padding-right: 155px;
      }

      .back-btn{
          font-family: 'Josefin Sans', sans-serif;
          font-size: 21px;
          letter-spacing: 0.75px;
          line-height: 25px;
          color: #7484AA;
          text-transform: uppercase;
          font-weight: 300;
          &:hover{
              text-decoration: none;
          }
          img{
              margin-right: 10px;
              vertical-align: baseline;
          }
      }
      .thanks-content{
        h2{
          color: #7484AA;
          font-size: 38px;
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 300;
          letter-spacing: 0.5px;
          line-height: 45px;
          text-transform: uppercase;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        p{
          color: #9A9EA8;
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
          font-size: 21px;
          line-height: 28px;
          max-width: 760px;
          margin: 20px auto;
        }
        .btn-transparent{
          border: 1px solid #7484AA;
          color: #7484AA;
          text-transform: uppercase;
          background: none;
          font-size: 16px;
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 300;
          letter-spacing: 0.5px;
          width: 200px;
          height: 50px;
          line-height: 50px;
          margin: 20px auto;
        }
      }
    }
  }