<div class="page-header seafoodFormContainer" id="hero">
  <div class="container">
    <div class="row login-nav-logo">
      <div class="col-lg-4 text-left">
        <a routerLink="/"><img src="../../assets/logo-black.svg" alt="Logo" class="logo"></a> 
      </div>
      <div class="col-lg-8 text-right">
        <button routerLink="/login" class="login-btn">Login</button>
      </div>
    </div>
  </div>
  <div class="container max-800" [hidden]="!step1">

          <div class="row">
              <div class="col-lg-12">
                  <h1 class="introductory-title">I am a seller</h1>
                  <a routerLink="/register" class="recovery">I am a buyer</a>
              </div>
          </div>
          
          <form [formGroup]="sellerForm" (submit)="submitStep1()">
            <div class="row">
              <div class="col-lg-6">
                  <div class="form-group input-group">
                      <span class="has-float-label">    
                          <input id="first" type="text" class="form-control" placeholder="{{'Register.first-name' | translate}}" formControlName="firstName" [ngClass]="{'is-invalid':sellerForm.get('firstName').invalid && sellerForm.get('firstName').touched}">
                          <label for="first">{{'Register.first-name' | translate}}</label> 
                          <div class="invalid-feedback" *ngIf="sellerForm.get('firstName').hasError('required')">{{'Register.first-name' | translate}} {{'Register.required' | translate}}.</div>

                    </span>         
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group input-group">
                      <span class="has-float-label">    
                          <input id="last" type="text" class="form-control" placeholder="{{'Register.last-name' | translate}}" formControlName="lastName" [ngClass]="{'is-invalid':sellerForm.get('lastName').invalid && sellerForm.get('lastName').touched}">
                          <label for="last">{{'Register.last-name' | translate}}</label> 
                    <div class="invalid-feedback" *ngIf="sellerForm.get('lastName').hasError('required')">{{'Register.last-name' | translate}} {{'Register.required' | translate}}.</div>
                    </span>         
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group input-group">
                      <span class="has-float-label">    
                      <input id="email" type="email" class="form-control" placeholder="{{'Register.email' | translate}}" formControlName="email" [ngClass]="{'is-invalid':sellerForm.get('email').invalid && sellerForm.get('email').touched}" (change)="verifyEmail($event.target.value)">
                      <label for="email">{{'Register.email' | translate}}</label> 
                      <div class="EmailNotification" *ngIf="showEmailVerification">{{'Register.EmailNotification' | translate}}</div>
                      <div class="invalid-feedback" *ngIf="sellerForm.get('email').hasError('required')">{{'Register.email' | translate}} {{'Register.required' | translate}}.</div>
                      <div class="invalid-feedback" *ngIf="sellerForm.get('email').hasError('email') && !sellerForm.get('email').hasError('required')">{{'Register.email' | translate}} {{'Register.invalid' | translate}}</div>
                    </span>         
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group input-group">
                      <span class="has-float-label">    
                          <input  class="form-control" type="tel" id="phone" (blur)="validateSellerPhone()">
                          <label for="phone">{{'Register.tel' | translate}}</label> 
                    <input class="form-control" type="hidden"  formControlName="tel" [ngClass]="{'is-invalid':sellerForm.get('tel').invalid && sellerForm.get('tel').touched}">

                  <div class="invalid-feedback" *ngIf="sellerForm.get('tel').hasError('required')"> {{'Register.tel' | translate}} {{'Register.required' | translate}}.</div>
                  <div class="invalid-feedback" *ngIf="sellerForm?.controls?.tel?.errors">Only numbers allowed</div>
                  <div *ngIf="buyerSellerValid" class="invalid-phone">Please follow the phone number format</div>
                    </span>         
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group input-group">
                      <span class="has-float-label">    
                          <input id="password" type="password"  minlength="8" class="form-control" placeholder="{{'Register.password' | translate}}" formControlName="password" [ngClass]="{'is-invalid':sellerForm.get('password').invalid && sellerForm.get('password').touched}">
                          <label for="password">{{'Register.password' | translate}}</label> 
                          <div class="invalid-feedback" *ngIf="sellerForm.get('password').hasError('password') || sellerForm.get('password').hasError('required')">{{'Register.password' | translate}} {{'Register.required' | translate}}.</div>	
                          <div class="invalid-feedback" *ngIf="sellerForm.get('password').errors?.pattern">{{'Register.password' | translate}} should has at least 8 characters maximum 20, 1 uppercase and 1 number.</div>
                    </span>         
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="form-group input-group">
                      <span class="has-float-label">    
                          <input  id="repassword" type="password" class="form-control" placeholder="{{'Register.repeat' | translate}}" formControlName="rePassword" [ngClass]="{'is-invalid':sellerForm.get('rePassword').invalid && sellerForm.get('rePassword').touched}" >
                          <label for="repassword">Confirm password</label> 
                          <div class="invalid-feedback" *ngIf="sellerForm.get('rePassword').hasError('required')"> {{'Register.rePassword' | translate}} {{'Register.required' | translate}}.</div>
                          <div class="invalid-feedback" *ngIf="sellerForm.controls.rePassword.errors?.MatchPassword"> Passwords not match</div>
                    </span>         
                  </div>
              </div>
              <div class="col-lg-12 text-left">
                  <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="tcs" formControlName="tcs" [ngClass]="{'is-invalid':sellerForm.get('tcs').invalid && sellerForm.get('tcs').touched}">
                      <label class="form-check-label" for="tcs">I agree with <a routerLink="/terms-conditions" target="_blank">Terms and Conditions</a></label>
                      <div class="invalid-feedback" *ngIf="sellerForm.get('tcs').hasError('required')"> You have to accept Terms & Conditions.</div>

                    </div>
              </div>
              <div class="col-lg-12 text-center ellipsis-wizard">
                <ul class="list-inline">
                  <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
                  <li class="list-inline-item"><div class="ellipsis-light"></div></li>
                  <li class="list-inline-item"><div class="ellipsis-light"></div></li>
                  <li class="list-inline-item"><div class="ellipsis-light"></div></li>

                </ul>
              </div>
              <div class="col-lg-12 text-center" >
                <div class="form-group">
                  <button type="submit" class="btn-blue">Next</button>
                  </div>
            </div>
            </div>
          </form> 
  </div>

  <div class="container max-800" [hidden]="!step2">

    <div class="row">
      <div class="col-lg-12">
          <h1 class="introductory-title">Now you are a seller at Seafood Souq</h1>
          <p class="fill-company">Fill in your company information. Legal information next.</p>
        </div>
  </div>

  <form [formGroup]="companyForm" (submit)="submitStep2()">
    <div class="row">
      <div class="col-lg-6">
          <div class="form-group input-group">
              <span class="has-float-label">    
                <input id="companyName" type="text" class="form-control" placeholder="{{'Register.company' | translate}}" formControlName="companyName" [ngClass]="{'is-invalid':companyForm.get('companyName').invalid && companyForm.get('companyName').touched}">
                <label for="companyName">{{'Register.company' | translate}}</label> 
                <div class="invalid-feedback" *ngIf="companyForm.get('companyName').hasError('required')"> {{'Register.company' | translate}} {{'Register.required' | translate}}.</div>

            </span>         
          </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group input-group">
            <span class="has-float-label">    
              <input id="ContactNumber" type="number" class="form-control" placeholder="Contact Number" formControlName="ContactNumber" [ngClass]="{'is-invalid':companyForm.get('ContactNumber').invalid && companyForm.get('ContactNumber').touched}">
              <label for="ContactNumber">Contact Number</label> 
              <div class="invalid-feedback" *ngIf="companyForm.get('ContactNumber').hasError('required')"> Contact Number {{'Register.required' | translate}}.</div>

          </span>         
        </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group input-group">
          <span class="has-float-label">    
            <input id="tradeBrand" type="text" class="form-control" placeholder="Trade / Brand Name" formControlName="TradeBrandName" [ngClass]="{'is-invalid':companyForm.get('TradeBrandName').invalid && companyForm.get('TradeBrandName').touched}">
            <label for="tradeBrand">Trade / Brand Name</label> 
            <div class="invalid-feedback" *ngIf="companyForm.get('TradeBrandName').hasError('required')"> Trade / Brand Name {{'Register.required' | translate}}.</div>

        </span>         
      </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group input-group">
        <div class="label-radio">
            <label>{{'Register.company-type' | translate}}</label> 
          </div> 
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="companyType" formControlName="companyType" value="Producer">Producer
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="companyType" formControlName="companyType" value="Processor">Processor
          </label>
        </div>
        <div class="form-check-inline ">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="companyType" formControlName="companyType" value="Trader">Trader
          </label>
        </div> 
              
        <div class="invalid-feedback" *ngIf="companyForm.get('companyType').hasError('required')"> Trade / Brand Name {{'Register.required' | translate}}.</div>

  </div>
  </div>

  <div class="col-lg-6">
    <div class="form-group input-group">
        <span class="has-float-label">    
            <select id="country" class="form-control n" formControlName="location" [ngClass]="{'is-invalid':companyForm.get('location').invalid && companyForm.get('location').touched}">
                <option value="">{{'Register.country' | translate}}</option>
                <option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</option>
              </select>                    
             <label for="country">{{'Register.country' | translate}}</label> 
      <div class="invalid-feedback" *ngIf="companyForm.get('location').hasError('required')"> {{'Register.country' | translate}} {{'Register.required' | translate}}.</div>
      </span>         
    </div>
</div>
<div class="col-lg-6">
    <div class="form-group input-group">
        <span class="has-float-label">    
            <input id="city" type="text" class="form-control" placeholder="{{'Register.City' | translate}}" formControlName="City"  [ngClass]="{'is-invalid':companyForm.get('City').invalid && companyForm.get('City').touched}">
            <label for="city">{{'Register.City' | translate}}</label> 
            <div class="invalid-feedback" *ngIf="companyForm.get('City').hasError('required')"> {{'Register.City' | translate}} {{'Register.required' | translate}}.</div>

      </span>         
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group input-group" style="max-width: 100% !important;">
        <span class="has-float-label">    
            <input id="address" type="text" class="form-control" placeholder="{{'Register.Address' | translate}}" formControlName="Address"  [ngClass]="{'is-invalid':companyForm.get('Address').invalid && companyForm.get('Address').touched}">
            <label for="address">{{'Register.Address' | translate}}</label> 
            <div class="invalid-feedback" *ngIf="companyForm.get('Address').hasError('required')"> {{'Register.Address' | translate}} {{'Register.required' | translate}}.</div>
      </span>         
    </div>
</div>

<div class="col-lg-12">
  <div class="form-group input-group" style="max-width: 100% !important;">
      <span class="has-float-label">    
          <input id="pInter" type="text" class="form-control" placeholder="Products Interested in Selling" formControlName="ProductsInterestedSelling"  [ngClass]="{'is-invalid':companyForm.get('ProductsInterestedSelling').invalid && companyForm.get('ProductsInterestedSelling').touched}">
          <label for="pInter">Products Interested in Selling (Separated by comma)</label> 
          <div class="invalid-feedback" *ngIf="companyForm.get('ProductsInterestedSelling').hasError('required')"> {{'Register.Address' | translate}} {{'Register.required' | translate}}.</div>
    </span>         
  </div>
</div>

<div class="col-lg-12 text-center ellipsis-wizard">
  <ul class="list-inline">
    <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
    <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
    <li class="list-inline-item"><div class="ellipsis-light"></div></li>
    <li class="list-inline-item"><div class="ellipsis-light"></div></li>

  </ul>
</div>

<div class="col-lg-12 text-center" >
  <div class="form-group">
    <button type="submit" class="btn-blue">Next</button>
    </div>
</div>
  </div>
  </form>
  </div>


  <div class="container max-800" [hidden]="!step3">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="introductory-title">Now you are a seller at Seafood Souq</h1>
              <p class="fill-company">Fill in your legat information. Bank information next.</p>
            </div>
      </div>

      <form [formGroup]="bankForm" (submit)="submitStep3()">
          <div class="row">
            <div class="col-lg-6">
                <div class="form-group input-group">
                    <span class="has-float-label">    
                      <input id="reg" type="text" class="form-control" placeholder="Trade License Number" formControlName="TradeLicenseNumber" [ngClass]="{'is-invalid':bankForm.get('TradeLicenseNumber').invalid && bankForm.get('TradeLicenseNumber').touched}">
                      <label for="reg">Trade License Number (Registration)</label> 
                      <div class="invalid-feedback" *ngIf="bankForm.get('TradeLicenseNumber').hasError('required')"> Trade License Number {{'Register.required' | translate}}.</div>
      
                  </span>         
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group input-group">
                    <span class="has-float-label">    
                      <input id="iso" type="text" class="form-control" placeholder="Food Safety Certificate NUmber " formControlName="FoodSafetyCertificateNumber" [ngClass]="{'is-invalid':bankForm.get('FoodSafetyCertificateNumber').invalid && bankForm.get('FoodSafetyCertificateNumber').touched}">
                      <label for="iso">Food Safety Certificate NUmber (ISO)</label> 
                      <div class="invalid-feedback" *ngIf="bankForm.get('FoodSafetyCertificateNumber').hasError('required')"> Food Safety Certificate NUmber  {{'Register.required' | translate}}.</div>
      
                  </span>         
                </div>
            </div>
         

          <div class="col-lg-12 text-center ellipsis-wizard">
              <ul class="list-inline">
                <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
                <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
                <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
                <li class="list-inline-item"><div class="ellipsis-light"></div></li>
            
              </ul>
            </div>
            
            <div class="col-lg-12 text-center" >
              <div class="form-group">
                <button type="submit" class="btn-blue">Next</button>
                </div>
            </div>
          </div>
      </form>
  </div>

  <div class="container max-800" [hidden]="!step4">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="introductory-title">Now you are a seller at Seafood Souq</h1>
              <p class="fill-company">Fill in your bank information to complete your profile.</p>
            </div>
      </div>

      <form [formGroup]="legalForm" (submit)="register()">
          <div class="row">
              <div class="col-lg-6">
                  <div class="form-group input-group">
                      <span class="has-float-label">    
                        <input id="iban" type="text" class="form-control" placeholder="Corporate Bank Account Number IBAN " formControlName="CorporateBankAccountNumber" [ngClass]="{'is-invalid':legalForm.get('CorporateBankAccountNumber').invalid && legalForm.get('CorporateBankAccountNumber').touched}">
                        <label for="iban">Corporate Bank Account Number IBAN </label> 
                        <div class="invalid-feedback" *ngIf="legalForm.get('CorporateBankAccountNumber').hasError('required')"> Corporate Bank Account Number IBAN  {{'Register.required' | translate}}.</div>
        
                    </span>         
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="form-group input-group">
                      <span class="has-float-label">    
                        <input id="swift" type="text" class="form-control" placeholder="Swift Code " formControlName="swiftCode" [ngClass]="{'is-invalid':legalForm.get('swiftCode').invalid && legalForm.get('swiftCode').touched}">
                        <label for="swift">Swift Code (Optional)</label> 
                        <div class="invalid-feedback" *ngIf="legalForm.get('swiftCode').hasError('required')"> Swift Code  {{'Register.required' | translate}}.</div>
        
                    </span>         
                  </div>
              </div>

              <div class="col-lg-3">  
                  <div class="form-group input-group">
                      <span class="has-float-label">
                          <select id="currency" class="form-control" formControlName="CurrencyofTrade"  [ngClass]="{'is-invalid':legalForm.get('CurrencyofTrade').invalid && legalForm.get('CurrencyofTrade').touched}">
                              <option value="USD">USD</option>   
                            </select> 
                          <label for="currency">Currency of Trade</label>
                          <div class="invalid-feedback" *ngIf="legalForm.get('CurrencyofTrade').hasError('required')">Currency of Trade is required.</div>

                      </span>
                  
                  </div>
                </div>

                <div class="col-lg-12 text-center ellipsis-wizard">
                    <ul class="list-inline">
                      <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
                      <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
                      <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
                      <li class="list-inline-item"><div class="ellipsis-dark"></div></li>
                  
                    </ul>
                  </div>
                  
                  <div class="col-lg-12 text-center" >
                    <div class="form-group">
                      <button type="submit" class="btn-blue" [disabled]="isValid">
                          <fa name="spinner" animation="spin" [hidden]="!isValid"></fa>
                            {{btnText}}
                          </button>
                      </div>
                  </div>
          </div>
      </form>
  </div>

</div>

  <div class="container-confirmation" *ngIf="!showConfirmation">
      <div class="content">
        <h1>{{'Register.message' | translate}}</h1>
        <a routerLink="/"><h2>{{'Register.submessage' | translate}}</h2></a>
      </div>
     </div> 