<div class="container" >
	<div class="row" *ngIf="showLoading; else product">
		<div class="col-12">
			<img src="../../assets/loader.gif" alt="" />
		</div>
	</div>
	<ng-template #product>
		<div class="row" *ngIf="showProduct; else noProduct">
		    <div class="col-12 table-design">
		    	<h3 class="black-title">{{'Recent.title' | translate}}</h3>
		    	<div class="row row-bg" *ngFor="let item of firstNoShipped; let i=index">
		    		<div class="col-lg-10 col-md-8 col-sm-7">
		    			<h2 class="name">
			    			{{item.shoppingCart.buyer.firstName}} {{item.shoppingCart.buyer.lastName}}
			    		</h2>
						<div class="date">  {{item.shoppingCart.updatedAt | date: 'EEEE, MMMM d, y, hh:mm a zzzz'}} </div>
						<!--<div class="date">  {{ dates[i]} </div>-->
						<a class="product" routerLink="/product/{{item.fish.id}}">{{item.fish.name}}</a>
						<div class="status" *ngIf="item.status">  {{item.status.status}} </div>
		    		</div>
		    		<div class="col-lg-2 col-md-4 col-sm-5 btn-cont">
					
		    			<a routerLink="/order-purchase/{{item.id}}" class="pink-btn">{{'Recent.view' | translate}}</a>
		    		</div>
		    	</div>
		    </div>
		    <div class="col-12 table-design">
		    	<div *ngIf="showMoreNoShipped">
			        <span class="see-more" (click)="getAllNoShipped()">{{'SingleStore.more' | translate}}</span>
		      	</div>
		        <div *ngIf="showLessNoShipped">
		        	<span class="see-less" (click)="getFirstNoShipped()">{{'SingleStore.less' | translate}}</span>
		      	</div>
		    </div>
		</div>
		<ng-template #noProduct>
			<div class="row">
				<div class="col-12">
					<h4 class="black-title">{{'Recent.no-product' | translate}}</h4>
				</div>
			</div>
		</ng-template>
		<div class="row" *ngIf="showShipped; else noShipped">
			<div class="col-12">
		    	<h3 class="black-title">{{'Recent.title2' | translate}}</h3>
		    </div>
		    <div class="col-12 table-design">
		    	<div class="row row-bg" *ngFor="let shipped of firstShipped; let i=index">
		    		<div class="col-lg-10 col-md-8 col-sm-7">
		    			<h2 class="name">
			    			{{shipped.shoppingCart.buyer.firstName}} {{shipped.shoppingCart.buyer.lastName}}
			    		</h2>
		    			<div class="date">{{datesShipping[i]}}</div>
		    			<a class="product" routerLink="/product/{{shipped.fish.id}}">{{shipped.fish.name}}</a>
		    		</div>
		    		<div class="col-lg-2 col-md-4 col-sm-5 btn-cont">
		    			<a routerLink="/order-purchase/{{shipped.id}}" class="pink-btn">{{'Recent.view' | translate}}</a>
		    		</div>
			    </div>
		    </div>
		    <div class="col-12 table-design">
		    	<div *ngIf="showMore">
			        <span class="see-more" (click)="getAllPurchases()">{{'SingleStore.more' | translate}}</span>
		      	</div>
		        <div *ngIf="showLess">
		        	<span class="see-less" (click)="getFirstPurchases()">{{'SingleStore.less' | translate}}</span>
		      	</div>
		    </div>
		</div>
		<ng-template #noShipped>
		   	<div class="col"><h4 class="black-title">{{'Recent.no-shipped' | translate}}</h4></div>
		</ng-template>
	</ng-template>
</div>