<div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="black-title">{{'ManageOrders.title' | translate}}</h2>
      </div>
    </div>
    <form (ngSubmit)="saveData()" class="form-design" [formGroup]="myform">
     <div class="row">
        <div class="col-md-6">
            <div class="form-group" >
                <label>Trimming Type</label>
                <select class="form-control" name="status" formControlName="trimmingType" [ngClass]="{'is-invalid':myform.get('trimmingType').invalid && myform.get('trimmingType').touched}">
                    <option *ngFor="let type of types;"  value="{{type.id}}"> {{type.name}}</option>     
                </select>
                <div class="invalid-feedback" *ngIf="myform.get('trimmingType').hasError('required')">this data is required.</div>
          </div>
      	</div>
      	<div class="col-md-6">
            <div class="form-group" >
                <label>Processing Parts</label>
                <select class="form-control" name="status" formControlName="processingParts" [ngClass]="{'is-invalid':myform.get('processingParts').invalid && myform.get('processingParts').touched}">
                    <option *ngFor="let part of parts;"  value="{{part.id}}"> {{part.name}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="myform.get('processingParts').hasError('required')">this data is required.</div>
          </div>
      	</div>
      	<div class="col-md-12">
            <button type="submit" class="btn btn-red" [disabled]="!myform.valid">Save</button>
        </div>
    </div>
    </form>
</div>