.container{
	padding: 50px 0 ;
}
.types{
	font-size: 2rem;
}
.parts{
	font-size: 12px;
    color: black;
    letter-spacing: 1px;
}
.checkboxes{
	text-align: center;
	padding-top: 10px;
	input{
		height: 20px;
		width: 20px;
	}
}