<div class="container" *ngIf="isInfo; else noInfo">
	<div class="row">
		<div class="col-12 text-center" *ngIf="showLoading"><img src="../../assets/loader.gif" alt=""></div>
		<div class="col-12">
			<h3 class="black-title">{{'VerifyUser.title' | translate}}</h3>
		</div>
		<div class="col-12 table-design">
			<div class="row row-bg" *ngFor="let user of users; let i=index">
				<div class="col-lg-12">
					<h2 class="name">
						{{user.firstName}} 
						<!-- {{user.lastName}} {{user.role===1?'seller':user.role===2?'buyer':'admin'}} -->
						<img src="../../assets/trash-icon.png" alt="" (click)="showConfirmModal(user.id)" class="delete">
						<fa name="check" class="edit" (click)="confirmModal(user.id)"></fa>
						<fa name="eye" class="edit" (click)="popUp(i)"></fa>
					</h2>
					<div class="product">
						{{user.email}}
						<hr class="black-line">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ng-template #noInfo>
	<div class="container">
		<div class="row">
			<div class="col">
				<h5>{{'VerifyUser.noInfo' | translate}}<a
						routerLink="/">{{'VerifyUser.click' | translate}}</a>{{'VerifyUser.message' | translate}}</h5>
			</div>
		</div>
	</div>
</ng-template>

<div class="modal fade" id="popUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">User Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" *ngIf="showPopup">
				<div class="row">
					<div class="col" *ngIf="singleUser.role==2">
						<h5 style="font-family: 'Roboto', sans-serif; text-align: left;font-size: 1.2rem">User</h5>
						<hr class="black-line">
						<b>First Name: </b>{{singleUser.firstName}} <br>
						<b>Last Name: </b>{{singleUser.lastName}} <br>
						<b>Email: </b>{{singleUser.email}} <br>
						<b>Role: </b>{{getRole(singleUser.role)}} <br>
						<b>Location: </b>{{singleUser.dataExtra.country}},{{singleUser.dataExtra.City}},
						{{singleUser.dataExtra.Address}} <br>
						<b>Tel: </b>{{singleUser.dataExtra.tel}} <br>
						<b>Company Name: </b>{{singleUser.dataExtra.companyName}} <br>
						<b>Type of Business:</b> {{singleUser.dataExtra.TypeBusiness!==undefined?singleUser.dataExtra.TypeBusiness:singleUser.dataExtra.typeBusiness}}<br>
						<b>Submitted at: </b>{{singleUser.createdAt  | date: 'yyyy-MM-dd'}} 
					</div>
					<div class="col" *ngIf="singleUser.role==1">
						<h5 style="font-family: 'Roboto', sans-serif; text-align: left;font-size: 1.2rem">User</h5>
						<hr class="black-line">
						<b>First Name: </b>{{singleUser.firstName}} <br>
						<b>Last Name: </b>{{singleUser.lastName}} <br>
						<b>Email: </b>{{singleUser.email}} <br>
						<b>Role: </b>{{getRole(singleUser.role)}} <br>
						<b>Tel: </b>{{singleUser.dataExtra.tel}} <br>
						<h5 style="font-family: 'Roboto', sans-serif; text-align: left;font-size: 1.2rem;margin-top: 10px;">Store
						</h5>
						<hr class="black-line">
						<b>Company name: </b>{{singleUser.dataExtra.companyName}} <br>
						<b>Trade/Brand Name: </b>{{singleUser.dataExtra.trade}} <br>
						<b>Company Type: </b>{{singleUser.dataExtra.companyType}} <br>
						<b>Country: </b>{{singleUser.dataExtra.country}} <br>
						<b>Address: </b>{{singleUser.dataExtra.Address}} <br>
						<b>City: </b>{{singleUser.dataExtra.City}} <br>
						<b>Trade License Number (Registration): </b>{{singleUser.dataExtra.licenseNumber}} <br>
						<b>Food Safety Certificate Number (ISO): </b>{{singleUser.dataExtra.iso}} <br>
						<b>Corporate Bank Account Number IBAN: </b>{{singleUser.dataExtra.iban}} <br>
						<b>Swift Code: </b>{{singleUser.dataExtra.swiftCode}} <br>
						<b>Currency of Trade: </b>{{singleUser.dataExtra.currencyTrade}} <br>
						<b>Contact Number: </b>{{singleUser.dataExtra.contactNumber}} <br>
						<b>Products Interested in Selling: </b>{{singleUser.dataExtra.productsIntered}}<br>
						<b>Submitted at: </b>{{singleUser.createdAt  | date: 'yyyy-MM-dd'}} 
					</div>
					<div class="col" *ngIf="singleUser.role==0">
						<b>First Name: </b>{{singleUser.firstName}} <br>
						<b>Last Name: </b>{{singleUser.lastName}} <br>
						<b>Email: </b>{{singleUser.email}} <br>
						<b>Role: </b>{{getRole(singleUser.role)}} <br>
						<b>Tel: </b>{{singleUser.dataExtra.tel}} <br>
						<b>Address: </b>{{singleUser.dataExtra.Address}} <br>
						<b>City: </b>{{singleUser.dataExtra.City}} <br>
						<b>Company Name: </b>{{singleUser.dataExtra.companyName}} <br>
						<b>Country: </b>{{singleUser.dataExtra.country}} <br>
						<b>Type of Business: </b>{{singleUser.dataExtra.TypeBusiness}} <br>
						<b>Submitted at: </b>{{singleUser.createdAt  | date: 'yyyy-MM-dd'}} 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deniedUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Denie User</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<!--<h5 style="font-family: 'Roboto', sans-serif; text-align: left;font-size: 1.2rem">User</h5>-->
						<hr class="black-line">
						<form novalidate [formGroup]="deniedUser" class="form-design">

							<div class="form-group">
								<label>{{'VerifyUser.reasonType' | translate}}</label>
								<select id="type" class="form-control" formControlName="denialType">
									<option value="1">Contact in the Future</option>
									<option value="2">Never Contact Again</option>
								</select>
							</div>

							<div class="form-group">
								<label>{{'VerifyUser.reason' | translate}}</label>
								<textarea class="form-control" formControlName="denialMessage"></textarea>
							</div>



							<button type="button" (click)="refuse()" class="btn-red">Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="text-align: center;">Are you sure? </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<button (click)="confirm(true)" class="blue-btn">Yes</button>
						<button (click)="confirm(false)" class="blue-btn-light">No</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>