<div class="container" *ngIf="isInfo; else noInfo">
	<div class="row">
		<div class="col-12" *ngIf="showLoading"><img src="../../assets/loader.gif" alt=""></div>
		<div class="col-12"><h3 class="black-title">{{'VerifyUser.title' | translate}}</h3></div>
		<div class="col-12 table-design">
	        <div class="row row-bg" *ngFor="let user of users; let i=index">
	          <div class="col-lg-12">
	            <h2 class="name">
	              {{user.firstName}} {{user.lastName}}
	              <img src="../../assets/trash-icon.png" alt="" (click)="refuse(user.id)" class="delete">
	              <fa name="check" class="edit" (click)="accept(user.id)"></fa>
	              <fa name="eye" class="edit" (click)="popUp(i)"></fa>
	            </h2>
	            <div class="product">
	            	{{user.email}}
	            	<hr class="black-line">
	            </div>
	          </div>
	        </div>
	    </div>
	</div>
</div>
<ng-template #noInfo>
	<div class="container">
		<div class="row">
			<div class="col">
				<h5>{{'VerifyUser.noInfo' | translate}}<a routerLink="/">{{'VerifyUser.click' | translate}}</a>{{'VerifyUser.message' | translate}}</h5>
			</div>
		</div>
	</div>
</ng-template>
<div class="modal fade" id="popUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">User Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" *ngIf="showPopup">
				<div class="row">
					<div class="col" *ngIf="singleUser.role==2">
						<h5 style="font-family: 'Roboto', sans-serif; text-align: left;font-size: 1.2rem">User</h5>
						<hr class="black-line">
						<b>Name: </b>{{singleUser.firstName}} <br>
						<b>LastName: </b>{{singleUser.lastName}} <br>
						<b>Email: </b>{{singleUser.email}} <br>
						<b>Role: </b>{{getRole(singleUser.role)}} <br>
						<b>Location: </b>{{singleUser.dataExtra.country}},{{singleUser.dataExtra.City}}, {{singleUser.dataExtra.Address}} <br>
						<b>Tel: </b>{{singleUser.dataExtra.tel}} <br>
						<b>ZipCode: </b>{{singleUser.dataExtra.zipCode}} <br>
						<h5 style="font-family: 'Roboto', sans-serif; text-align: left;font-size: 1.2rem; margin-top: 10px;">Company</h5>
						<hr class="black-line">
						<b>Company Name: </b>{{singleUser.dataExtra.companyName}} <br>
						<b>Company Email: </b>{{singleUser.dataExtra.companyEmail}} <br>
						<b>Company Tel: </b>{{singleUser.dataExtra.companyTel}} <br>
						<b>Delivery Address: </b>{{singleUser.dataExtra.deliveryAddress}} <br>
						<b>Designation: </b>{{singleUser.dataExtra.designation}} <br>
					</div>
					<div class="col" *ngIf="singleUser.role==1">
						<b>Name: </b>{{singleUser.firstName}} <br>
						<b>LastName: </b>{{singleUser.lastName}} <br>
						<b>Email: </b>{{singleUser.email}} <br>
						<b>Role: </b>{{getRole(singleUser.role)}} <br>
						<b>Tel: </b>{{singleUser.dataExtra.tel}} <br>
						<b>Designation: </b>{{singleUser.dataExtra.designation}} <br>
					</div>
					<div class="col" *ngIf="singleUser.role==0">
						<b>Name: </b>{{singleUser.firstName}} <br>
						<b>LastName: </b>{{singleUser.lastName}} <br>
						<b>Email: </b>{{singleUser.email}} <br>
						<b>Role: </b>{{getRole(singleUser.role)}} <br>
						<b>Tel: </b>{{singleUser.dataExtra.tel}} <br>
						<b>Country: </b>{{singleUser.dataExtra.country}} <br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>