<div class="gray-bg">
  <div class="page-header seafood FormContainer" id="hero">
    <div class="container-fluid">
      <div class="row login-nav-logo">
        <div class="col-lg-4 text-left">
          <a routerLink="/"><img src="../../../assets/svg/marketplace-blue.svg" alt="Logo" class="logo"></a> 
        </div>
        <div class="col-lg-8 text-right">
          <a class="nav-link" routerLink="/login" style="display: initial;">Login</a>
        </div>
      </div>
    </div>
  <div class="content">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="introductory-title"><span>Don’t worry, we got you covered</span> </h1>
      </div>
    </div>
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
    
      <div class="form-group input-group">
          <span class="has-float-label">

        <input id="email" #emailInput type="email" class="form-control" placeholder="Your Email" formControlName="email" [ngClass]="{'is-invalid':forgotForm.get('email').invalid && forgotForm.get('email').touched}">
        <label for="email">{{'Login.email' | translate}}</label>
        <div class="invalid-feedback text-left" *ngIf="forgotForm.get('email').hasError('required')">{{'Login.email' | translate}} {{'Login.required' | translate}}.</div>
        <div class="invalid-feedback text-left" *ngIf="forgotForm.get('email').hasError('email') && !forgotForm.get('email').hasError('required')">{{'Login.invalid' | translate}} {{'Login.email' | translate}}</div>	
        </span>
   
      </div>
     
      <div class="form-group">
        <input type="submit" class="btn-blue" value="Send password" [disabled]="forgotForm.invalid">
      </div>
    </form>
   
  </div>
</div>  
</div>
   
  