
<div class="filter-container">
  <div class="filter-header">
      <div class="container-fluid">
          <ng-template #customLoadingTemplate>
              <div class="row">
                <div class="wave-loader" style="background-color: #F9FCFF; z-index: 999999; height: 100px; position:fixed;">
                  <div class="wave-loading"></div>
                </div>
                
              </div>
            </ng-template> 
            <ngx-loading [show]="loading" [config]="{ fullScreenBackdrop: true, backdropBackgroundColour: 'transparent'}" [template]="customLoadingTemplate">
            </ngx-loading>
        <div class="row">
          <div class="col-md-10">
            <h2>FILTER <span *ngIf="!showClear">YOUR SEARCH</span> </h2>
            <ul class="list-inlint filter-pills" [hidden]="!showClear">
              <li class="list-inline-item" id="pill-category">
                <button (click)="destroyPillCat()"><span>{{tmpCatName}}</span>  <img src="../../assets/svg/close-white.svg" alt=""></button>
              </li>
              <li class="list-inline-item" id="pill-subcategory">
                <button (click)="destroyPillSubat()"><span>{{tmpSubcat}}</span>  <img src="../../assets/svg/close-white.svg" alt=""></button>
              </li>
              <li class="list-inline-item" id="pill-specie">
                <button (click)="destroyPillSpecie()"><span>{{tmpSpecie}}</span>  <img src="../../assets/svg/close-white.svg" alt=""></button>
              </li>
              <li class="list-inline-item" id="pill-variant">
                <button (click)="destroyPillVariant()"><span>{{tmpVariant}}</span>  <img src="../../assets/svg/close-white.svg" alt=""></button>
              </li>
              
              <li class="list-inline-item" id="pill-country">
                <button (click)="destroyPillRadio('country')"><span>Country</span>  <img src="../../assets/svg/close-white.svg" alt=""></button>
              </li>
              <li class="list-inline-item" id="pill-preparation">
                <button (click)="destroyCheckboxPill('preparation')"><span>preparation</span>  <img src="../../assets/svg/close-white.svg" alt=""></button>
              </li>
              <li class="list-inline-item" id="pill-treatment">
                <button (click)="destroyCheckboxPill('treatment')"><span>treatment</span>  <img src="../../assets/svg/close-white.svg" alt=""></button>
              </li>
              <li class="list-inline-item" id="pill-raised">
                <button (click)="destroyCheckboxPill('raised')"><span>raised</span>  <img src="../../assets/svg/close-white.svg" alt=""></button>
              </li>
            </ul>
          </div>
          <div class="col-md-2 text-right">
            <button *ngIf="showClear" class="clear-btn" (click)="clear()">CLEAR ALL</button>
            <button [hidden]="!showIcon" class="expandible-link" type="button" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
                <img  alt="">
            </button>
          </div>
        </div>
      </div>
  </div>

  <div class="filter-content collapse" id="filterCollapse2">
    <div class="container second-collapse-container">
      <div class="row">
        <div class="col-md-3 filter-col">
          <h4>ORDER AMOUNT (KG)</h4>
          <div class="form-group">
            <form class="form-number">
              <input [disabled]="disabledInputs" type="number" placeholder="Min..." id="minAmount">
              <label>to</label>
              <input [disabled]="disabledInputs" type="number" placeholder="Max..." id="maxAmount">
            </form>
          </div>
        </div>
        <div class="col-md-3 filter-col">
          <div class="form-group">
              <form class="check-form">
                  <input [disabled]="disabledInputs" type="checkbox" id="cooming">
                  <label for="cooming">UPCOMING</label>
                </form>
          </div>
         
        </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn-transparent" (click)="showLess()">
                <img src="../../assets/svg/arrow-up.svg" alt="">
               LESS FILTERS
            </button>
          </div>
        </div>
    </div>
  </div>
  <div class="filter-content collapse show" id="filterCollapse">
    <div class="container">
      <div class="row">
        <div class="col filter-col" [hidden]="hideCat">
            <h4>CATEGORY</h4>
            <div class="form-group scroll-div">
                <div *ngFor="let category of searchCategories; let i=index" class="custom-list">
                    <input [disabled]="disabledInputs"  type="radio"  name="cat" id="{{category.id}}" [value]="category.id">
                    <label  for="{{category.id}}">{{category.name}}</label>
                </div>
            </div>
        </div>
        <div class="col filter-col" [hidden]="hideSubcat">
            <h4>SUB CATEGORY</h4>
            <div class="form-group scroll-div">
                <div *ngFor="let category of searchSubcategories; let i=index" class="custom-list">
                    <input [disabled]="disabledInputs"  type="radio"  name="subcat" id="{{category.id}}" [value]="category.id">
                    <label  for="{{category.id}}">{{category.name}}</label>
                </div>
            </div>
        </div>
        <div class="col filter-col " [hidden]="hideSpecie">
            <h4>SUBSPECIES</h4>
            <div class="form-group scroll-div">
                <div *ngFor="let category of searchSubSpecie; let i=index" class="custom-list">
                    <input  [disabled]="disabledInputs" type="radio"  name="specie" id="{{category.id}}" [value]="category.id">
                    <label  for="{{category.id}}">{{category.name}}</label>
                </div>
            </div>
        </div>
        <div class="col filter-col" [hidden]="hideVariant">
            <h4>VARIANT</h4>
            <div class="form-group scroll-div">
                <div *ngFor="let category of searchDescriptor; let i=index" class="custom-list">
                    <input [disabled]="disabledInputs" type="radio"  name="variant" id="{{category.id}}" [value]="category.id">
                    <label  for="{{category.id}}">{{category.name}}</label>
                </div>
            </div>
        </div>
        <div class="col filter-col">
            <h4>COUNTRY</h4>
            <div class="form-group scroll-div">
                <input *ngIf="filteredItems.length > 3"  #myInput type="text" class="type-input" placeholder="Type..." [(ngModel)]="name" (input)="filterItem(myInput.value)">
                <div *ngFor="let country of filteredItems; let i=index" class="custom-list">
                    <input [disabled]="disabledInputs" *ngIf="i<5" type="radio"  name="country" id="{{country.code}}" [value]="country.code">
                    <label *ngIf="i<5" for="{{country.code}}">{{country.name}}</label>
                </div>
            </div>
            
        </div>
        <div class="col filter-col">
          <h4>PREPARATION</h4>
          <div class="form-group scroll-div">
            <div class="custom-list" *ngFor="let item of preparataion">
              <input [disabled]="disabledInputs" type="checkbox" [id]="item.id" class="input-preparation" name="preparation[]" [value]="item.id" >
              <label for="{{item.id}}">{{item.name}}</label>
            </div>
          </div>
        </div>
        <div class="col filter-col">
            <h4>TREATMENT</h4>
            <div class="form-group scroll-div">
              <div class="custom-list" *ngFor="let item of treatment">
                <input [disabled]="disabledInputs" type="checkbox" class="input-treatment" [id]="item.id" name="treatment[]" [value]="item.id" >
                <label for="{{item.id}}">{{item.name}}</label>
              </div>         
            </div>
          </div>

          <div class="col filter-col">
              <h4>RAISED</h4>
              <div class="form-group scroll-div">
                <div class="custom-list" *ngFor="let item of raised">
                  <input [disabled]="disabledInputs" type="checkbox" class="input-raised" [id]="item.id" name="raised[]" [value]="item.id" >
                  <label for="{{item.id}}">{{item.name}}</label>
                </div>
               
              </div>
            </div>

            <div class="col filter-col">
              <h4>PRICE / KG</h4>
              <input type="hidden" id="minPriceValue" name="priceValue">
              <input type="hidden" id="maxPriceValue" name="priceValue">
              <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChangeEnd)="onUserChangeEnd($event)"></ng5-slider>

            </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn-transparent" (click)="showMore()">
              <img src="../../assets/svg/arrow-down.svg" alt="">
              MORE FILTERS
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gray-bg">
    <div class="container-fluid">
      <div class="row" style="position: relative; min-height: 50vh;" id="products-container">
              <div class="wave-loader" *ngIf="showLoading">
                  <div class="wave-loading"></div>
                </div>
            <div class="col-lg-12 not-found-row" *ngIf="showNotFound" style="padding-top: 30px">
              <div style="width: 100%; text-align:center;">
                  <h1 class="notfound">BASED ON YOUR SEARCH, NO PRODUCTS WERE FOUND</h1>
                  <button (click)="clear()">Clear filter</button>
              </div>
              
            </div>

          <div  *ngFor="let product of products; let i=index" class="col-xl-4 col-lg-4 col-md-6 coming-{{product.cooming_soon}} {{product.type}} {{removeSpaces(product.country)}} {{i}} {{product.variation.id }} {{product.id}} category-{{product.type}} {{product.variation.max}} {{product.variation.min}} {{product.perBox}} {{product.minBox}} {{product.maxBox}}">
              <div class="single-product-box">
                  <div class="product-header">
                   <div class="row">
                     <div class="col-md-10">
                     
                       
                        <form *ngIf="!product.outOfStock || (getFixedNumber(product.variation.max) !== 0 && product.perBox !== true ) || ( product.perBox == true && getFixedNumber(product.maxBox) !== 0 )">
                            <span *ngIf="product.perBox != true"  class="amount-span"style="margin-right: 5px;">min <br> {{getFixedNumber(product.variation.min)}}</span>
                            <span *ngIf="product.perBox == true"  class="amount-span"style="margin-right: 5px;">min <br> {{getFixedNumber(product.minBox)}}</span>
                            <div class="my-input-container">
                              <input *ngIf="product.perBox != true" type="number" id="amount-{{product.variation.id}}" placeholder="enter weight..." class="qty-number" (input)="handleInput($event, product.variation.max, product.variation.min, product.variation.id, product.type)" (change)="manualInput(product.variation.max, product.variation.min, product.variation.id, product.type)" (keydown.enter)="manualInput(product.variation.max, product.variation.min, product.variation.id, product.type)">
                              <input *ngIf="product.perBox == true" type="number" id="amount-{{product.variation.id}}" placeholder="enter boxes..." class="qty-number" (input)="handleInput($event, product.maxBox, product.minBox, product.variation.id, product.type)" (change)="manualInput(product.maxBox, product.minBox, product.variation.id, product.type)" (keydown.enter)="manualInput(product.maxBox, product.minBox, product.variation.id, product.type)">
                              <span class="suffix" [hidden]="isVacio('amount-'+product.variation.id, product.variation.id+ '-suffix')" [id]="product.variation.id+ '-suffix'">{{product.perBox == true ? 'boxes' : 'kg'}}</span>
                            </div>
                            <span *ngIf="product.perBox != true"  class="amount-span" style="margin-left: 5px;">max <br> {{getFixedNumber(product.variation.max)}}</span>
                            <span *ngIf="product.perBox == true"  class="amount-span" style="margin-left: 5px;">max <br> {{getFixedNumber(product.maxBox)}}</span>
                            <label id="delivere-price-{{product.variation.id}}"><span>(delivered/kg)</span> AED 12.99</label>
                        </form>
                        <div *ngIf="product.outOfStock || (getFixedNumber(product.variation.max) == 0 && product.perBox !== true ) || ( product.perBox == true && getFixedNumber(product.maxBox) == 0 )" > <h4>Out of Stock</h4></div>
                      </div>
                     <div class="col-md-2 text-right">
                       <a id="btn-add-{{product.variation.id}}" [ngClass]="isDisabled == true ? 'btn-add-disable' : 'btn-add-enable'"  (click)="addToCart(product)"><img src="../../assets/svg/cart-arrow-down.svg" alt=""></a> 
                     </div>
                   </div>
                  </div>
                  <div class="product-body">
                    <a *ngIf="!isChange[product.id].status" routerLink="/product/{{product.id}}/{{product.variation.min}}/{{getIdVarian(product)}}/{{product.variation.id}}" class="image-link-holder">
                      <div class="product-single-img" [style.background-image]="image[i]">
                        <div class="product-overlay"></div>
                        <h2 class="product-view-details">VIEW DETAILS</h2>                      
                     </div>
                    </a>
                    <a *ngIf="isChange[product.id].status" routerLink="/product/{{product.id}}/{{isChange[product.id].kg}}/{{getIdVarian(product)}}/{{product.variation.id}}" class="image-link-holder">
                      <div class="product-single-img" [style.background-image]="image[i]">
                        <div class="product-overlay"></div>
                        <h2 class="product-view-details">VIEW DETAILS</h2>                      
                     </div>
                    </a>
                  </div>
                  <div class="product-footer">
                    <h4>{{product.name}} <span *ngIf="product.variation.fishPreparation != null">-</span> {{product?.variation?.fishPreparation?.name}} <span *ngIf="product.variation.wholeFishWeight != null">-</span> {{product?.variation?.wholeFishWeight?.name}}
                      <span *ngIf="product.perBox == true"> - (1 box = {{product.boxWeight}} kg)</span></h4>
                    <h5 id="product-price-{{product.variation.id}}"></h5>
                  </div>
              </div>
          </div>
      </div>
       
    </div>
</div>

<div class="cart-window">
  <div class="container-fluid">
   
      <div class="cart-header">
          <div class="row">
            <div class="col-md-8">
                <h2>MY CART <span *ngIf="productsCart.length > 0">({{productsCart.length}})</span></h2>
            </div>
            <div class="col-md-4 text-right">
                <button (click)="closeCart()" class="main-close">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
                </button>
            </div>
            </div>
      </div>
      <div class="cart-body" >
        <div   *ngFor="let product of productsCart; let i=index" class="row cart-item test-class coming-{{product.cooming_soon}} {{product?.fish?.type?.id}} {{removeSpaces(product?.fish?.country)}} {{i}} {{product.variation }} {{product.fish?.id}} category-{{product?.fish?.type?.id}} {{product.fish.maximumOrder}} {{product.fish.minimumOrder}} {{product.fish.perBox}} {{product.fish.minBox}} {{product.fish.maxBox}}">
            <div class="col-md-4">
              <div class="bg-img"   [style.background-image]="imageCart[i]"></div>
            </div>
            <div class="col-md-6">
              <h4>{{product?.fish?.name}} - {{product?.fishPreparation[0]?.name}} <span *ngIf="product?.fishPreparation[0]?.id === '5c93bff065e25a011eefbcc2'">- {{product?.wholeFishWeight[0]?.name}} </span></h4>
              <div class="cart-slide-range">
                  <form>
                      <span *ngIf="product.fish?.perBox == true"  class="amount-span" style="margin-right: 5px;">min <br> {{product.fish?.minBox}}</span>
                      <span *ngIf="product.fish?.perBox != true"  class="amount-span" style="margin-right: 5px;">min <br> {{product.fish.minimumOrder}}</span>
                      <input *ngIf="product.fish?.perBox != true" disabled   id="cart-amount-{{product.variation}}" type="number" class="qty-number" value="{{product?.quantity?.value}}" (change)="manualInputCart(product.fish.maximumOrder, product.fish.minimumOrder, product.variation, product.fish.type.id, product.fish, product.fish.boxWeight)">
                      <input *ngIf="product.fish?.perBox == true"  disabled id="cart-amount-{{product.variation}}" type="number" class="qty-number" value="{{product?.quantity?.value / product.fish?.boxWeight}}" (change)="manualInputCart(product.fish.maxBox, product.fish.minBox, product.variation, product.fish.type.id, product.fish, product.fish.boxWeight)">
                      <span *ngIf="product.fish?.perBox != true"  class="amount-span" style="margin-left: 5px;">max <br> {{product.inventory?.quantity}}</span>
                      <span *ngIf="product.fish?.perBox == true"  class="amount-span" style="margin-left: 5px;">max <br> {{product.inventory?.quantity}}</span>
                      <label id="cart-delivere-price-{{product.variation}}">{{getTotalxItem(product.quantity.value, product.fishCharges.variation.price) | currency: 'AED'}}</label>
                  </form>
              </div>
            </div>
            <div class="col-md-2 text-right">
              <button (click)="deleteItem(i, product.id)">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
              </button>
            </div>
        </div>
       
      </div>

      <div class="cart-footer">
        <div class="row">
            <div class="col-md-12">
                <h4>SUBTOTAL <span class="cart-price">{{(total) | currency: 'AED'}}</span></h4>
                <h6>Shipping & taxes calculated at checkout</h6>
            </div>
            <div class="col-md-12">
              <button class="btn-cart" (click)="checkout()">checkout</button>
            </div>
            <div class="col-md-6">
              <button (click)="closeCart()" class="btn-transparent">CONTINUE SHOPPING</button>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn-transparent" (click)="goToCart()">VIEW MY CART</button>
              </div>
        </div>
      </div>
  </div>

</div>

<div class="c-mask"></div>

<div class="custom-snackbar" *ngIf="showSnackBar">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2">
              <img src="../../assets/svg/alert-circle-white.svg" alt="">
          </div>
          <div class="col-sm-8 text-center" *ngIf="itemsDeleted.length == 1">
            Your item <strong>{{itemsDeleted[0]['fish']['name']}}</strong>  is no longer available. Please check back later.
          </div>
          <div class="col-sm-8 text-center" *ngIf="itemsDeleted.length > 1">
            Your items <strong *ngFor="let i of itemsDeleted">{{i['fish']['name']}} </strong>  are no longer available. Please check back later.
          </div>
          <div class="col-sm-2 text-right">
            <button class="clear-btn" (click)="closeSnackBar()">OK</button>
          </div>
        </div>
    </div>
</div>


