.gray-bg{
    padding-top: 155px;
    padding-bottom: 155px;
    .container-fluid{
        @media screen  and (min-width: 1450px){
            padding-left: 155px;
            padding-right: 155px;
        }
        a:not([href]):not([tabindex]){
            cursor: pointer;
        }
        .single-product-box{
            max-width: 415px;
            margin: 50px auto;
            .product-header{
              margin-bottom: 10px;
              .row{
                align-items: center;
                flex-wrap: nowrap;
                .col-md-10{
                    width: 80%;
                }
                .col-md-2{
                    width: 20%;
                }
                .qty-kg{
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 100;
                    font-style: italic;
                    font-size: 16px;
                    line-height: 19px;
                    color: #7484AA;
                    cursor: pointer;
                }

                .qty-number{
                    background: none;
                    border: none;
                    margin: 0;
                    padding: 0;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 16px;
                    color: #3E4E75;
                    line-height: 19px;
                    width: auto;
                    height: auto;
                    font-weight: 300;
                    display: none;
                }
               form{
                   label{
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 400;
                    color: #7484AA;
                    font-size: 16px;
                    line-height: 20px;
                    margin: 0;
                    margin-left: 10px;
                    display: none;
                   }
                   
               }
               a{
                   display: none;
               }

              
              }
              h5{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 16px;
                text-transform: uppercase;
                color: #7484AA;
                font-weight: 300;
                letter-spacing: 1.5px;
                line-height: 19px;
                margin: 0;
              }
              img{
                width: 20.16px;
                height: 22px;
              }
            }
            .product-body{
              .product-single-img{
                max-width: 415px;
                height: 335px;
                border-radius: 2px;
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin: 0 auto;
                position: relative;
                .product-overlay{
                  background: rgba(13,19,33,0.13);
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  border-radius: 2px;
                }
               
        
                .product-view-details{
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  display: none;
                  justify-content: center;
                  align-items: center;
                  font-family: 'Josefin Sans', sans-serif;
                  color: #F7F8F9;
                  font-size: 28px;
                  letter-spacing: 1.5px;
                  line-height: 34px;
                  font-weight: 300;
                  z-index: 5;
          
                }
              }
              .image-link-holder{
                transition: all .2s ease-in-out;
              }
              .image-link-holder:hover{
                .product-single-img{
                  .product-view-details{
                    display: flex;
                  }
                  .product-overlay{
                    background: rgba(13,19,33,0.4);
                  }
                  
                }
              }
            }
            .product-footer{
              margin-top: 20px;
              h4{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 21px;
                text-transform: uppercase;
                color: #7484AA;
                font-weight: 300;
                letter-spacing: 1.5px;
                line-height: 25px;
                margin: 0;
                margin-bottom: 10px;
              }
              h5{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 21px;
                line-height: 25px;
                color: #7484AA;
              }
            }
        
        
          }
        
          .single-product-box:hover{
            .product-footer{
              h5{
                color: #3E4E75;
              }
            }
          }

          .coming-true{
            .product-single-img{
              filter:grayscale(100%);
            }
            
            a, button{
              pointer-events: none;
              cursor: default;
              text-decoration: none;
            }
          }
    } 

    input[type=range] {
        height: auto !important;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
        max-width: 135px;
        background: none;
        
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #7484AA;
        background: #7484AA;
        border-radius: 1px;
        border: 0px solid #7484AA;
      }
      input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px #7484AA;
        border: 1px solid #7484AA;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #7484AA;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -8.5px;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background: #2497E3;
      }
      input[type=range]::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #7484AA;
        background: #7484AA;
        border-radius: 1px;
        border: 0px solid #7484AA;
      }
      input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 0px #7484AA;
        border: 1px solid #7484AA;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #7484AA;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      input[type=range]::-ms-fill-lower {
        background: #7484AA;
        border: 0px solid #7484AA;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #7484AA;
      }
      input[type=range]::-ms-fill-upper {
        background: #7484AA;
        border: 0px solid #7484AA;
        border-radius: 2px;
        box-shadow: 0px 0px 0px #7484AA;
      }
      input[type=range]::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px #7484AA;
        border: 1px solid #7484AA;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #7484AA;
        cursor: pointer;
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #7484AA;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #7484AA;
      }
}
