<div class="container">
	<div class="row" *ngIf="showLoading; else product">
		<div class="col-12">
			<img src="../../assets/loader.gif" alt="">
		</div>
	</div>
	<ng-template #product>
		<div class="row" *ngIf="showProduct; else noProduct">
			<div class="col"><h3 class="black-title">{{'OrderPurchase.title' | translate}}</h3></div>
			<div class="col-12 table-design">
				<div class="row row-bg">
		    		<div class="col-lg-10 col-md-8 col-sm-7">
		    			<h2 class="name">
			    			{{item.shoppingCart.buyer.firstName}} {{item.shoppingCart.buyer.lastName}}
			    		</h2>
		    			<div class="date">{{item.shoppingCart.updatedAt | date: 'EEEE, MMMM d, y, hh:mm a zzzz'}}</div>
		    			<label>{{'OrderPurchase.product' | translate}}: </label>
		    			<a class="product" routerLink="/product/{{item.fish.id}}">{{item.fish.name}}</a>
		    			<div class="address" *ngIf="item.shoppingCart.buyer.dataExtra.deliveryAddress && item.shoppingCart.buyer.dataExtra.deliveryAddress !='';else address">
							<label>{{'OrderPurchase.address' | translate}}: </label>
		    				{{item.shoppingCart.buyer.dataExtra.deliveryAddress}}
		    			</div>
	                	<ng-template #address>
	                		<div class="address">
	                			<label>{{'OrderPurchase.address' | translate}}: </label>
	                			{{item.shoppingCart.buyer.dataExtra.Address}}, {{item.shoppingCart.buyer.dataExtra.City}}, {{item.shoppingCart.buyer.dataExtra.zipCode}}, {{item.shoppingCart.buyer.dataExtra.country}}
	                		</div>
	                	</ng-template>
	                	<div class="status" *ngIf="item.status">
	                		<label>{{'OrderPurchase.status' | translate}}: </label>
	                		{{item.status.status}}
	                	</div>
		    		</div>
		    		<div class="col-lg-2 col-md-4 col-sm-5 btn-cont">
		    			<a routerLink="/tracking-code/{{itemId}}" class="pink-btn" *ngIf="item.status.id == '5c017ae247fb07027943a404'">{{'OrderPurchase.shipped' | translate}}</a>
		    		</div>
		    	</div>
			</div>
		    <div class="col-12 tracking" *ngIf="item.shippingStatus=='shipped'">
		    	<h3 class="black-title">{{'OrderPurchase.tracking-title' | translate}}</h3>
		    	<div class="row">
		    		<div class="col-12 table-design">
		    			<div class="row row-bg">
		    				<div class="col-12">
		    					<label>{{'OrderPurchase.tracking-file' | translate}}: </label>
		    					<img src="{{API}}{{item.trackingFile}}" alt="" *ngIf="showTrackingFile;else noImage">
				            	<ng-template #noImage>
				            		{{'OrderPurchase.no-image' | translate}}
				            	</ng-template>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		</div>
		<ng-template #noProduct>
			<div class="row">
				<div class="col-12">
					<h4 class="black-title">{{'OrderPurchase.no-product' | translate}}</h4>
				</div>
			</div>
		</ng-template>
	</ng-template>
</div>