<div class="container">
	<div class="row" *ngIf="showLoading; else product">
		<div class="col-12">
			<img src="../../assets/loader.gif" alt="">
		</div>
	</div>
	<ng-template #product>
		<div class="row" *ngIf="showProduct; else noProduct">
			<div class="col-12 table-cont">
				<h3 class="black-title">{{'OrderPurchase.title' | translate}}</h3><hr class="hr-small">
		    	<table class="table table-striped">
			        <thead>
			          <tr>
			            <th scope="col">{{'OrderPurchase.buyer' | translate}}</th>
			            <th scope="col">{{'OrderPurchase.date' | translate}}</th>
	                	<th scope="col">{{'OrderPurchase.product' | translate}}</th>
	                	<th scope="col">{{'OrderPurchase.address' | translate}}</th>
	                	<th scope="col">{{'OrderPurchase.status' | translate}}</th>
	                	<th scope="col">{{'OrderPurchase.action' | translate}}</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>{{item.shoppingCart.buyer.firstName}} {{item.shoppingCart.buyer.lastName}}</td>
			            <td>{{date}}</td>
	                	<td>{{item.fish.name}}</td>
	                	<td class="address" *ngIf="item.shoppingCart.buyer.dataExtra.deliveryAddress && item.shoppingCart.buyer.dataExtra.deliveryAddress !='';else address">{{item.shoppingCart.buyer.dataExtra.deliveryAddress}}</td>
	                	<ng-template #address>
	                		<td class="address">
	                			{{item.shoppingCart.buyer.dataExtra.Address}}, {{item.shoppingCart.buyer.dataExtra.City}}, {{item.shoppingCart.buyer.dataExtra.zipCode}}, {{item.shoppingCart.buyer.dataExtra.country}}
	                		</td>
	                	</ng-template>
	                	<td>{{item.shippingStatus}}</td>
	                	<td>
	                		<a routerLink="/tracking-code/{{itemId}}" class="black-btn-sm" *ngIf="showButton">{{'OrderPurchase.shipped' | translate}}</a>
	                	</td>
			          </tr>
			        </tbody>
			    </table>
		    </div>
		    <div class="col-12" *ngIf="item.shippingStatus=='shipped'">
		    	<h3 class="black-title">{{'OrderPurchase.tracking-title' | translate}}</h3><hr class="hr-small">
		    	<table class="table table-striped">
			        <thead>
			          	<tr>
				            <th scope="col">{{'OrderPurchase.tracking-code' | translate}}</th>
				            <th scope="col">{{'OrderPurchase.tracking-file' | translate}}</th>
			        	</tr>
			    	</thead>
			    	<tbody>
				        <tr>
				            <td>{{item.trackingID}}</td>
				            <td>
				            	<img src="{{API}}{{item.trackingFile}}" alt="" *ngIf="showTrackingFile;else noImage">
				            	<ng-template #noImage>
				            		{{'OrderPurchase.no-image' | translate}}
				            	</ng-template>
				            </td>
				        </tr>
				    </tbody>
				</table>
		    </div>
		</div>
		<ng-template #noProduct>
			<div class="row">
				<div class="col-12">
					<h4 class="black-title">{{'OrderPurchase.no-product' | translate}}</h4>
				</div>
			</div>
		</ng-template>
	</ng-template>
</div>