<div class="page-header seafoodFormContainer" id="hero">
    <div class="container">
      <div class="row login-nav-logo">
        <div class="col-lg-4 text-left">
          <a routerLink="/"><img src="../../assets/logo-black.svg" alt="Logo" class="logo"></a> 
        </div>
        <div class="col-lg-8 text-right">
          <button routerLink="/login" class="login-btn">Login</button>
        </div>
      </div>
    </div>

  

    <div class="container max-800">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="introductory-title">I am a buyer</h1>
              <a href="#" class="recovery">I am a seller</a>
          </div>
      </div>
      
      <form>
        <div class="row">
          <div class="col-lg-6">
              <div class="form-group input-group">
                  <span class="has-float-label">    
                <input id="first" type="text" class="form-control" placeholder="Your name">
                <label for="first">First Name</label> 
                </span>         
              </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group input-group">
                  <span class="has-float-label">    
                <input id="last" type="text" class="form-control" placeholder="Your last name">
                <label for="last">Last Name</label> 
                </span>         
              </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group input-group">
                  <span class="has-float-label">    
                <input id="email" type="email" class="form-control" placeholder="Your email">
                <label for="email">Email</label> 
                </span>         
              </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group input-group">
                  <span class="has-float-label">    
                <input id="phone" type="tel" class="form-control" placeholder="Your phone number">
                <label for="phone">Phone</label> 
                </span>         
              </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group input-group">
                  <span class="has-float-label">    
                <input id="password" type="password" class="form-control" placeholder="Your password">
                <label for="password">Password</label> 
                </span>         
              </div>
          </div>
          <div class="col-lg-6">
              <div class="form-group input-group">
                  <span class="has-float-label">    
                <input id="repassword" type="password" class="form-control" placeholder="Confirm your password">
                <label for="repassword">Confirm password</label> 
                </span>         
              </div>
          </div>
          <div class="col-lg-12 text-left">
              <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="tcs" >
                  <label class="form-check-label" for="tcs">I agree with <a href="http://seafoodsouq.com/terms.html" target="_blank">Terms and Conditions</a></label>
                </div>
          </div>
          <div class="col-lg-12 text-center" style="margin-top: 50px;">
              <div class="form-group">
                <button type="button" class="btn-blue">Next</button>
                </div>
          </div>
        </div>
      </form>
    </div>
    </div>