.container{
	padding: 100px 15px;
}
.title{
  font-family: 'Old Standard TT', serif;
  text-align:center;
}
#previewImg{
	margin-top:20px;
	max-width: 100%;
}
form{
	width: 60%;
    margin: 0 auto;
}
@media(max-width: 768px){
	form{
		width: 100%;
	}
}