/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT%3A400%2C700&#038;ver=4.9.5');
@import url('https://fonts.googleapis.com/css?family=Arapey%3A400%2C400i&#038;ver=4.9.5');
@import url('https://fonts.googleapis.com/css?family=Montserrat%3A200%2C300%2C400%2C500%2C600&#038;ver=4.9.5');
@import "~ngx-smart-modal/ngx-smart-modal";
@import './assets/br-fontawesome-o-theme.css';

/*menu*/
body {
    overflow-x: hidden;
}
.nav-link{
    color: white !important;
    font-size: 1rem;
    text-transform: uppercase;
}
.nav-language{
  padding-right: 40px;
}
.navbar{
  position:fixed;
  background:#1c1d1dc2 !important;
  width:100%;
  z-index:9;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  .nav-link{
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    cursor: pointer;
    &:hover{
      color: #c0d4d4 !important;
    }
  }
  .active-link{
    color: #c0d4d4 !important;
  }
}
.dropdown-toggle{
  cursor: pointer;
}
.twitter i{
  &:hover{
    color:#1da1f2 !important;
  }
}
.facebook i{
  &:hover{
    color:#4867aa !important;
  }
}
.instagram i{
  &:hover{
    color:#ec6f6f !important;
  }
}
.dropdown-menu{
  top: 98%;
  &:hover{
    display: block;
  }
}
.dropdown{
  &:hover .dropdown-menu{
    display: block;
  }
}
.dropdown-item{
  text-transform: uppercase;
  color: #19465f;
}
.language{
  background: transparent;
  color: white;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 50px;
  padding: 1rem 5px;
  option{
    color: #123345;
  }
}
.lang-cont{
  position: relative;
  &:after {
    content: "\F0D7";
    position: absolute;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    color: white;
    top: 52%;
    transform: translate(0,-48%);
    right: 15px;
    z-index: -1
  }
}
.page-header{
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    height: 400px;
}
.page-header .content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
    padding:0 15px;
}
.hr-small{
    width: 50px;
    margin: 20px auto;
    border-color: #1c1d1d;
}
.black-btn{
    background: #1c1d1d !important;
    color: white;
    cursor: pointer;
    border: 0;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.9rem;
}
.black-btn:hover{
    transition: background-color 0.15s ease-out;
    background-color: #3a3c3c !important;
}
.black-title{
    font-family: 'Old Standard TT', serif;
    font-size: 1.9rem;
    color: #1c1d1d;
    text-align: center;
}
.bg-img-prod{
  background-size: cover !important;
  background-position: center;
  height: 200px;
  width: 100%;
}
.seafoodFormContainer{
  .content{
      max-width: 400px;
      background: rgba(255, 255, 255, 0.5);
      padding: 30px;
  }
  .form-control{
    font-family: "Arapey",serif;
    font-style:oblique
  }
}
.small-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.big-title {
    font-size: 4rem;
    font-family: 'Old Standard TT', serif;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
}
.white-btn {
    display: inline-block;
    color: #000 !important;
    font-family: 'Montserrat', sans-serif;
    background: white;
    text-transform: uppercase;
    padding: 12px 20px;
    font-size: 0.9rem;
    text-decoration: none !important;
}
.white-btn i{
  margin-left:10px
}
/*search */
.search .row{
  margin-top:0
}
.products-section{
  padding:60px 0;
}
.search-result{
  padding: 20px;
  margin-bottom: 60px;
  box-shadow: 2px 5px 20px -4px black;
  height: 100%;
}
.product-result-title{
    color: #19465f;
    font-size: 2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-style: normal;
    font-weight: 300;
    margin-bottom:40px;
}
.img-logo{
  padding-left: 40px;
}
.menu-buyer{
  margin-right: 200px;
}
.search-product-img img{
  width:auto;
  height:auto;
  max-width:100%;
}
.search-product-img a{
    display: block;
    width: 100%;
    height: 100%;
}
.search-product-desc{
  text-align:left;
  color:#19465f;
  padding:0
}
.result {
  padding: 0 5px;
  margin-bottom: 40px;
}
.search-product-img{
  padding:0;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  .btn-overlay{
    position: absolute;
    bottom: 20px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all ease .2s;
  }
  &:hover > .btn-overlay{
    visibility: visible;
    opacity: 1;
    transition: all ease .2s;
  }
}
.products-section a {
    text-decoration: none !important;
}
.search-product-name{
  color:#19465f;
  font-size:1.5rem;
}
.search-price-type{
    font-weight: normal;
    font-size: 1rem;
}
.coming-from{
  font-size: 1.2rem;
  margin-bottom: 10px;
  display: block;
}
.owner{
  margin-bottom: 10px;
}
.view-detail-cont{
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.btn-green {
  background: #123345;
  display: inline-block;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  &:hover{
    background-color: #83b0d1;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    color:white;
    text-decoration: none
  }
}
.search-price{
    font-weight: bold;
    font-size: 1.2rem;
}
.seller-img{
    font-size: .8rem;
    margin-top: 10px;
}
.delete{
  cursor: pointer;
    color: #ec4343;
}
.edit{
  cursor: pointer;
  color:#3838e0
}
/*footer */
footer{
  clear:both
}
.footer {
    font-family: "Arapey",serif;
    color: #1c1d1d;
    line-height: 1.563;
    padding-bottom: 30px;
}
.prefooter{
    background: #f6f6f6;
    padding: 60px 0;
    text-align: center;
}
.prefooter input[type='text']{
    border: 0;
    padding: 10px;
    max-width: 100%;
    font-family:"Arapey",serif;
    font-style:oblique;
    font-size:1.2rem
    
}
.subscribe-form{
  display: inline-block;
    padding: 10px;
    background: white;
}
.black-btn{
    background: #1c1d1d;
    color: white;
    border: 0;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.9rem;
}
.black-btn:hover{
      transition: background-color 0.15s ease-out;
    background-color: #3a3c3c;
}
.show-on-desktop{
  display:none;
}
.footer li {
    list-style: none;
}
.footer a {
    color: #1c1d1d;
    text-decoration: none;
}
.big-hr {
    border-color: #1c1d1d;
    width: 50px;
    margin: 60px auto;
}
.flex-direction-nav{
  display:none !important;
}
.flex-control-thumbs li{
  max-height: 100px !important;
  margin-bottom: 5px;
  overflow: hidden;
}
.loading{
    width: auto;
    height: auto;
    max-width: 100%;
}
.select2{
  max-width: 100% !important;
  min-width: 200px !important;
}
.br-fontawesome-o .br-unit:after{
  color:black !important
}
.br-fontawesome-o .br-selected:after, .br-fontawesome-o .br-fraction:after{
    color: #e6df03 !important
}
@media(max-width: 1110px){
  .img-logo{
    margin-right: 0
  }
}
@media(max-width: 998px){
  .navbar{
    padding: 0.5rem 1rem !important;
  }
  .navbar .nav-link{
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
  }
  .fish-type-menu{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -33px;
    .navbar-nav{
      position: relative !important;
      top: 0 !important
    }
  }
  .bg-img-prod{
    height: 400px;
  }
}
@media(max-width:768px){
  .small-title{
    font-size:0.9rem
  }
  .big-title{
    font-size:3.9rem;
  }
  .hide-on-mobile{
     display:none;
  }
  .show-on-desktop{
    display:inline-block
  }
  .check-icon, .x-icon{
    font-size:14px;
  }
  footer{
    text-align:center;
  }
  .search-product-img{
    margin-bottom:20px;
  }
  .bg-img-prod{
    height: 300px;
  }
}

.slick-prev:before, .slick-next:before{
    color: #123345 !important;
}