/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT%3A400%2C700&#038;ver=4.9.5');
@import url('https://fonts.googleapis.com/css?family=Arapey%3A400%2C400i&#038;ver=4.9.5');
@import url('https://fonts.googleapis.com/css?family=Montserrat%3A200%2C300%2C400%2C500%2C600&#038;ver=4.9.5');

/*menu*/
body {
    overflow-x: hidden;
}
.nav-link{
    color: white !important;
    font-size: 1rem;
    text-transform: uppercase;
}
.navbar-nav{
  padding-right: 40px;
}
.navbar{
  position:fixed;
  background:#1c1d1dc2 !important;
  width:100%;
  z-index:9
}
.dropdown-item{
  text-transform: uppercase;
  color: #19465f;
}
.page-header{
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    height: 400px;
}
.page-header .content{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
    padding:0 15px;
}
.hr-small{
    width: 50px;
    margin: 20px auto;
    border-color: #1c1d1d;
}
.black-btn{
    background: #1c1d1d !important;
    color: white;
    border: 0;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.9rem;
}
.black-btn:hover{
    transition: background-color 0.15s ease-out;
    background-color: #3a3c3c !important;
}
.black-title{
    font-family: 'Old Standard TT', serif;
    font-size: 1.9rem;
    color: #1c1d1d;
}
.seafoodFormContainer{
  .content{
      max-width: 400px;
      background: rgba(255, 255, 255, 0.5);
      padding: 30px;
  }
  .form-control{
    font-family: "Arapey",serif;
    font-style:oblique
  }
}
.small-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.big-title {
    font-size: 4rem;
    font-family: 'Old Standard TT', serif;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
}
.white-btn {
    display: inline-block;
    color: #000 !important;
    font-family: 'Montserrat', sans-serif;
    background: white;
    text-transform: uppercase;
    padding: 12px 20px;
    font-size: 0.9rem;
    text-decoration: none !important;
}
.white-btn i{
  margin-left:10px
}
/*search */
.search .row{
  margin-top:0
}
.products-section{
  padding:60px 0;
}
.search-result{
    padding: 20px;
    box-shadow: 2px 5px 20px -4px black;
    margin-bottom: 20px;
}
.product-result-title{
    color: #19465f;
    font-size: 2rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-style: normal;
    font-weight: 300;
    margin-bottom:40px;
}
.search-product-img img{
  width:auto;
  height:auto;
  max-width:100%;
  max-height:300px;
}
.search-product-img a{
    display: block;
    width: 100%;
    height: 100%;
}
.search-product-desc{
  text-align:left;
  color:#19465f
}
.products-section a {
    text-decoration: none !important;
}
.search-product-name{
  color:#19465f;
  font-size:1.5rem;
}
.search-price-type{
    display: block;
    font-weight: normal;
    font-size: 1rem;
}
.search-price{
    font-weight: bold;
    font-size: 1.5rem;
}
.seller-img{
    font-size: .8rem;
    margin-top: 10px;
}
/*footer */
footer{
  clear:both
}
.footer {
    font-family: "Arapey",serif;
    color: #1c1d1d;
    line-height: 1.563;
    padding-bottom: 30px;
}
.prefooter{
    background: #f6f6f6;
    padding: 60px 0;
    text-align: center;
}
.prefooter input[type='text']{
    border: 0;
    padding: 10px;
    max-width: 100%;
    font-family:"Arapey",serif;
    font-style:oblique;
    font-size:1.2rem
    
}
.subscribe-form{
  display: inline-block;
    padding: 10px;
    background: white;
}
.black-btn{
    background: #1c1d1d;
    color: white;
    border: 0;
    padding: 12px 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.9rem;
}
.black-btn:hover{
      transition: background-color 0.15s ease-out;
    background-color: #3a3c3c;
}
.show-on-desktop{
  display:none;
}
.footer li {
    list-style: none;
}
.footer a {
    color: #1c1d1d;
    text-decoration: none;
}
.big-hr {
    border-color: #1c1d1d;
    width: 50px;
    margin: 60px auto;
}
@media(max-width:768px){
  .small-title{
    font-size:0.9rem
  }
  .big-title{
    font-size:3.9rem;
  }
  .hide-on-mobile{
     display:none;
  }
  .show-on-desktop{
    display:inline-block
  }
  .check-icon, .x-icon{
    font-size:14px;
  }
  footer{
    text-align:center;
  }
  .search-product-img{
    margin-bottom:20px;
  }
}