<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="black-title">{{'LogisticManagment.title' | translate}}</h2>
      </div>
    </div>
    <div class="row">


      <div class="col-12 table-design" style="margin-top: 20px; margin-bottom: 20px" *ngIf="!showNoData">
        <div class="row">
          <div class="col-6">
            <p class="order-number size-40">Order</p>
          </div>
          <div class="col-6">
            <p class="order-number size-40">Items</p>
          </div>
        </div>
        <div *ngFor="let item of rows">

          <div class="row row-bg" *ngIf="item.items.length > 0">
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <p *ngIf="item.orderStatus" class="order-number text-uppercase" >{{item.orderStatus.status}}</p>
                </div>
                <div class="col-4">
                  <p class="order-number">Buyer Name</p>
                  <p class="order-number">Order Number</p>
                  <p class="order-number">Order Date</p>

                </div>
                <div class="col-8">
                  <p class="order-number"><strong>{{item.buyer.firstName}} {{item.buyer.lastName}}</strong></p>
                  <p class="order-number">{{item.orderNumber}}</p>
                  <p class="order-number">{{item.paidDateTime}}</p>
                </div>
              </div>

            </div>
            <div class="col-6">

              <div class="row">
                <div class="col-12 order-col" *ngFor="let i of item.items">


                  <ng-container>
                    <table class="full-table">

                      <tr *ngIf="i.fishItem.store">
                        <td>Seller Name:</td>
                        <td>{{i.fishItem.store.name}}</td>
                      </tr>
                      <tr>
                        <td>Product Title:</td>
                        <td [innerHtml]="i.fishItem.name"></td>
                      </tr>
                    </table>
                    <table class="mediana-tabla">
                      <tr *ngIf="i.fishItem.preparation">
                        <td>Preparation:</td>
                        <td>{{i.fishItem.preparation}}</td>
                      </tr>
                      <tr>
                        <td>Seller SKU:</td>
                        <td>{{i.fishItem.store.owner}}</td>
                      </tr>
                    </table>
                    <table class="medium-table">
                      <tr>
                        <td>Quantity:</td>
                        <td>{{i.quantity.value}} Kg</td>
                      </tr>

                      <tr>
                        <td>Price:</td>
                        <!-- <td>{{((item.quantity.value * item.price.value ) + item.shipping + item.customs + item.uaeTaxes + item.sfsMargin) | currency:'AED'}}</td> -->
                      </tr>
                    </table>

                    <table class="medium-table">
                      <tr>
                        <td>ATA:</td>
                        <td>{{i.buyerExpectedDeliveryDate}}</td>
                      </tr>


                    </table>
                    <!-- <h5 [innerHtml]="item.fish.name"></h5>                
                      <span *ngIf="item.store" class="store">{{item.store.name}}</span>               
                      <p *ngIf="item.status" class="status"><b>Status: </b>{{item.status.status}}</p> -->
                    <!-- <p class="qty">Quantity {{item.quantity.value}} kg</p>  
                      <p class="total">Total: {{((item.quantity.value * item.price.value ) + item.shipping + item.customs + item.uaeTaxes + item.sfsMargin) | currency:'AED'}}</p> -->
                  </ng-container>
                  <ng-container>
                    <table class="medium-table">
                      <tr>
                        <td>Status:</td>
                        <td>
                          
                          <select class="form-control" name="status" #device (change)="confirmUpdatestatus($event.target.value, i.id)">
                              <option *ngFor="let sitem of orderStatus;" [selected]="i.status == sitem.id" [ngValue]="sitem.id">
                                  {{sitem.status}}</option>    
                              
                                                                                            
                          </select>
                        </td>
                      </tr>
                    </table>
                  </ng-container>
                </div>

                <!-- <div class="col-4">
                   
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="showNoData" style="margin-bottom: 20px;">
        <h2 class="black-title">No records found</h2>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="confirmUpdateStatus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You want to update the status to {{selectedStatus}}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <button type="button" (click)="updateStatus()" class="blue-btn">Yes</button>
            <button type="button" (click)="noUpdate()" class="blue-btn-light">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
