<div class="container">
	<div class="row">
		<div class="col-12"><h3 class="black-title">{{'PendingOrders.title' | translate}}</h3></div>
  </div>
  <div class="row" >
    <div class="col-lg-4" *ngFor="let pendingProduct of pendingProducts; let i=index">
      <div class="product-card">
        <h2 class="name">
          {{pendingProduct.name}}
        </h2>          
        <span class="weight"><b>Weight: </b>{{pendingProduct.weight.value}} {{pendingProduct.weight.type}}</span>
        <span class="prepraration"><b>Preparation: </b>{{pendingProduct.preparation}}</span>
        <span class="treatment"><b>Treatment: </b>{{pendingProduct.treatment}}</span>
        <span class="minimunOrder"><b>Minimun Order: </b>{{pendingProduct.minimunOrder}}</span>
        <span class="quality"><b>Quality: </b>{{pendingProduct.quality}}</span>
        <span class="storeName"><b>Store: </b>{{pendingProduct.store.name}}</span>
        <span class="storeLocation"><b>Location: </b>{{pendingProduct.store.location}}</span>          
        <span class="price"><b>Price: </b>{{pendingProduct.price.value}} AED</span>
        <button class="button red-btn denied" (click)="showDeniedModal(pendingProduct.id)">Denied</button>
        <button class="button red-btn approved" (click)="showModal(pendingProduct.id)">Approve</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deniedProducts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Denie Products</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<!--<h5 style="font-family: 'Roboto', sans-serif; text-align: left;font-size: 1.2rem">User</h5>-->
						<hr class="black-line">	
						<form novalidate [formGroup]="deniedProductGroup" class="form-design">											

							<div class="form-group" >
								<label>{{'VerifyUser.reason' | translate}}</label>
								<textarea class="form-control" formControlName="denialMessage"></textarea>							
							</div>



							<button type="button" (click)="deniedProduct()" class="button red-btn approved">Save</button>
						</form>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" style="text-align: center;">Are you sure? </h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col">
						<button (click)="confirm(true)" class="blue-btn">Yes</button>
						<button (click)="confirm(false)" class="blue-btn-light">No</button>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>