.store-img{
  max-width:100%;
  height: auto;
  max-height: 100px;
}
.store-info{
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.previous, .next{
  margin-bottom: 20px;
}
.numberPage{
  margin-right: 10px;
  margin-bottom: 10px;
}
.active {
  background: #ee434a;
  color: white !important;
}
.pink-btn{
  padding: 10px 15px;
}