<div class="page-header" id="hero" style="background:url(../../assets/hero_slide.jpg)">
  <div class="content">
    <h3 class="small-title">{{'Search.small-title-banner'| translate}}</h3>
    <h1 class="big-title">{{'Search.big-title-banner'| translate}}</h1>
    <a href="" class="white-btn">{{'Search.banner-button'| translate}} <fa name="long-arrow-right"></fa></a>
  </div>
</div>
<div class="products-section">
<div class="container">
  <div class="row">
    <h2 class="product-result-title">
      {{'Search.result-title'| translate}}: <i style="font-size: 2rem">{{searchQuery}}</i>
    </h2>
    <div class="col-lg-12" *ngIf="showNotFound">
      <h1 class="notfound">{{'Search.no-result'| translate}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-lg-6 result" *ngFor="let product of products; let i=index">
      <div class="search-result">
        <div class="col-lg-12 search-product-img">
           <a routerLink="/product/{{product._id}}"><div [style.background-image]="image[i]" class="bg-img-prod"></div></a>
          <div class="btn-overlay">
            <a routerLink="/product/{{product._id}}"class="btn-green">{{'Search.view-button'| translate}}</a>
          </div>
        </div>
        <div class="col-lg-12 search-product-desc">
         <div class="row">
          <div class="col-lg-8 col-8">
            <a routerLink="/product/{{product._id}}"><h3 class="search-product-name">{{product.name}}</h3></a>
            <span class="coming-from">
              <b>{{'Search.location'| translate}}: </b>{{product.country}}
            </span>
            <div *ngIf="product.store==null; else showStore" class="owner">
              <b>{{'Search.owner'| translate}}: </b>
              <p>{{'Search.no-owner'| translate}}</p>
            </div>
            <ng-template #showStore>
              <div class="owner">
                <b>{{'Search.owner'| translate}}:</b> <br>
                 <a routerLink="/store/{{product.store.owner.id}}"> {{product.store.owner.firstName}} {{product.store.owner.lastName}} </a>
              </div>
            </ng-template>
            <div><b>{{'Search.description'| translate}}:</b><br>{{smallDesc(product.description)}}...</div>
          </div>
          <div class="col-lg-4 col-4">
            <div class="search-price">
              ${{product.price.value}} <br>
              <span class="search-price-type">{{product.weight.type}}</span>
            </div>
          </div>
         </div>
       </div>
       <div class="view-detail-cont">
          <a routerLink="/product/{{product._id}}" class="btn-green">{{'Search.view-button'| translate}}</a>
        </div>
     </div>
    </div>
  </div>
</div>
</div>