<div class="gray-bg">
  <div class="about-hero text-center">
    <h1>MEET OUR TEAM</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
          <div class="team-member-box">
            <div class="member-headshot sean">
              <div class="filter"></div>
              <div class="content-member-box">
                <p>Since being raised in Dubai, Sean has traveled the world adventuring and co-founding multiple tech start-ups. He now plans to revolutionize an industry with Marketplace and create an open (and awesome) work-place culture.
                </p>
                <p><strong>Words to live by:</strong> <span> "Be happy always"</span> 
                </p>
                <p>
                <strong>Best thing about working at Marketplace:</strong>  <span> "Focusing on something I’m passionate about and fixing a world problem with an epic team"</span> 
               </p>
              </div>
            </div>
              <div class="team-footer text-center">
                <h4>Sean Dennis</h4>
                <h4 class="uppercase">CEO & CO-FOUNDER</h4>
              </div>
          </div>
      </div>

      <div class="col-lg-4">
        <div class="team-member-box">
          <div class="member-headshot denis">
            <div class="filter"></div>
            <div class="content-member-box">
              <p>With operational and start-up experience from the UK to Dubai, Denis is passionate about fixing inefficiencies throughout the industry. His primary role is supporting the product and tech team to make sure everything is operating smoothly in the direction of the SFS mission.  
              </p>
              <p><strong>Words to live by:</strong> <span> "Real living is living for others"</span> 
              </p>
              <p>
              <strong>Best thing about working at Marketplace:</strong>  <span> "We have a great team where we all compete against the problem not each other"</span> 
             </p>
            </div>
          </div>
            <div class="team-footer text-center">
              <h4>Denis Konoplev</h4>
              <h4 class="uppercase">COO & CO-FOUNDER</h4>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
      <div class="team-member-box">
        <div class="member-headshot fahim">
          <div class="filter"></div>
          <div class="content-member-box">
            <p>Fahim is the Executive Chairman of the Department of Government Relations for the Emirate of Sharjah. Fahim is passionate about helping to improve transparency of sustainability of seafood and making sure our team creates value every day based on solid research and analytics.  
            </p>
            
            <p>
            <strong>Best thing about working at Marketplace:</strong>  <span> "The inclusive approach to working with the team and all our stakeholders, ensuring that sellers and buyers all benefit from our platform."</span> 
           </p>
          </div>
        </div>
          <div class="team-footer text-center">
            <h4>Fahim Al Qasimi</h4>
            <h4 class="uppercase">Co-founder & Chairman</h4>
          </div>
      </div>
  </div>

  <div class="col-lg-4">
    <div class="team-member-box">
      <div class="member-headshot ramie">
        <div class="filter"></div>
        <div class="content-member-box">
          <p>Known in the market as “Mr Oyster’ Ramie co-founded SFS based on his first hand experience of being a Seafood producer in the UAE. His industry knowledge formed the foundations for what is now our online marketplace.  
          </p>
          
          <p>
          <strong>Best thing about working at Marketplace:</strong>  <span> "Being able to see a very traditional and as yet pre-digitised industry through the lens of a fast moving tech startup."</span> 
         </p>
        </div>
      </div>
        <div class="team-footer text-center">
          <h4>Ramie Murray</h4>
          <h4 class="uppercase">Co-Founder</h4>
        </div>
    </div>
</div>

<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot saddam">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>Saddam comes with huge experience in logistics and ‘gets things done’ at SFS. His focus is making our supply chain as efficient as possible and is especially passionate about making sure the seller's product arrives to the buyer in its best form.  
        </p>
        <p><strong>Words to live by:</strong> <span> "Get it done"</span> 
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> "The team and being apart of a start-up like Marketplace is new and exciting!"</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Saddam Sabra</h4>
        <h4 class="uppercase">Logistics Manager</h4>
      </div>
  </div>
</div>


<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot omar">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>Omar heads up our operations at SFS. His background in mechanical engineering and experience in a family run business has brought him to pursue a passion for creating an unbiased marketplace that makes everyone happy.   
        </p>
        <p><strong>Words to live by:</strong> <span> "What goes around comes around"</span> 
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> "I’m part of a team that is treated as humans not resources and learning SO much every day"</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Omar Al Hasan</h4>
        <h4 class="uppercase">Head of Operations</h4>
      </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot amrit">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>Amrit’s role at SFS is to ensure products maintain optimum quality from Seller to Buyer.
          Previously working in a data-driven role at a large American Investment Bank Amrit has 
          experience thinking critically to create solutions.              
        </p>
        <p><strong>Words to live by:</strong> <span> "Only ever look back to see how far you’ve come"</span> 
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> "It feels good to be a part of a driven team of like-minded individuals"</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Amrit Morokar </h4>
        <h4 class="uppercase">Quality Manager</h4>
      </div>
  </div>
</div>


<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot osama">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>Osama is head of creating our product -  a multi-sided e-commerce platform, he particularly values the trust that this platform builds between buyers and sellers in an industry where they continue to be separated.             
        </p>
        <p><strong>Words to live by:</strong> <span> "Be kind"</span> 
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> "The people I work with and being apart of something that’s going to create a huge impact, we are all completely invested in what Marketplace is creating."</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Osama Al Muqbel</h4>
        <h4 class="uppercase">Head of Product</h4>
      </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot hameed">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>With experience ranging from web developing to design, Hameed works closely with Head of Product in the creation of the SFS platform. Hameed is passionate about providing a marketplace that allows for easier product discovery with complete traceability.             
        </p>
        <p><strong>Words to live by:</strong> <span> "If it doesn’t scare you it’s probably not worth it"</span> 
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> "The team and its culture gives me the desire to learn and develop as quickly as the company is"</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Hameed Abdulhameed</h4>
        <h4 class="uppercase">Product Manager</h4>
      </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot sophie">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>Sophie has worked and travelled internationally for the past 6 years, with previous experience in B2B e-commerce marketing her role at SFS is to increase brand awareness and educate on why Marketplace is transforming the industry.              
        </p>
        <p><strong>Words to live by:</strong> <span> "Always learn, always grow"</span> 
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> "The culture and working in a team that all genuinely believe in SFS’s mission to improve the current industry model for the benefit of all."</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Sophie Hunter-James</h4>
        <h4 class="uppercase">Marketing Manager</h4>
      </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot justin">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>With key accounts and culinary talent (as a Sous Chef), Justin has insight from the ground up. This helps him develop lasting relationships with Seafood buyers and sellers to help change the industry for their benefit with SFS.              
        </p>
        <p><strong>Words to live by:</strong> <span> "Where there is a will, there is a way"</span> 
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> "The never ending learning and the opportunity to make chef’s lives easier"</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Justin Williams</h4>
        <h4 class="uppercase">Outreach Development Manager</h4>
      </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot kharron">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>Based in San Diego, Kharron manages our international tech team.  With experience running two digital companies that built hundreds of Web & Mobile apps Kharron is now passionate about being apart of a company that can fix an industry wide issue of traceability              
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> "The people"</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Kharron Reid</h4>
        <h4 class="uppercase">Director of Technology</h4>
      </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot brittany">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>Brittany, based in North Carolina is passionate about creating an attractive online marketplace with the best user experience for buyers and sellers.               
        </p>
        <p><strong>Words to live by:</strong> <span> "How things begin is not nearly as important as how they end"</span> 
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> "The people I work with are amazing and there’s no stifling of creativity at SFS you’re encouraged to dream big"</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Brittany Vick</h4>
        <h4 class="uppercase">Senior UI/UX Designer</h4>
      </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="team-member-box">
    <div class="member-headshot ron">
      <div class="filter"></div>
      <div class="content-member-box">
        <p>Based in the US with over 15 years of experience in Software Testing (QA) Ron is passionate about improving the process of buying and selling seafood with technology. His focus at SFS is testing and software quality improvements.
        </p>
        <p><strong>Words to live by:</strong> <span> "The only luxury is time"</span> 
        </p>
        <p>
        <strong>Best thing about working at Marketplace:</strong>  <span> " love that the team is distributed across several countries and time zones, but still is able to maintain an awesome culture and remain focused on our goals."</span> 
       </p>
      </div>
    </div>
      <div class="team-footer text-center">
        <h4>Ron Harley</h4>
        <h4 class="uppercase">Head of Software</h4>
      </div>
  </div>
</div>

    </div>
  </div>
</div>