table {
    width: 100%;
}
tr {
    border-bottom: 1px solid #ccc;
}
td {
    width: 50%;
}
button.deleteButton {
    background-color: #ebf1f600;
    /* -webkit-appearance: none; */
    border: none;
    display: inline-block;
    width: 80px;
    margin: 10px;
    color: #eb1c24;
    font-size: 1.2em;
    cursor: pointer;
}