<div class="container">
	<div class="row">
		<div class="col-12">
			<h2 class="black-title">{{'Orders-items.title' | translate}}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="col-12 text-center" *ngIf="showLoading"><img src="../../assets/loader.gif" alt=""></div>
		</div>
	</div>
	<div *ngIf="showData"> 
					<div class="row" style="padding-top: 20px; padding-bottom: 20px;">
					  <div class="col-md-9"></div>
					  <div class="col-md-3 text-right">
						<a routerLink="/orders" class="btn-red-a">{{'Orders-items.back-orders' | translate}}</a>
					  </div>
					</div>
					<div class="table-design">
					  <div class="row row-bg" *ngFor="let product of products; let i=index">
						<div class="col-md-2">
						  <div class="box-input">
							<input type="number" [value]="product.quantity.value" disabled>
						  </div>
						</div>
						<div class="col-md-2">
						  @ ${{(product.price.value).toFixed(2)}}
						</div>
						<div class="col-md-3">
						  <div class="product-name">
							<a routerLink="/product/{{product.fish.id}}">{{product.fish.name}}</a>
							<hr class="black-line">
						  </div>
						  <div class="product-description">
							{{product.fish.description}}
							<p *ngIf="product.status" >{{product.status.status}}</p>
						  </div>
						</div>
						<div class="col-md-2 text-center">							
							${{ ((product.quantity.value * product.price.value )).toFixed(2) }}
						</div>
						<div class="col-md-1">
								<div class="actions">
										<fa name="heart-o" (click)="submitFavorite(product.favorite.msg, product.fish.id, product.favorite.id)" *ngIf="!product.favorite.msg; else favorite"></fa>
										  <ng-template #favorite><fa name="heart" (click)="submitFavorite(product.favorite.msg, product.fish.id, product.favorite.id)" class="isfavorite"></fa></ng-template>
									</div>
							
						</div>
						<div class="col-md-2">
							<button *ngIf="product.status.id== '5c017ae247fb07027943a404' || product.status.id == '5c017af047fb07027943a405'" (click)="cancelOrder(product.id)" class="btn-red-a">{{'Orders-items.cancel-item' | translate}}</button>
						</div>
					  </div>
					</div>
					<div class="row" >
						<div class="col-md-12" style="padding-bottom: 20px;">
						  <hr class="cart-divider">
						</div>
						<div class="col-md-3">
						</div>
						<div class="col-md-7 text-right">
						  <h3 class="subtotal">{{'Orders-items.total' | translate}} &nbsp;&nbsp;&nbsp;   ${{total}}</h3>
						  <br>
						</div>
						
					</div>
				  
		
	</div>
</div>
<div class="comment-container" *ngIf="showForm" >
	<div class="outside" (click)="closeForm()"></div>
	<div class="content">
		<h2 class="black-title">{{'Orders-items.review-title' | translate}}</h2>
		<hr class="hr-small">
		<div class="start">
			<span *ngFor="let star of Stars"><fa name="star" (click)="getstar(star)" [ngClass]="{'is-active':star<=count}"></fa></span>
		</div>
		<form [formGroup]="reviewForm" (submit)="sendReview()" class="form-design">
			<div class="form-group">
				<label>{{'Orders-items.review-message' | translate}}</label>
				<textarea class="form-control" placeholder="{{'Orders-items.review-message' | translate}}" formControlName="comment" [ngClass]="{'is-invalid':reviewForm.get('comment').invalid && reviewForm.get('comment').touched}"></textarea>
          		<div class="invalid-feedback" *ngIf="reviewForm.get('comment').hasError('required')">{{'Orders-items.is-invalid' | translate}}.</div>
			</div>
			<input type="submit" class="btn-red" value="{{'Orders-items.send' | translate}}" [disabled]="reviewForm.invalid">
		</form>
	</div>
</div>