.shoppingcart{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 150px;
}
.carts{
	align-items: center;
    box-shadow: 2px 5px 20px -4px black;
    margin-bottom: 20px;
    padding: 20px 0;
    .title{
    	display: block;
	    text-decoration: none;
	    font-size: 1.2rem;
    }
}
.pink-btn{
	margin-bottom: 20px
}
.buttons{
	text-align: center;
	margin-top: 20px;
}
.black-btn{
	text-transform: capitalize;
	display: inline-block;
	margin-bottom: 5px;
    text-decoration: none;
    color: white !important;
}
.black-title{
	margin-bottom: 40px;
	margin-top: 40px
}
.title{
	color: #19465f;
    font-weight: 600;
    font-size: 1.2rem;
}
.comment-container{
	position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    .outside{
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	z-index: 8;
    }
	.content{
	  	position: absolute;
		max-width: 500px;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		padding: 20px 40px;
		background: white;
		box-shadow: 2px 5px 20px -4px black;
		z-index: 10;
	}
	.is-active{
		color: #e6df03
	}
	.start{
		margin-bottom: 20px;
	}
}

.product-cont{
	border: 2px solid #ebf1f6;
    padding: 10px 20px;
    margin-bottom: 20px;
    .product-img {
	    width: 100%;
	    height: 200px;
	    background-size: cover;
	    background-position: center;
	    border-top-right-radius: 40px;
	    clear: both;
	    border-bottom-right-radius: 15px;
	}
    .sold{
		font-family: Avenir;
	    font-weight: lighter;
	    text-transform: capitalize;
	    color:black;
	}
	.price{
	    font-size: 1.2rem;
	    color: #eb1c24;
	    font-family: Avenir;
	    font-weight: bold;
	    display: block;
	    text-transform: uppercase;
	  }
	.hr-small{
		background: black;
	    height: 1px;
	    width: 80px;
	    margin: 20px 0;
	}
	.content{
		padding: 20px 0 5px;
	    border-top: 2px solid #f0f2f3;
	    margin-top: 5px;
	    a{
	    	text-decoration: none !important;
	    }
	}
	.name{
		font-family: Avenir;
	    font-weight: bold;
	    color: black;
	    text-transform: uppercase;
	    font-size: 1.6rem;
	    letter-spacing: 2px;
	}
}