$ligth-bg:#ebf1f6;
#hero{
  height: -moz-calc(100vh - (63px));
  height: -webkit-calc(100vh - (63px));
  height: calc(100vh - (63px));
  background: url(../../assets/bg-homepage-2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.container{
    height: 100%;
}
.content{
  padding-left: 10px;
}
.welcome-title{
  width: auto;
  max-width: 331px;
  height: 133px;
  font-family: Roboto;
  font-size: 52px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f5f5f5;
  font-family: 'Josefin Sans', sans-serif;

}
.subtitle{
  width: auto;
  max-width: 331px;
  height: 98px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f5f5f5;
  font-family: 'Josefin Sans', sans-serif;

}
.buyer-title{
  width: 504px;
  height: 63px;
  font-size: 48px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
}
.means{
   width: 505px;
  height: 30px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;

}
.buyer-value{
  width: 504px;
  height: 55px;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  color:#000;
}
.blue-btn{
  border: 1px solid #7484AA;
  padding: 10px 20px;
  border-radius: 3px;
  color: #7484AA !important;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  background: #fff !important;
  height: auto;
}
.buyer-content{
  position: absolute;
  top: 19px;
  right: 15px;
  text-align: right;
  z-index: 99
}
.seller-content{
  position: absolute;
  bottom: 19px;
  right: 15px;
  text-align: right;
  z-index: 99
}
.overlay-bn{
  // opacity: .8;
  background: url(../../assets/PageBackgrounds-02.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
}
@media(min-width: 1450px){
  .container{
    max-width: 1440px;
  }
  .content{
    padding-left: 208px;
}
}
@media(max-width: 768px){
  .welcome-title{
    height: inherit;
    font-size: 30px;
  }
  .subtitle{
    font-size: 25px;
    height: inherit;
  }
  .blue-btn{
    font-size: 14px;
    width: auto;
    height: 40px;
  }
  .buyer-value, .buyer-title, .means{
    height: 30px;
    font-size: 20px;
  }
}

.gray-bg{
  background-color: #F7F8F9;
  .bordered-row{
    border-bottom: 1px solid #e4e6e9;
   
    padding-top: 140px;
    padding-bottom: 140px;
    .custom-section{
      max-width: 750px;
      margin: 0 auto;
      width: 100%;
      .title-bold{
        font-size: 35px;
        font-family: 'Josefin Sans', sans-serif;
        color: #7484AA;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .title-light{
        font-size: 26px;
        font-family: 'Josefin Sans', sans-serif;
        color: #7484AA;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .row{
        align-items: center;
        .box-content{
          h4{
            color: #7484AA;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 20px;
          }
          p{
            color: #0D1321;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            max-width: 270px;
            padding-bottom: 10px;
          }
          a{
            border: 1px solid #7484AA;
            padding: 10px 20px;
            border-radius: 3px;
            color: #7484AA;
            text-transform: uppercase;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            font-size: 13px;
            margin-top: 20px;
          }
          a:hover{
            text-decoration: none;
          }
        }
      }
    }
    .nav-tabs{
      justify-content: center;
      align-items: center;
    }
    .nav-tabs .nav-link{
      color: #7484AA !important;
      text-transform: uppercase;
      letter-spacing: 1.75px;
      background: none;
      border: none;
      padding: 15px 80px;
      font-weight: 300;
      font-size: 30px;
    }

    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
      color: #3E4E75 !important;
      text-transform: uppercase;
      letter-spacing: 1.75px;
      background: none;
      border: none;
      border-bottom: 4px solid #3E4E75;
      padding: 15px 80px;
      font-weight: 300;
      font-size: 30px;
    }
    .tab-pane{
      padding-top: 140px;
    }
  }
 
}

@media screen and (max-width: 768px){
  .nav-tabs .nav-link,  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    font-size: 20px !important;
    padding: 10px 15px !important;
  }

  .bordered-row{
    padding-top: 70px !important;
    padding-bottom: 70px !important;
    .custom-section{
      .row{
        text-align: center;
        .box-content{
          text-align: center;
          margin-bottom: 50px;
          margin-top: 50px;
          p{
            margin: 1rem auto;
          }
        }
  
        img{
          margin: 1rem;
          width: 150px;
        }
      }
    }
  }
 

  
}
