<div class="page-header homepage" id="hero">
  <img src="../../assets/loader.gif" alt="" class="loading" *ngIf="showLoading">
  <div class="overlay"></div>
  <video width="100%" height="auto" autoplay="" muted="" loop="" style="background:transparent no-repeat 0 0; background-size:cover;" class="video-background">
        <source [src]='videoURLSafe' type="video/mp4">
  </video>
  <!-- <iframe  frameborder="0" allowfullscreen  muted loop></iframe> -->
    <div class="content">
      <h3 class="small-title">{{ "Home.small-title-banner" | translate }}</h3>
      <h1 class="big-title">{{ "Home.big-title-banner" | translate }}</h1>
      <a href="" class="white-btn">{{ "Home.banner-button" | translate }}<fa name="long-arrow-right"></fa></a>
    </div>
</div>
<div class="products-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title">{{"Home.title" | translate}}</h2>
        <hr class="hr-small">
      </div>
    </div>
    <div class="content-products">
      <ng-container *ngFor="let product of products; let index = index">
        <div class="big-product" *ngIf="index==0 || index == 3 || index == 6; else otherSide">
          <a routerLink="/product/{{product.id}}">
            <div class="img-container">
              <img src="../../assets/default-img-product.jpg" class="big-img" *ngIf="product.images==null">
              <img src="{{API+product.images[0].src}}" class="big-img" *ngIf="product.images!=null" alt="{{product.images[0].filename}}">
            </div>
            <p class="product-name">{{product.name}} - {{product.price.type}}{{product.price.value}}</p>
          </a>
        </div>
        <ng-template #otherSide>
          <div class="small-product">
            <a routerLink="/product/{{product.id}}">
              <div class="img-container">
                <img src="../../assets/default-img-product.jpg" class="small-img" *ngIf="product.images==null">
                <img src="{{API+product.images[0].src}}" class="small-img" *ngIf="product.images!=null" alt="{{product.images[0].filename}}">
              </div>
              <p class="product-name">{{product.name}} - {{product.price.type}}{{product.price.value}}</p>
            </a>
          </div>
        </ng-template>
      </ng-container>
    </div>
    <div class="row featuredSeller">
      <div class="col-12">
        <h2 class="title">{{"Home.featuredSeller" | translate}}</h2>
        <hr class="hr-small">
      </div>
      <div class="col-4" *ngFor="let featuredSeller of featuredSellers; let i=index">
        <div class="logo" [style.background-image]="logos[i]"></div>
        <div class="store-content">
          <a routerLink="store/{{featuredSeller.id}}">{{featuredSeller.name}}</a>
        </div>
      </div>
    </div>
  </div>
</div> 