<div class="page-header homepage" id="hero">
  <img src="../../assets/loader.gif" alt="" class="loading" *ngIf="showLoading">
  <div class="overlay"></div>
  <video width="100%" height="auto" autoplay="" muted="" loop="" style="background:transparent no-repeat 0 0; background-size:cover;" class="video-background">
        <source src='../../assets/WaterSeaOcean.mp4' type="video/mp4">
  </video>
  <!-- <iframe  frameborder="0" allowfullscreen  muted loop></iframe> -->
    <div class="content">
      <h3 class="small-title">{{ "Home.small-title-banner" | translate }}</h3>
      <h1 class="big-title">{{ "Home.big-title-banner" | translate }}</h1>
      <a href="" class="white-btn">{{ "Home.banner-button" | translate }}<fa name="long-arrow-right"></fa></a>
    </div>
</div>
<div class="products-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title">{{"Home.about" | translate}}</h2>
        <hr class="hr-small">
      </div>
      <div class="col-12 about-us">
        <p>
          {{'Home.about-text' | translate}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="title">{{"Home.title" | translate}}</h2>
        <hr class="hr-small">
      </div>
    </div>
    <div *ngIf="loadProduct; else showContent"><img src="../../assets/loader.gif" alt=""></div>
    <ng-template #showContent>
    <div class="content-products">
      <ng-container *ngFor="let product of products; let i = index">
        <div class="big-product" *ngIf="i==0 || i == 3 || i == 6; else otherSide">
          <a routerLink="/product/{{product.id}}">
            <div class="img-container">
              <!-- <img src="../../assets/default-img-product.jpg" class="big-img" *ngIf="product.images==null"> -->
              <img src="{{images[i]}}" class="big-img">
            </div>
            <p class="product-name">{{product.name}} - {{product.price.type}}{{product.price.value}}</p>
          </a>
        </div>
        <ng-template #otherSide>
          <div class="small-product">
            <a routerLink="/product/{{product.id}}">
              <div class="img-container">
                <img src="{{images[i]}}" class="small-img">
              </div>
              <p class="product-name">{{product.name}} - {{product.price.type}}{{product.price.value}}</p>
            </a>
          </div>
        </ng-template>
      </ng-container>
    </div>
    </ng-template>
    <div class="row featuredSeller">
      <div class="col-12">
        <h2 class="title">{{"Home.featuredSeller" | translate}}</h2>
        <hr class="hr-small">
      </div>
      <div class="col-lg-4 col-md-6 featuredSellerItem" *ngFor="let featuredSeller of featuredSellers; let i=index">
        <a routerLink="store/{{featuredSeller.id}}"><img class="logo" src="{{logos[i]}}"/></a>
        <div class="store-content">
          <a routerLink="store/{{featuredSeller.id}}">{{featuredSeller.name}}</a>
        </div>
      </div>
    </div>
    <div class="row fish-categories">
      <div class="col-12">
        <h2 class="title">{{"Home.fist-type" | translate}}</h2>
        <hr class="hr-small">
      </div>
      <div class="col-lg-4 col-md-4 cat-img-3" style="background: url(../assets/salmon.jpg)">
        <div class="overlay-cat">
          <div class="cat-content">
            <a routerLink="/archive-product/salmon"><h3 class="title-cat">salmon</h3></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 cat-img-3" style="background: url(../assets/tuna.jpg)">
        <div class="overlay-cat">
          <div class="cat-content">
            <a routerLink="/archive-product/Tuna"><h3 class="title-cat">Tuna</h3></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 cat-img-3" style="background: url(../assets/Oysters.jpg)">
        <div class="overlay-cat">
          <div class="cat-content">
            <a routerLink="/archive-product/Oysters"><h3 class="title-cat">oysters</h3></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 cat-img-2" style="background: url(../assets/caviar.jpg);">
        <div class="overlay-cat">
          <div class="cat-content">
            <a routerLink="/archive-product/Caviar"><h3 class="title-cat">caviar</h3></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 cat-img-2" style="background: url(../assets/accesories.jpg);">
        <div class="overlay-cat">
          <div class="cat-content">
            <a routerLink="/archive-product/Accesories"><h3 class="title-cat">accesories</h3></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>