<div class="container" *ngIf="role>=0 && role<2; else noAllow">
	<div class="row">
		<div class="col-12">
			<h2 class="black-title">{{'Document.list' | translate}}</h2>
		</div>
		<div class="col-12" *ngIf="noDocument">
			<h4>{{'Document.no-document' | translate}}</h4>	
		</div>
		<div class="col-12">
			<div class="col-12 table-design">
		    	<div class="row row-bg" *ngFor="let document of documents">
		    		<div class="col">
		    			<label>{{getName(document)}}</label>
		    		</div>
		    		<div class="col">
		    			<a (click)="goFile(document)" class="link">{{'Document.download' | translate}}</a>
		    		</div>
		    		<div class="col" *ngIf="role==0">
		    			<img src="../../assets/trash-icon.png" alt="" (click)="deleteFile(document)" class="delete">
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>
	<div class="row" *ngIf="role==0">
			<div class="col-12">
				<h2 class="black-title">{{'Document.title' | translate}}</h2>
			</div>
			<div class="col form-design">
				<div class="form-group">
					<label>{{'Document.select' | translate}}</label>
				    <input type="file" id="file" multiple (change)="handleFileInput($event.target.files)" required class="form-control">
			  	</div>
			  <div class="form-group">
			  	<input type="submit" class="btn-red" value="{{'Document.send' | translate}}" (click)="saveDocument()">
			  </div>
			</div>
		</div>
</div>
<ng-template #noAllow>
	<div class="container">
		<div class="row">
			<div class="col">
				{{'Document.message' | translate }}
			</div>
		</div>
	</div>
</ng-template>