.container{
	padding: 100px 15px;
}
.link{
    color: #eb1c24 !important;
    cursor: pointer;
}
.delete{
	width: 20px;
}
.row-bg{
	text-align: center;
}
h4{
	font-family: 'Roboto', sans-serif;
    color: #969696;
    text-transform: capitalize;
}