.not-found-grid{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: red;
}
.background-img{
	position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
}
.editPassword{
    margin-top: 20px;
    cursor: pointer;
}