.pink-btn{
	background: transparent;
}
.addchild{
	cursor: pointer;
}
.child-title{
	margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}
.children{
	list-style-type: none;
    padding-left: 15px;
}
.select2{
	width: 100% !important;
}
.form-group{
	background: #ebf1f6 !important;
    border-radius: 6px;
    padding: 10px;
}
.del{
	cursor: pointer;
}