.save{
	cursor: pointer;
    color: #ec4343;
    float: right;
    margin-right: 10px;
    font-size: 1.3rem;
}
.notfound{
	text-align: center;
    font-size: 2rem;
    font-family: Avenir;
    margin-bottom: 20px
}
.date a{
	color: inherit !important;
	text-decoration: none !important;
}
.black-title{
	margin: 20px 0
}