<div *ngIf="showLoading; else showContent" style="text-align: center;">
	<img src="../../assets/loader.gif" alt="" class="loading">
</div>
<ng-template #showContent>
	<div class="container">
	  <div class="row" *ngIf="showPending">
	    <div class="col-lg-12">
	      <h1 class="notfound">{{'Comments.no-pending'| translate}}</h1>
	    </div>
	  </div>
	  <div class="row" *ngIf="!showPending">
		<div class="col-12">
			<h2 class="black-title">{{'Comments.pending-title' | translate}}</h2>
      		<hr class="hr-small">
			<table class="table table-striped">
		        <thead>
		          <tr>
		            <th scope="col">{{'Comments.buyer' | translate}}</th>
		            <th scope="col">{{'Comments.store' | translate}}</th>
		            <th scope="col">{{'Comments.comment' | translate}}</th>
		            <th scope="col">{{'Comments.stars' | translate}}</th>
		            <th scope="col">{{'Comments.accept' | translate}}</th>
		            <th scope="col">{{'Comments.delete' | translate}}</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr *ngFor="let pendingcomment of pendingcomments">
		            <td>{{pendingcomment.buyer.firstName}} {{pendingcomment.buyer.lastName}}</td>
		            <td>{{pendingcomment.store.name}}</td>
		            <td>{{pendingcomment.comment}}</td>
		            <td>{{pendingcomment.stars}}</td>
		            <td><span (click)="acceptComment(pendingcomment.id)" class="save"><fa name="check"></fa></span></td>
		            <td><span (click)="deleteComment(pendingcomment.id)" class="delete"><fa name="remove"></fa></span></td>
		          </tr>
		        </tbody>
		    </table>
		</div>
	  </div>
	  <div class="row" *ngIf="!showAcceptedComments">
	  	<div class="col-lg-12">
	      <h1 class="notfound">{{'Comments.no-comments'| translate}}</h1>
	    </div>
	  </div>
	  <div class="row" *ngIf="showAcceptedComments">
	  	<div class="col-lg-12">
	      	<h2 class="black-title">{{'Comments.comment-title' | translate}}</h2>
      		<hr class="hr-small">
      		<table class="table table-striped">
		        <thead>
		          <tr>
		            <th scope="col">{{'Comments.buyer' | translate}}</th>
		            <th scope="col">{{'Comments.store' | translate}}</th>
		            <th scope="col">{{'Comments.comment' | translate}}</th>
		            <th scope="col">{{'Comments.stars' | translate}}</th>
		            <th scope="col">{{'Comments.delete' | translate}}</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr *ngFor="let acceptedComment of acceptedComments">
		            <td>{{acceptedComment.buyer.firstName}} {{acceptedComment.buyer.lastName}}</td>
		            <td>{{acceptedComment.store.name}}</td>
		            <td>{{acceptedComment.comment}}</td>
		            <td>{{acceptedComment.stars}}</td>
		            <td><span (click)="deleteComment(acceptedComment.id)" class="delete"><fa name="remove"></fa></span></td>
		          </tr>
		        </tbody>
		    </table>
	    </div>
	  </div>
	</div>
</ng-template>