<div class="container" style="padding-top:50px;">
    <div class="row">
      <div class="col-12"><h3 class="title">{{'ManageCountries.title'| translate}}</h3></div>
      <div class="col-12"><h3 class="title">{{'ManageCountries.formTitle' | translate}}</h3></div>
      <div class="col-md-12">
        <form novalidate [formGroup]="myform"  class="form-design">
          <div class="row">
            
            <div class="col-md-4">
              <div class="form-group" >
                <label>{{'ManageCountries.Country' | translate}}</label>
                <select id="type" class="form-control" formControlName="country" >
                    <option value="{{country.id}}" *ngFor="let country of countries">{{country.name}}</option>
                </select>
              </div>
            </div>
  
            <div class="col-md-4">
              <div class="form-group" >
                <label>{{'ManageCountries.ETA' | translate}}</label>                
                <input class="form-control" type="number" formControlName="eta">                    
              </div>
            </div>
  
            <div class="col-md-4">
              <button type="button" (click)="saveExpectedDeliveryDate()" class="btn-red">Save</button>
            </div>
  
          </div>
        </form>
      </div>
    </div><!--end row-->

  <div class="row curresntPricing">
      <div class="col-md-12">      
          <h3>{{'ManageCountries.Countries' | translate}}</h3>
      </div>
      <div class="col-md-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">{{'ManageCountries.Country' | translate}}</th>
                <th scope="col">{{'ManageCountries.ETA' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let ccounrty of countries">
                <td> {{ccounrty.name}} </td>
                <td> {{ccounrty.eta}} </td>
              </tr>              
            </tbody>
          </table>
      </div>
    </div><!--end row-->
  
  <div class="modal confirmUpdate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">SeafoodSouq</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to update <span id="mtype"></span> to <span id="mprice"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="savePricing()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>