.page-header{
    position: relative !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 60px 0 !important;
}
.page-header .content{
    margin: 0 auto !important;
    text-align: center !important;
    position:relative;
    transform: none;
    top: 0;
    left: 0;
}