<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="title">{{'FishType.add' | translate}}</h2>
      <form [formGroup]="categoryForm" (submit)="addCategory()" class="form-design">
        <div class="form-group">
          <label>{{'FishType.name' | translate}}</label>
          <input type="text" class="form-control" placeholder="{{'FishType.name' | translate}}" formControlName="name" [ngClass]="{'is-invalid':categoryForm.get('name').invalid && categoryForm.get('name').touched}">
          <div class="invalid-feedback" *ngIf="categoryForm.get('name').hasError('required')">{{'FishType.name' | translate}} {{'FishType.required' | translate}}</div>
        </div>
        <div class="form-group">
          <label>{{'FishType.description' | translate}}</label>
         <textarea class="form-control" placeholder="{{'FishType.description' | translate}}" formControlName="description" [ngClass]="{'is-invalid':categoryForm.get('description').invalid && categoryForm.get('description').touched}"></textarea>
          <div class="invalid-feedback" *ngIf="categoryForm.get('description').hasError('required')">{{'FishType.description' | translate}} {{'FishType.required' | translate}}</div>
        </div>
        <div class="form-group">
          <label>{{'FishType.image' | translate}}</label>
          <input type="file" (change)="uploadImage($event.target.files)" class="form-control" id="inputImg">
          <div class="row">
            <div class="col">
              <img src="" height="200" alt="Image preview..." id="previewImg">
            </div>
            <div class="col" *ngIf="showImage">
              <h4>{{'FishType.current-image' | translate}}</h4>
              <img src="{{currentImage}}" height="200">
            </div>
          </div>
        </div>
        <div class="form-group">
         <button type="submit" class="btn-red" [disabled]="categoryForm.invalid">{{buttonLabel}}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="title">{{'FishType.types' | translate}}</h2>
      <div class="row">
        <div class="col table-design">
          <div class="row row-bg" *ngFor="let category of orgCats; let i=index">
            <div class="col text-left">
              <label>{{category.name}}</label>
              
            </div>
            <div class="col">
              <span (click)="edit(i,category.id)" class="edit"><fa name="pencil"></fa></span>
            </div>
            <div class="col">
              <img src="../../assets/trash-icon.png" alt="" (click)="deleteCategory(category.id)" class="delete">
            </div>
            <div class="col-12">
                <ul>
                    <li *ngFor="let sub of category.childsTypes; let i = index">
                      <div class="row">
                        <div class="col text-left">
                          <label [innerHtml]="sub.child.name"></label>
                        </div>
                        <div class="col">
                            <span (click)="editSub(sub.child.id, sub.child)" class="edit"><fa name="pencil"></fa></span>
                        </div>
                        <div class="col">
                            <img src="../../assets/trash-icon.png" alt="" (click)="deleteCategory(sub.child.id)" class="delete">
                        </div>
                      </div>
                      </li>
                  </ul>
            </div>
          </div>
        </div>
      </div>
<!--       <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{'FishType.name' | translate}}</th>
            <th scope="col">{{'FishType.edit' | translate}}</th>
            <th scope="col">{{'FishType.delete' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>