.container{
	padding: 150px 15px;
}
.title{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
#previewImg{
	margin-top:20px;
	max-width: 100%;
	display: none;
}
form, table{
	width: 60%;
    margin: 0 auto;
    color:#19465f
}
.table-design{
	text-align: center;
    max-width: 60%;
    margin: 0 auto;
}
ul {
	margin-left: 0px !important;
	padding-left: 0px !important;
}
.level-1 {
	padding-left: 15px;
}
.level-2 {
	padding-left: 30px;
}
.level-3 {
	padding-left: 45px;
}
a, a label {
	cursor: pointer;
}
 
@media(max-width: 768px){
	form, table{
		width: 100%;
	}
	.table-design{
		max-width: 100%;
	}
}