.container{
	padding: 100px 15px;
}
.title{
  font-family: 'Old Standard TT', serif;
  text-align:center;
}
#previewImg{
	margin-top:20px;
	max-width: 100%;
	display: none;
}
form, table{
	width: 60%;
    margin: 0 auto;
    color:#19465f
}
.delete{
	cursor: pointer;
	color: #ec4343;
}
.edit{
	cursor: pointer;
	color: #19465f;
}
@media(max-width: 768px){
	form, table{
		width: 100%;
	}
}