<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="title">{{'FishType.add' | translate}}</h2>
      <hr class="hr-small">
      <form [formGroup]="categoryForm" (submit)="addCategory()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{'FishType.name' | translate}}" formControlName="name" [ngClass]="{'is-invalid':categoryForm.get('name').invalid && categoryForm.get('name').touched}">
          <div class="invalid-feedback" *ngIf="categoryForm.get('name').hasError('required')">{{'FishType.name' | translate}} {{'FishType.required' | translate}}</div>
        </div>
        <div class="form-group">
         <textarea class="form-control" placeholder="{{'FishType.description' | translate}}" formControlName="description" [ngClass]="{'is-invalid':categoryForm.get('description').invalid && categoryForm.get('description').touched}"></textarea>
          <div class="invalid-feedback" *ngIf="categoryForm.get('description').hasError('required')">{{'FishType.description' | translate}} {{'FishType.required' | translate}}</div>
        </div>
        <div class="form-group">
          <input type="file" (change)="uploadImage($event.target.files)" class="form-control" id="inputImg">
          <div class="row">
            <div class="col">
              <img src="" height="200" alt="Image preview..." id="previewImg">
            </div>
            <div class="col" *ngIf="showImage">
              <h4>{{'FishType.current-image' | translate}}</h4>
              <img src="{{currentImage}}" height="200">
            </div>
          </div>
        </div>
        <div class="form-group">
         <button type="submit" class="black-btn" [disabled]="categoryForm.invalid">{{buttonLabel}}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="title">{{'FishType.types' | translate}}</h2>
      <hr class="hr-small">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">{{'FishType.name' | translate}}</th>
            <th scope="col">{{'FishType.edit' | translate}}</th>
            <th scope="col">{{'FishType.delete' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories; let i=index">
            <td>{{category.name}}</td>
            <td><span (click)="edit(i,category.id)" class="edit"><fa name="pencil"></fa></span></td>
            <td><span (click)="deleteCategory(category.id)" class="delete"><fa name="remove"></fa></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>